extends _layout/layout

block variables
	- var title = 'Lương Quới'
	- var bodyclass = ''

block body 
	include _layout/header
	main
		//- include _layout/breadcrumb2
		include _pages/ct-tintuc2
	include _layout/footer2