.breadcrumb-wrap
	+pos(rel,null)
	.breadcrumb-bg
		height: 250px
		filter: brightness(80%)
		+media-breakpoint-down(lg)
			height: 250px
	.page-name
		@extend .title
		+fs(60rem)
		color: $white
		text-align: center
		+pos(abs, 80px 0 null 0)