.contact-page
.address-section
	@extend .home-section
	.address-item
		padding: 30px
		+bor-rad(5px)
		height: 100%
		border: 1px dashed darken($white,10%)
		&:hover
			background: lighten($color-default,50%)
			.name
				color: $color-default
		.name
			@extend .title
			+fs(28rem)
			min-height: 66px
			margin-bottom: 20px
		.des
			opacity: 0.8
			line-height: 2
.contact-form
	+pos(rel,null)
	&:before
		content: ''
		display: block
		+pos(abs, 0 null 0 0)
		right: 50%
		background: $color-primary
	.form-wrap
		padding: 120px 0
		background: $color-primary
		color: $white
		padding-right: 120px
		.module-title
			@extend .home-title
		.form-row
			margin: 0px -10px
			.col-12
				padding: 0px 10px
		.form-group
			margin-bottom: 20px
		input, textarea
			padding: 20px 30px
			+bor-rad(5px)
			border: none
			+fs(14rem)
		textarea
			min-height: 150px
		input[type="submit"]
			background: $color-default
			color: $white
			width: auto
			text-transform: none
			font-weight: 500
			+fs(18rem)
			padding: 15px 60px
	.content-block
		padding-left: 120px
		.img-block
			text-align: center
			margin-bottom: 40px
			img
				width: 360px
		.content
			line-height: 2