.horizon-nav
	+pos(rel,null)
	ul
		+flexbox
		justify-content: center
		+bor-rad(5px 5px 0 0)
		overflow: hidden
		background: darken($color-primary,0%)
		+pos(abs, null null 0 50%)
		+transform(translateX(-50%))
		li
			a
				display: block
				+bor-rad(5px 5px 0 0)
				+fs(13rem)
				letter-spacing: 1px
				text-transform: uppercase
				padding: 15px 30px
				color: $white
				font-weight: 500
				white-space: nowrap
			&:hover
				a
					color: $color-default
			&.active
				a
					font-weight: 700
					color: $color-primary
					background: $white

.vct-section
	@extend .home-section
	.img-block
		padding-right: 30px
		.img1
			margin-right: 80px
			+pos(rel,null)
			&:before
				content: ''
				display: block
				width: 430px
				height: 430px
				+bor-rad(500px)
				background: lighten($color-default,45%)
				+pos(abs, 50% null null 0)
				+transform(translate(-50%,-50%))
			img
				+bor-rad(5px)
				overflow: hidden
				+pos(rel,null)
				z-index: 3
			.icon
				+flexbox
				align-items: center
				align-content: center
				justify-content: center
				width: 120px
				height: 120px
				+bor-rad(100px)
				background: lighten($color-default,30%)
				+pos(abs, 50% null null 0)
				+transform(translate(-50%,-50%))
				z-index: 5
				img
					max-width: 50%
					max-height: 50%
					opacity: 0.8
		.img2
			margin-top: -160px
			margin-left: 160px
			+bor-rad(5px)
			overflow: hidden
			+pos(rel,null)
			z-index: 5
	.content-block
		margin-bottom: 60px
	.strong-block
		// background: $color-primary
		background: darken($white,5%)
		padding: 60px
		+bor-rad(5px)
		.strong-title
			@extend .home-title
			// color: $white
			margin-bottom: 0
			+fs(36rem)
	.content
		line-height: 2rem
		text-align: justify

.tnsm-section
	@extend .home-section
	// background: darken($color-primary,20%)
	background: $color-default
	+pos(rel,null)
	.bg
		+pos(abs, 0 null 0 0)
		right: 0
		opacity: 0.1
		img
			width: 100%
			height: 100%
			object-fit: cover
	.img-block
		+bor-rad(5px)
		overflow: hidden
		height: 100%
		img
			width: 100%
			height: 100%
			object-fit: cover
	.tn-block, .sm-block
		padding: 40px
		+pos(rel,null)
		+bor-rad(5px)
		height: 100%
		background: $color-primary
	.tn-block
		// background: $color-default
	.sm-block
		// background: $color-primary
	.home-title
		+fs(36rem)
		color: $white
		margin-bottom: 15px
	.content
		color: $white
		line-height: 2
		p
			margin: 0

.gtcl-section
	+pos(rel,null)
	&:before
		content: ''
		display: block
		+pos(abs, 0 50% 0 0)
		background: lighten($color-default,50%)
	.content-block
		padding: 120px 0 0
		padding-right: 120px
		background: lighten($color-default,50%)
	.gt-col
		+flexbox
		margin-bottom: 30px
		.icon
			width: 50px
			height: 50px
			+flexbox
			align-items: center
			align-content: center
			justify-content: center
			background: $color-primary
			+bor-rad(100px)
			img
				max-width: 60%
				max-height: 60%
				filter: invert(100%)
				margin: 0
		.caption
			width: calc(100% - 50px)
			padding-left: 15px
			+fs(16rem)
			.name
				font-weight: 700
			.des
	.img-block
		margin-top: 120px
		+pos(rel,null)
		&:before
			content: ''
			display: block
			width: 265px
			height: 530px
			+bor-rad(0 1000px 1000px 0)
			+pos(abs, 50% null null 100%)
			+transform(translateY(-50%))
			background: lighten($color-default,50%)
		&:after
			content: ''
			display: block
			width: 110px
			height: 220px
			+bor-rad(0 1000px 1000px 0)
			+pos(abs, 50% null null 100%)
			+transform(translateY(-50%))
			background: $white

.history-page
	padding: 120px 0
	text-align: center
	.history-picture
		.item
			vertical-align: top
		img
			width: 100%
			height: 600px
			object-fit: cover
	.history-year
		width: 250px
		+bor-rad(5px 5px 0 0)
		background: $color-default
		margin: -108px auto 0
		text-align: center
		.slick-prev, .slick-next
			+pos(abs, 50% null null null)
			+transform(translateY(-50%))
			+fs(0)
			z-index: 5
			color: $white
			&:before
				content: ''
				+fs(32rem)
		.slick-prev
			left: -40px
			&:before
				content: '\f060'
		.slick-next
			right: -40px
			&:before
				content: '\f061'
		.year
			+fs(68rem)
			line-height: 1
			color: $white
			padding: 20px 0
			font-weight: 700
	.history-event
		text-align: center
		padding: 40px 0
		.item
			.content
				+fs(28rem)
				max-width: 700px
				margin: 0 auto
				p
					&:last-child
						margin-bottom: 0
	.history-nav
		border-top: 1px solid darken($white,10%)
		padding-top: 30px
		.item
			cursor: pointer
			.year
				@extend .title
				+fs(36rem)
				&:after
					content: ''
					display: block
					width: 100%
					height: 18px
					margin: 10px auto 0
					background: url(../img/branch.png) center left no-repeat
					background-size: auto 100%
					background-position-x: center
					opacity: 0
					+transition(all,0.3s)
				&:hover
					color: $color-default
		.slick-current
			.item
				.year
					color: $color-default
					&:after
						opacity: 1

.htqt-section
	@extend .home-section
	.content
		line-height: 2
	.staff-list
		.staff-item
			margin-bottom: 30px
			cursor: pointer
			.img
				+bor-rad(5px)
				overflow: hidden
			.caption
				background: $white
				+bor-rad(5px)
				margin: -20px 20px 0
				+pos(rel,null)
				z-index: 3
				padding: 30px
				text-align: center
				+transition(all,0.5s)
				.name
					+fs(20rem)
				.vt
					opacity: 0.8
			&:hover
				.caption
					box-shadow: 0px 3px 10px color-rgba($black,0.1)

.dvtt-section
	@extend .home-section
	.content
		line-height: 2
	.office
		.img
			+pos(rel,null)
			+bor-rad(5px)
			overflow: hidden
			margin-bottom: 30px
			&:before
				content: ''
				display: block
				+pos(abs, 0 null 0 0)
				right: 0
				background: linear-gradient(color-rgba($black,0),color-rgba($black,0.5))
			img
				width: 100%
				height: 500px
				object-fit: cover
			.name
				@extend .title
				+fs(36rem)
				color: $white
				+pos(abs, null 0 0 0)
				padding: 40px
		.caption
			.location, .phone, .email
				+pos(rel,null)
				line-height: 2
				padding-left: 30px
				margin-bottom: 10px
				.fa
					+fs(18rem)
					+pos(abs, 8px null null 0)
					color: $color-default

.ttnb-section
	@extend .home-section
	.content
		line-height: 2
	.achievement
		.img
			+bor-rad(5px)
			overflow: hidden
		.caption
			padding-top: 15px

.vnl-section
	@extend .home-section
	.content-block
		// background: $color-primary
		// padding: 60px
		// +bor-rad(5px)
		// .home-title, .content
		// 	color: $white
	.content
		line-height: 2
		// opacity: 0.8

.vnl2-section
	@extend .home-section
	background: darken($color-primary,0%)
	// background: lighten($color-default,50%)
	// background: $color-default
	+pos(rel,null)
	.bg
		+pos(abs, 0 null 0 0)
		right: 0
		opacity: 0.1
		img
			width: 100%
			height: 100%
			object-fit: cover
	.home-title
		color: $white
	.content
		color: $white
		line-height: 2
		opacity: 0.8
	.img
		+bor-rad(5px)
		overflow: hidden
		img
			width: 100%
			height: 300px
			object-fit: cover

.ptvnl-section
	@extend .home-section
	padding-bottom: 0
	background: lighten($color-default,50%)
	margin-bottom: 160px
	.img-block
		img
			+bor-rad(5px)
			overflow: hidden
	.content-block
		background: $white
		padding: 60px
		margin-top: 120px
		margin-left: -120px
		margin-bottom: -120px
		+bor-rad(5px)
		box-shadow: 0px 10px 20px color-rgba($black,0.1)
	.content
		line-height: 2
.htcl-section
	padding-top: 120px
	.content-block
		padding-right: 60px
	.content
		line-height: 2
	.img-block
		+pos(rel,null)
		z-index: 3
		+bor-rad(5px)
		overflow: hidden
		margin-bottom: -120px
.htcl2-section
	@extend .home-section
	background: $color-default
	padding-top: 240px
	+pos(rel,null)
	.bg
		+pos(abs, 0 null 0 0)
		right: 0
		opacity: 0.1
		img
			width: 100%
			height: 100%
			object-fit: cover
	.home-title, .content
		color: $white
	.content
		line-height: 2
		opacity: 0.9
.htcl3-section
	@extend .home-section
	padding-bottom: 0
	.main-content
		background: $white
		+bor-rad(5px)
		overflow: hidden
		margin-bottom: -120px !important
		+pos(rel,null)
		z-index: 3
	img
		+bor-rad(5px)
	.img-block
		img
			+bor-rad(5px 0 0 5px)
	.content-block
		background: $white
		padding: 0px 60px
		+bor-rad(0 5px 5px 0)
		.img
			width: 350px
			margin: 0 auto 40px
		.content
			line-height: 2
			padding: 0px 30px
			text-align: justify
			text-align-last: center
			p
				&:last-child
					margin-bottom: 0
.htcl4-section
	@extend .home-section
	padding-top: 240px
	background: lighten($color-default,50%)
	.cert-slide2
		margin: 0px -15px
		.item
			padding: 0px 15px

.tnxh-section
	@extend .home-section
	.content
		line-height: 2
		padding-right: 120px
	.img-block
		+bor-rad(5px)
		overflow: hidden

.tnxh2-section
	@extend .home-section
	background: $color-default
	+pos(rel,null)
	.bg
		+pos(abs, 0 null 0 0)
		right: 0
		opacity: 0.1
		img
			width: 100%
			height: 100%
			object-fit: cover
	.content
		color: $white
		text-align: center
		max-width: 1020px
		margin: 0 auto
		+fs(36rem)
		p
			@extend .title
.tnxh3-section
	@extend .home-section
.tnxh4-section
	@extend .home-section
	background: lighten($color-default,50%)
	.content
		line-height: 2
		p
			&:last-child
				margin-bottom: 0
	.img
		margin-bottom: 30px
		img
			+bor-rad(5px)
			width: 100%
			height: 300px
			object-fit: cover