.page-title
	+fs(28rem)
	font-weight: 500
.page-title2
	@extend .title
	+fs(36rem)
.hot-news
	margin-top: 50px
	margin-bottom: 30px
	+bor-rad(5px)
	overflow: hidden
	// border: 1px solid color-rgba($black,0.1)
	background: darken($white,5%)
	+transition(all,0.3s)
	&:hover
		box-shadow: 10px 10px 20px 0px rgba(0,0,0,0.04), -10px 0 20px 0px rgba(0,0,0,0.04);
		figure
			.news-img
				img
					+transform(scale3d(1.1,1.1,1))
	figure
		+flexbox
		.news-img
			width: 66.66%
			overflow: hidden
			img
				width: 100%
				height: 380px
				object-fit: cover
				+transition(all,0.3s)
		figcaption
			width: 33.33%
			padding: 60px 40px
			+flexbox
			flex-direction: column
			justify-content: center
			.news-cate
				color: $color-default
				text-transform: uppercase
				+fs(13rem)
				font-weight: 500
				margin-bottom: 10px
			.news-name
				color: $main
				+fs(24rem)
				line-height: 1.2
				font-weight: 500
				margin-bottom: 15px
				+textover(3)
			.news-des
				+fs(16rem)
				color: darken($white,60%)
				+textover(3)
				margin-bottom: 30px
			time
				+fs(12rem)
				color: darken($white,40%)
				letter-spacing: 1px

.news-list
	margin-top: 40px
	.news-item
		margin-bottom: 30px
		+transition(all,0.3s)
		figure
			+pos(rel,null)
			time
				display: block
				+pos(abs,0 null null 50%)
				+transform(translateX(-50%))
				background: $color-default
				color: $white
				padding: 8px 20px
				+bor-rad(0px 0px 10px 10px)
			&:hover
				figcaption
					box-shadow: 0px 10px 20px color-rgba($black,0.1)
			.news-img
				overflow: hidden
				img
					width: 100%
					height: 220px
					object-fit: cover
					+transition(all,0.3s)
			figcaption
				z-index: 3
				background: $white
				+bor-rad(5px)
				margin: -20px 20px 0
				padding: 30px
				+pos(rel,null)
				z-index: 3
				+transition(all,0.5s)
				.news-cate
					color: $color-default
					text-transform: uppercase
					+fs(12rem)
					// font-weight: 500
					margin-bottom: 5px
				.news-name
					color: $main
					+fs(18rem)
					line-height: 1.5
					font-weight: 500
					margin-bottom: 10px
					min-height: 42px
					+textover(2)
				.news-des
					+fs(14rem)
					line-height: 1.8
					color: darken($white,60%)
					+textover(3)
	
	// .col-lg-6
	// 	.news-item
	// 		figure
	// 			.news-img
	// 				img
	// 					height: 300px

.news-page
	.btn-wrap
		text-align: center
		margin-bottom: 30px
	.btn-viewmore
		text-transform: uppercase
		&:hover
			color: $color-default
			&:after
					margin-left: 10px
		&:after
			content: '\e876'
			font-family: Linearicons-Free
			margin-left: 3px

.hot-news2
	margin: 40px 0 40px
	.row
		margin: 0px -5px
		.col-12
			padding: 0px 5px
	.news-item
		+pos(rel,null)
		+bor-rad(5px)
		overflow: hidden
		// &:before
		// 	content: ''
		// 	+pos(abs, 0 null 0 0)
		// 	right: 0
		// 	z-index: 1
		// 	background: linear-gradient(color-rgba($black,0),color-rgba($black,0.5))
		&.big
			figure
				.news-img
					img
						height: 500px
				figcaption
					padding: 60px
					.news-name
						+fs(36rem)
						+textover(2)
						margin: 10px 0 15px
			&:hover
				figure
					figcaption
						padding-bottom: 70px
						.btn-link
							opacity: 1
							margin-bottom: 0
		&:nth-child(2)
			margin-top: 10px
			figure
				.news-img
					img
						height: 200px
		figure
			.news-img
				img
					width: 100%
					height: 290px
					object-fit: cover
			figcaption
				+pos(abs, null 0 0 0)
				z-index: 2
				padding: 40px
				background: linear-gradient(color-rgba($black,0),color-rgba($black,0.8))
				+transition(all,0.3s)
				.news-cate
					display: inline-block
					vertical-align: middle
					background: linear-gradient(to right, $color-default, $color-primary)
					color: $white
					+fs(11rem)
					line-height: 1
					letter-spacing: 1px
					padding: 3px 10px
					text-transform: uppercase
					font-weight: 500
				time
					display: inline-block
					vertical-align: middle
					color: $white
					+fs(13rem)
					font-weight: 500
					&:before
						content: '\e864'
						font-family: Linearicons-Free
						margin-right: 3px
				.news-name
					@extend .title
					+fs(32rem)
					// line-height: 1.3
					+textover(2)
					font-weight: 700
					color: $white
					margin: 10px 0 0
				.news-des
					+fs(13rem)
					+textover(2)
					color: $white
					display: none
				.btn-link
					+fs(12rem)
					font-weight: 500
					text-transform: uppercase
					color: $white
					+pos(abs, null 40px 40px null)
					+transition(all,0.3s)
					margin-bottom: -20px
					opacity: 0
					&:hover
						text-decoration: none
					&:after
						content: '\e87a'
						font-family: Linearicons-Free
						margin-left: 5px
						+fs(10rem)

.news-page2
.news-group
	margin-bottom: 20px
.news-cate-wrap
	+flexbox
	justify-content: space-between
	align-items: center
	align-content: center
	margin-bottom: 20px
	.news-cate-name
		background: $main
		color: $white
		+fs(14rem)
		font-weight: 500
		text-transform: uppercase
		padding: 3px 20px
	.btn-viewmore
		+fs(13rem)
		color: darken($white,60%)
		&:after
			content: "\e87a"
			font-family: Linearicons-Free
			+fs(11rem)
			margin-left: 5px
		&:hover
			color: $color-default
.news-list2
	.news-item
		margin-bottom: 30px
		+transition(all,0.5s)
		.row
			margin: 0px -5px
			[class^="col-"]
				padding: 0px 5px
		&.big
			.row
				margin: 0px -15px
				[class^="col-"]
					padding: 0px 15px
			figure
				.news-img
					img
						height: 220px
				figcaption
					.news-name
						+fs(20rem)
		figure
			+flexbox
			align-items: center
			align-content: center
			.news-img
				display: block
				img
					width: 100%
					height: 90px
					object-fit: cover
					+bor-rad(5px)
			figcaption
				.news-name
					+fs(16rem)
					line-height: 1.5
					font-weight: 700
					+textover(2)
					a
						display: block
						+textover(2)
					&:hover
						color: $color-default
				time
					display: inline-block
					+bor-rad(3px)
					background: $color-default
					color: $white
					font-weight: 500
					+fs(13rem)
					line-height: 1
					padding: 5px 10px
					margin-top: 5px
				.news-des
					+fs(14rem)
					line-height: 1.8
					+textover(4)
					color: darken($white,60%)
					margin-top: 10px

.sidebar-title
	+fs(14rem)
	font-weight: 500
	text-transform: uppercase
	margin: 3px 0px 15px

.sidebar-categories
	margin: 40px 0
	border: 1px solid darken($white,5%)
	+bor-rad(5px)
	padding: 30px
	.sidebar-title
		@extend .title
		+fs(28rem)
	.categories-link, .categories
		li
			margin-bottom: 10px
			a
				line-height: 2
				opacity: 0.6
				&:hover
					color: $color-default
					opacity: 1

.sidebar-news
	margin-bottom: 40px
.news-list3
	li
		margin-bottom: 10px
		padding-left: 20px
		+pos(rel,null)
		&:before
			content: ''
			display: block
			width: 10px
			height: 10px
			+bor-rad(3px)
			background: $color-default
			+pos(abs, 6px null null 0)
	a
		+fs(15rem)
		font-weight: 500
		&:hover
			color: $color-default
.sidebar-album-list
	@extend .news-list3
	li
		border-bottom: 1px dashed darken($white,10%)
		padding-bottom: 10px
		padding-left: 25px
		&:before
			content: '\f1c5'
			width: auto
			height: auto
			background: none
			color: $color-default
			+fs(14rem)
			top: 2px
.sidebar-video-list
	@extend .news-list3
	li
		border-bottom: 1px dashed darken($white,10%)
		padding-bottom: 10px
		padding-left: 25px
		&:before
			content: '\f1c8'
			width: auto
			height: auto
			background: none
			color: $color-default
			+fs(14rem)
			top: 2px

.news-list4
	.news-item
		+pos(rel,null)
		+bor-rad(10px)
		overflow: hidden
		margin-bottom: 20px
		&:before
			content: ''
			+pos(abs, 0 null 0 0)
			right: 0
			background: linear-gradient(color-rgba($black,0),color-rgba($black,0.5))
			z-index: 1
		figure
			.news-img
				img
					width: 100%
					height: 300px
					object-fit: cover
			figcaption
				+pos(abs,null 0 0 0)
				z-index: 3
				padding: 20px
				.news-cate
					display: inline-block
					vertical-align: middle
					background: linear-gradient(to right, $color-default, $color-primary)
					color: $white
					+fs(11rem)
					line-height: 1
					letter-spacing: 1px
					padding: 3px 10px
					text-transform: uppercase
					font-weight: 500
				.news-name
					+fs(18rem)
					color: $white
					line-height: 1.3
					font-weight: 700
					+textover(2)
					margin: 10px 0
				time
					+fs(12rem)
					color: $white