.picture-page
	margin: 40px 0
	.album-list
		.album-item
			+pos(rel,null)
			+bor-rad(5px)
			overflow: hidden
			margin-bottom: 30px
			.img
				+bor-rad(5px)
				overflow: hidden
				&:before
					content: ''
					display: block
					+pos(abs, 0 null 0 0)
					right: 0
					z-index: 3
					background: linear-gradient(color-rgba($black,0) 30%,color-rgba($black,0.8))
				img
					+bor-rad(5px)
					overflow: hidden
					width: 100%
					height: 400px
					object-fit: cover
					+transition(all,0.3s)
			.info
				+pos(abs, null 0 0 0)
				z-index: 5
				padding: 30px
				color: $white
				+transition(all,0.3s)
				.name
					@extend .title
					+fs(32rem)
					line-height: 1.2
					+textover(2)
					text-transform: uppercase

	.card-columns 
		.card
			margin-bottom: 20px
			border: none
			box-shadow: none
			img
				+bor-rad(5px)

.video-page
	margin: 40px 0
	.video-list
		.video-item
			display: block
			+pos(rel,null)
			margin-bottom: 30px
			.img
				+bor-rad(5px)
				overflow: hidden
				+pos(rel,null)
				&:before
					content: '\f04b'
					+fs(24rem)
					display: block
					padding: 15px 30px
					color: $white
					background: $color-default
					+bor-rad(5px)
					+pos(abs, 50% null null 50%)
					+transform(translate(-50%,-50%))
					z-index: 3
				img
					width: 100%
					height: 230px
					object-fit: cover
					+transition(all,0.3s)
					filter: brightness(80%)
			.info
				padding: 15px 0
				.name
					+fs(18rem)
					line-height: 1.2
					font-weight: 700
					+textover(2)
				time
					display: block
					+fs(13rem)
					+pos(abs,0 null null 50%)
					+transform(translateX(-50%))
					background: $color-primary
					color: $white
					padding: 5px 20px
					+bor-rad(0px 0px 5px 5px)
			&:hover
				.img
					img
						filter: brightness(100%)
	.video-block
		background: $white
		+flexbox
		.video-frame
			width: 70%
		.video-list
			width: 30%
			height: 440px
			overflow: auto
			&::-webkit-scrollbar-track
				background-color: darken($white, 20%)
				+bor-rad(100px)
			&::-webkit-scrollbar
				width: 6px
				background-color: #fff
				+bor-rad(100px)
			&::-webkit-scrollbar-thumb
				background-color: $color-primary
				+bor-rad(100px)
			.video-item
				+flexbox
				padding: 10px 15px
				+pos(rel,null)
				&:before
					content: ''
					display: block
					+pos(abs, 0 null 0 0)
					width: 5px
					background: $color-default
					opacity: 0
				&.active
					background: color-rgba($color-default, 0.05)
					&:before
						opacity: 1
					.info
						.name
							color: $color-default
				.img
					width: 120px
				.info
					flex: 1
					padding: 5px 10px
					.name
						+fs(14rem)
						line-height: 1.3
						font-weight: 500
					time
						+fs(11rem)
						opacity: 0.5