section.breadcrumb-wrap.clearfix
	.breadcrumb-bg(style="background: url(img/br1.jpg) center center no-repeat;background-size:cover")
	.container
		ol.breadcrumb
			li
				a(href="#")
					span Trang chủ
			li
				a(href="#")
					span Tin tức
		h3.page-name Tin tức