footer.footer2
	.container
		.footer-wrap
			.row
				.col-12.col-lg-3
					nav.footer-col
						.footer-title Về chúng tôi
						.content
							p Công ty TNHH Chế Biến Dừa Lương Quới được thành lập năm 1997 và bắt đầu hành trình gia tăng giá trị cho trái dừa bằng những sản phẩm chất lượng cao. 
					//- .footer-about
						//- .company CÔNG TY TNHH CHẾ BIẾN DỪA LƯƠNG QUỚI
						//- .contact-info
							ul
								li <i class="fa fa-envelope" aria-hidden="true"></i>Email : support@luongquoi.vn
								li <i class="fa fa-phone" aria-hidden="true"></i> Hotline : (+84).28.3762.8850
								li <i class="fa fa-map-marker" aria-hidden="true"></i> Địa chỉ : Lô A36-A37, Khu công nghiệp An Hiệp, Xã An Hiệp, Huyện Châu Thành, Tỉnh Bến Tre.
				.col-12.col-lg-3
					nav.footer-col
						.footer-title Liên kết
						ul.footer-link
							li 
								a(href="#!") Giới thiệu
							li 
								a(href="#!") Sản phẩm
							li 
								a(href="#!") Vùng nguyên liệu
							li 
								a(href="#!") Hệ thống chất lượng
							li 
								a(href="#!") Tin tức & sự kiện
				.col-12.col-lg-3
					nav.footer-col
						.footer-title Sản phẩm
						ul.footer-link
							ul.footer-link
								li 
									a(href="#!") Nước dừa
								li 
									a(href="#!") Dầu dừa
								li 
									a(href="#!") Nước cốt dừa
								li 
									a(href="#!") Dừa sấy giòn
								li 
									a(href="#!") Sữa dừa
				.col-12.col-lg-3
					nav.footer-col
						.footer-title Liên hệ
						.content
							p Lô A36, A37 Khu Công nghiệp An Hiệp, Châu Thành, Bến Tre, Việt Nam
							a(href="#!") support@luongquoi.vn
							br
							a(href="#!") (+84).28.3762.8850
	.footer-bottom
		.copyright Copyright by Luong Quoi Coconut Co., Ltd.