header.header2
	.container
		.header-wrap
			.logo
				a(href="#!")
					img(src="img/logo.png", alt="alt")
			.menu
				ul.menu-link
					li
						a(href="#!") Trang chủ
					li
						a(href="#!") Giới thiệu
					li
						a(href="#!") Sản phẩm
					li
						a(href="#!") Vùng nguyên liệu
					li
						a(href="#!") Hệ thống chất lượng
					li
						a(href="#!") Tin tức & Sự kiện
					li
						a(href="#!") Liên hệ
			.header-right
				.search
					.search-toggle
						<span class="lnr lnr-magnifier"></span>
				.language
					.language-toggle
						<span class="lnr lnr-earth"></span>