header
	.header-top
		.container
			.header-top-wrap
				.header-left
					.email
						<span class="lnr lnr-envelope"></span>
						<a>support@luongquoi.vn</a>
					.phone
						<span class="lnr lnr-phone-handset"></span>
						<a>(+84).28.3762.8850</a>
				.logo
					a(href="#!")
						img(src="img/logo.png", alt="alt")
				.header-right
					.search.dropdown
						.search-toggle( data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
							<span class="lnr lnr-magnifier"></span>
						.dropdown-menu.dropdown-menu-right(aria-labelledby="dropdownMenuButton")
							.searchbox
								input(type="text", placeholder="Nhập từ khóa tìm kiếm")
								.searchbutton <i class="fa fa-search" aria-hidden="true"></i>
					.language.dropdown
						.language-toggle(data-toggle="dropdown" aria-haspopup="true" aria-expanded="false")
							<span class="lnr lnr-earth"></span>
						.dropdown-menu.dropdown-menu-right(aria-labelledby="dropdownMenuButton")
							a.dropdown-item.active(href='#') Vietnamese
							a.dropdown-item(href='#') English
	.header-menu
		.container
			.menu
				ul.menu-link
					li.active
						a(href="#!") Trang chủ
					li
						a(href="#!") Giới thiệu
						.btn-showsub
						.sub-menu
							ul
								li
									a(href="#!") Về công ty
								li
									a(href="#!") Giá trị cốt lõi
								li
									a(href="#!") Tầm nhìn - Sứ mệnh
								li
									a(href="#!") Chính sách chất lượng
								li
									a(href="#!") Hệ thống quản trị
								li
									a(href="#!") Nhân sự chủ chốt
					li
						a(href="#!") Sản phẩm
						.btn-showsub
						.sub-menu
							ul
								li
									a(href="#!") Cơm dừa nạo sấy
								li
									a(href="#!") Dứa sấy giòn
								li
									a(href="#!") Nước cốt dừa
								li
									a(href="#!") Nước dừa
								li
									a(href="#!") Dầu dừa nguyên chât
								li
									a(href="#!") Dầu dừa tinh luyện
								li
									a(href="#!") Cám dừa
								li
									a(href="#!") Dầu dừa thô
					li
						a(href="#!") Vùng nguyên liệu
					li
						a(href="#!") Hệ thống chất lượng
						.btn-showsub
						.sub-menu
							ul
								li
									a(href="#!") Chứng nhận chất lượng
								li
									a(href="#!") Quản lý chất lượng
					li
						a(href="#!") Tin tức & Sự kiện
						.btn-showsub
						.sub-menu
							ul
								li
									a(href="#!") Tin tức
								li
									a(href="#!") Hình ảnh
								li
									a(href="#!") Video
					li
						a(href="#!") Liên hệ