.btn-closesearch 
	i.material-icons arrow_back
.searchbox
	input(type="text" placeholder="Nhập từ khóa tìm kiếm...")
	.searchbutton <i class="material-icons">search</i>
	.search-result
		.search-panel
			.search-navs
				ul.nav.nav-tabs(role='tablist')
					li.nav-item
						a.nav-link.active(data-toggle='tab', href='#sanpham', role='tab', aria-expanded='true') Sản phẩm
					li.nav-item
						a.nav-link(data-toggle='tab', href='#tintuc', role='tab', aria-expanded='false') Tin tức
			.tab-content
				#sanpham.tab-pane.fade.show.active(role='tabpanel', aria-expanded='true')
					.row.row-m
						.col-xs-12.col-sm-6.col-md-3
							h3.result-title
								a(href='/may-tinh') Máy tính
							.result-list
								.item
									a.result-item(href="#!")
										figure
											.img
												img(src="img/product/1.jpg", alt="")
											figcaption
												h3.name Mouse Razer Abyssus 2000 and Goliathus Speed Terra Mouse Mat Bundle
												.price
													.new 690,000 đ
													.old
								.item
									a.result-item(href="#!")
										figure
											.img
												img(src="img/product/2.jpg", alt="")
											figcaption
												h3.name Mouse Razer Abyssus 2000 and Goliathus Speed Terra Mouse Mat Bundle
												.price
													.new 690,000 đ
													.old
								.item
									a.result-item(href="#!")
										figure
											.img
												img(src="img/product/3.jpg", alt="")
											figcaption
												h3.name Mouse Razer Abyssus 2000 and Goliathus Speed Terra Mouse Mat Bundle
												.price
													.new 690,000 đ
													.old
								.item
									a.result-item(href="#!")
										figure
											.img
												img(src="img/product/4.jpg", alt="")
											figcaption
												h3.name Mouse Razer Abyssus 2000 and Goliathus Speed Terra Mouse Mat Bundle
												.price
													.new 690,000 đ
													.old
						.col-xs-12.col-sm-6.col-md-3
							h3.result-title
								a(href='/may-tinh') Camera
							.result-list
								.item
									a.result-item(href="#!")
										figure
											.img
												img(src="img/product/1.jpg", alt="")
											figcaption
												h3.name Mouse Razer Abyssus 2000 and Goliathus Speed Terra Mouse Mat Bundle
												.price
													.new 690,000 đ
													.old
								.item
									a.result-item(href="#!")
										figure
											.img
												img(src="img/product/2.jpg", alt="")
											figcaption
												h3.name Mouse Razer Abyssus 2000 and Goliathus Speed Terra Mouse Mat Bundle
												.price
													.new 690,000 đ
													.old
								.item
									a.result-item(href="#!")
										figure
											.img
												img(src="img/product/3.jpg", alt="")
											figcaption
												h3.name Mouse Razer Abyssus 2000 and Goliathus Speed Terra Mouse Mat Bundle
												.price
													.new 690,000 đ
													.old
								.item
									a.result-item(href="#!")
										figure
											.img
												img(src="img/product/4.jpg", alt="")
											figcaption
												h3.name Mouse Razer Abyssus 2000 and Goliathus Speed Terra Mouse Mat Bundle
												.price
													.new 690,000 đ
													.old
						.col-xs-12.col-sm-6.col-md-3
							h3.result-title
								a(href='/may-tinh') Gaming Gear
							.result-list
								.item
									a.result-item(href="#!")
										figure
											.img
												img(src="img/product/1.jpg", alt="")
											figcaption
												h3.name Mouse Razer Abyssus 2000 and Goliathus Speed Terra Mouse Mat Bundle
												.price
													.new 690,000 đ
													.old
								.item
									a.result-item(href="#!")
										figure
											.img
												img(src="img/product/2.jpg", alt="")
											figcaption
												h3.name Mouse Razer Abyssus 2000 and Goliathus Speed Terra Mouse Mat Bundle
												.price
													.new 690,000 đ
													.old
								.item
									a.result-item(href="#!")
										figure
											.img
												img(src="img/product/3.jpg", alt="")
											figcaption
												h3.name Mouse Razer Abyssus 2000 and Goliathus Speed Terra Mouse Mat Bundle
												.price
													.new 690,000 đ
													.old
								.item
									a.result-item(href="#!")
										figure
											.img
												img(src="img/product/4.jpg", alt="")
											figcaption
												h3.name Mouse Razer Abyssus 2000 and Goliathus Speed Terra Mouse Mat Bundle
												.price
													.new 690,000 đ
													.old
						.col-xs-12.col-sm-6.col-md-3
							h3.result-title
								a(href='/may-tinh') Phụ kiện
							.result-list
								.item
									a.result-item(href="#!")
										figure
											.img
												img(src="img/product/1.jpg", alt="")
											figcaption
												h3.name Mouse Razer Abyssus 2000 and Goliathus Speed Terra Mouse Mat Bundle
												.price
													.new 690,000 đ
													.old
								.item
									a.result-item(href="#!")
										figure
											.img
												img(src="img/product/2.jpg", alt="")
											figcaption
												h3.name Mouse Razer Abyssus 2000 and Goliathus Speed Terra Mouse Mat Bundle
												.price
													.new 690,000 đ
													.old
								.item
									a.result-item(href="#!")
										figure
											.img
												img(src="img/product/3.jpg", alt="")
											figcaption
												h3.name Mouse Razer Abyssus 2000 and Goliathus Speed Terra Mouse Mat Bundle
												.price
													.new 690,000 đ
													.old
								.item
									a.result-item(href="#!")
										figure
											.img
												img(src="img/product/4.jpg", alt="")
											figcaption
												h3.name Mouse Razer Abyssus 2000 and Goliathus Speed Terra Mouse Mat Bundle
												.price
													.new 690,000 đ
													.old
				#tintuc.tab-pane.fade(role='tabpanel', aria-expanded='false')
					h3.result-title Tin tức
					.result-list.news
						.row.row-m
							.col-xs-12.col-sm-6.col-md-3
								.item
									a.result-item(href="#!")
										figure
											.img
												img(src="img/news/1.jpg", alt="")
											figcaption
												h3.name Tổng hợp những tính năng nổi bật của DJI Mavic Pro 2 trước ngày ra mắt
							.col-xs-12.col-sm-6.col-md-3
								.item
									a.result-item(href="#!")
										figure
											.img
												img(src="img/news/2.jpg", alt="")
											figcaption
												h3.name Tổng hợp những tính năng nổi bật của DJI Mavic Pro 2 trước ngày ra mắt
							.col-xs-12.col-sm-6.col-md-3
								.item
									a.result-item(href="#!")
										figure
											.img
												img(src="img/news/3.jpg", alt="")
											figcaption
												h3.name Tổng hợp những tính năng nổi bật của DJI Mavic Pro 2 trước ngày ra mắt
							.col-xs-12.col-sm-6.col-md-3
								.item
									a.result-item(href="#!")
										figure
											.img
												img(src="img/news/4.jpg", alt="")
											figcaption
												h3.name Tổng hợp những tính năng nổi bật của DJI Mavic Pro 2 trước ngày ra mắt
							.col-xs-12.col-sm-6.col-md-3
								.item
									a.result-item(href="#!")
										figure
											.img
												img(src="img/news/5.jpg", alt="")
											figcaption
												h3.name Tổng hợp những tính năng nổi bật của DJI Mavic Pro 2 trước ngày ra mắt
							.col-xs-12.col-sm-6.col-md-3
								.item
									a.result-item(href="#!")
										figure
											.img
												img(src="img/news/6.jpg", alt="")
											figcaption
												h3.name Tổng hợp những tính năng nổi bật của DJI Mavic Pro 2 trước ngày ra mắt