.dropdown.dropdown-custom
	a.dropdown-toggle(href='#', data-toggle="dropdown" aria-haspopup="true" aria-expanded="false") Thông báo của bạn
	.dropdown-menu.dropdown-menu-right(aria-labelledby='dropdownMenuLink')
		.dropdown-title Thông báo
			.btn-closedropdown
		.notification-list
			ul
				li
					a.notification-item(href="#!")
						figure
							.img
								img(src="img/icon/sale.png", alt="")
							figcaption
								.name Cơ hội rinh ngay Iphone X, Macbook Air, Samsung Galaxy A8, Ipad 2018 khi mua sách học ngoại...
								time 19/07/2018
				li
					a.notification-item(href="#!")
						figure
							.img
								img(src="img/icon/sale.png", alt="")
							figcaption
								.name Cơ hội rinh ngay Iphone X, Macbook Air, Samsung Galaxy A8, Ipad 2018 khi mua sách học ngoại...
								time 19/07/2018
				li
					a.notification-item(href="#!")
						figure
							.img
								img(src="img/icon/sale.png", alt="")
							figcaption
								.name Cơ hội rinh ngay Iphone X, Macbook Air, Samsung Galaxy A8, Ipad 2018 khi mua sách học ngoại...
								time 19/07/2018
				li
					a.notification-item(href="#!")
						figure
							.img
								img(src="img/icon/sale.png", alt="")
							figcaption
								.name Cơ hội rinh ngay Iphone X, Macbook Air, Samsung Galaxy A8, Ipad 2018 khi mua sách học ngoại...
								time 19/07/2018
				li
					a.notification-item(href="#!")
						figure
							.img
								img(src="img/icon/sale.png", alt="")
							figcaption
								.name Cơ hội rinh ngay Iphone X, Macbook Air, Samsung Galaxy A8, Ipad 2018 khi mua sách học ngoại...
								time 19/07/2018
		.btn-wrap.text-center
			a.btn-viewallno(href="#!") Xem tất cả