.notfound-page
	.container
		.row.align-items-center.align-content-center
			.col-12.col-md-6
				.img
					img(src="img/404.png", alt="")
			.col-12.col-md-6
				.error-wrap
					.error-title 404 error
					.error-content(href="index.html")
						.title Có gì đó không ổn!
						.content
							p Trang bạn đang tìm kiếm không tồn tại. Chúng tôi xin lỗi vì sự bất tiện này.
								br
								| Bạn có thể thử những liên kết sau:
		.product-subcate
			.category-list
				.item
					a.category-item(href="#!")
						.img
							img(src="img/icon/smartwatch.png", alt="")
						.name Thiết bị đeo tay
				.item
					a.category-item(href="#!")
						.img
							img(src="img/icon/monitor.png", alt="")
						.name Màn hình
				.item
					a.category-item(href="#!")
						.img
							img(src="img/icon/headphone.png", alt="")
						.name Thiết bị âm thanh
				.item
					a.category-item(href="#!")
						.img
							img(src="img/icon/game.png", alt="")
						.name Gaming gear
				.item
					a.category-item(href="#!")
						.img
							img(src="img/icon/camera.png", alt="")
						.name Camera
				.item
					a.category-item(href="#!")
						.img
							img(src="img/icon/monitor.png", alt="")
						.name Phụ kiện
				.item
					a.category-item(href="#!")
						.img
							img(src="img/icon/headphone.png", alt="")
						.name Hàng 2nd
		.btn-wrap
			a.btn-back(href="#!") <i class="fa fa-arrow-left" aria-hidden="true"></i> Quay lại trang trước
			a.btn-home(href="index.html") <i class="fa fa-home" aria-hidden="true"></i> Quay lại trang chủ
			a.btn-back(href="#!") <i class="fa fa-user" aria-hidden="true"></i> Xem thông tin tài khoản