.container
	.row.row-m
		.col-12.col-lg-8
			section#cart-step1.cart-step.cart-step1
				.cart-overlay
				.cart-title
					i.material-icons shopping_cart
					span Giỏ hàng của bạn (có
						strong 2
						| sản phẩm)
				.cart-table
					.item
						.cart-item
							a.img(href="#!")
								img(src="img/product/5.jpg", alt="")
							.caption
								.item-info
									a.name(href="#!") ASUS ROG STRIX SCAR II
									.option Thuộc tính sản phẩm: 
										span Đen, 16GB
									.amount Số lượng: 
										.input-number
											.btn-spin.btn-dec -
											input(type="text" value="1")
											.btn-spin.btn-inc +
								.item-price
									.new 20.000.000 đ
									.old
										del 40.000.000 đ
										span -50%
									.des (Giá đã bao gồm VAT)
								.gift-list
									label Quà tặng
									ul
										li
											a.gift-item(href="#!")
												.gift-img
													img(src="img/product/2.jpg", alt="")
												.gift-caption
													.gift-name Đồng hồ thông minh
													.gift-price
														.new 6.000.000 đ
										li
											a.gift-item(href="#!")
												.gift-img
													img(src="img/product/3.jpg", alt="")
												.gift-caption
													.gift-name Đồng hồ thông minh 2
													.gift-price
														.new 6.000.000 đ
							a.btn-remove(href="#!") <i class="material-icons">delete</i>
					.item
						.cart-item
							a.img(href="#!")
								img(src="img/product/6.jpg", alt="")
							.caption
								.item-info
									a.name(href="#!") ASUS ROG STRIX SCAR II
									.option Thuộc tính sản phẩm: 
										span Đen, 16GB
									.amount Số lượng: 
										.input-number
											.btn-spin.btn-dec -
											input(type="text" value="1")
											.btn-spin.btn-inc +
								.item-price
									.new 20.000.000 đ
									.old
										del 40.000.000 đ
										span -50%
									.des (Giá đã bao gồm VAT)
							a.btn-remove(href="#!") <i class="material-icons">delete</i>
				.row
					.col-12.col-md-7
						.cart-coupon
							.input-coupon
								input(type="text" placeholder="Nhập mã giảm giá")
								button.btn-submitcoupon Áp dụng
							.form-des 
								p - Sau khi áp dụng, Mã giảm giá có thể không dùng được trong vòng 15 phút.
									br
									| - Trong quá trình thanh toán, Techzones sẽ tạm khóa mã giảm giá của quý khách để đảm bảo phiên giao dịch được ổn định. Mã giảm giá sẽ được mở lại ngay khi phiên giao dịch kết thúc
					.col-12.col-md-5
						.cart-total
							.group
								.label Tạm tính: 
								.value 40.000.000 đ
							.group
								.label Giảm giá: 
								.value 0 đ
							.group
								.label Phí vận chuyển: 
								.value 0 đ
							.group.total
								.label Tổng tiền: 
								.value 40.000.000 đ
				.btn-wrap
					a.btn-back(href="#!") Tiếp tục mua hàng
			//- section.cart-step
				.cart-title
					i.material-icons card_giftcard
					span Sử dụng mã giảm giá
				.cart-coupon
					.input-coupon
						input(type="text" placeholder="Nhập mã giảm giá")
						button.btn-submitcoupon Áp dụng
					.form-des 
						p - Sau khi áp dụng, Mã giảm giá có thể không dùng được trong vòng 15 phút.
							br
							| - Trong quá trình thanh toán, Techzones sẽ tạm khóa mã giảm giá của quý khách để đảm bảo phiên giao dịch được ổn định. Mã giảm giá sẽ được mở lại ngay khi phiên giao dịch kết thúc
			section#cart-step3.cart-step
				.cart-title
					i.material-icons payment
					span Phương thức thanh toán
				.cart-payment
					#responsivetabs.payment-method
						ul
							li.method-select
								a(href="#method1")
									input#m1(type="radio", name="method")
									label.method-item(for="m1")
										.icon 
											img(src="img/icon/m1.png", alt="")
										.name Thanh toán khi nhận hàng
							li.method-select
								a(href="#method2")
									input#m2(type="radio", name="method")
									label.method-item(for="m2")
										.icon 
											img(src="img/icon/m2.png", alt="")
										.name Thanh toán bằng iBanking
							li.method-select
								a(href="#method3")
									input#m3(type="radio", name="method")
									label.method-item(for="m3")
										.icon 
											img(src="img/icon/m3.png", alt="")
										.name Thanh toán bằng thẻ ATM
							li.method-select
								a(href="#method4")
									input#m4(type="radio", name="method")
									label.method-item(for="m4")
										.icon 
											img(src="img/icon/m4.png", alt="")
										.name Thanh toán bằng thẻ quốc tế
							li.method-select
								a(href="#method5")
									input#m5(type="radio", name="method")
									label.method-item(for="m5")
										.icon 
											img(src="img/icon/m5.png", alt="")
										.name Thanh toán trả góp bằng thẻ tín dụng
							li.method-select
								a(href="#method6")
									input#m6(type="radio", name="method")
									label.method-item(for="m6")
										.icon 
											img(src="img/icon/m6.png", alt="")
										.name Thanh toán qua Ví Việt
						#method1.method-content
							.content
								p Thanh toán khi nhận hàng
									br
									|Quý khách sẽ thanh toán bằng tiền mặt khi đơn vị vận chuyển giao hàng giao hàng tận nơi.
						#method2.method-content
							.content
								p Thanh toán bằng chuyển khoản Online (Internet Banking)
									br
									strong.text-red Lưu ý: 
									|Bạn cần đăng ký Internet-Banking hoặc dịch vụ thanh toán trực tuyến tại ngân hàng trước khi thực hiện.
							.boxContent
								ul.cardList.clearfix
									li.bank-online-methods
										input#BankCodeIB_VCB(type='radio', checked='', name='BankCodeIB', value='VCB')
										label(for='BankCodeIB_VCB')
											i.VCB(title='Ngân hàng TMCP Ngoại Thương Việt Nam')
											span Ngân hàng
									li.bank-online-methods
										input#BankCodeIB_DAB(type='radio', name='BankCodeIB', value='DAB')
										label(for='BankCodeIB_DAB')
											i.DAB(title='Ngân hàng Đông Á')
											span Ngân hàng
									li.bank-online-methods
										input#BankCodeIB_TCB(type='radio', name='BankCodeIB', value='TCB')
										label(for='BankCodeIB_TCB')
											i.TCB(title='Ngân hàng Kỹ Thương')
											span Ngân hàng
									li.bank-online-methods
										input#BankCodeIB_BIDV(type='radio', name='BankCodeIB', value='BIDV')
										label(for='BankCodeIB_BIDV')
											i.BIDV(title='Ngân hàng Đầu tư và Phát triển')
											span Ngân hàng
							.prepay-select
								.form-wrap
									.form-group
										label Chọn số tiền muốn thanh toán
										select
											option 30% trên tổng giá trị đơn hàng
											option 50% trên tổng giá trị đơn hàng
											option 70% trên tổng giá trị đơn hàng
						#method3.method-content Đang cập nhật 3
						#method4.method-content Đang cập nhật 4
						#method5.method-content
							.installment-selection
								ul#myTab.nav.nav-tabs.installment-nav(role='tablist')
									li.nav-item
										a#home-tab.nav-link.active(data-toggle='tab', href='#home', role='tab', aria-controls='home', aria-selected='true')
											.icon
												img(src="img/icon/m7.png", alt="")
											.name Trả góp không cần thẻ
									li.nav-item
										a#profile-tab.nav-link(data-toggle='tab', href='#profile', role='tab', aria-controls='profile', aria-selected='false')
											.icon
												img(src="img/icon/m2.png", alt="")
											.name Trả góp 0% qua thẻ
								#myTabContent.tab-content
									#home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab')
										.content
											p Các kì hạn có gói 
												strong.text-red Trả góp 0%
												|: 4 tháng, 6 tháng
												br
												strong Chọn số thời hạn trả góp và giá trị trả trước
										.installment-option.form-wrap
											ul.option-list
												li
													a.active(href="#!") 4 tháng
												li
													a(href="#!") 6 tháng
												li
													a(href="#!") 9 tháng
												li
													a(href="#!") 12 tháng
											//- .form-row
												.form-group
													select(name="")
														option --- Chọn thời hạn ---
												//- .form-group
													select(name="")
														option --- Chọn số tiền trả trước ---
										.installment-table
											table
												tr
													th Công ty
													td 
														strong.text-red HD SAIGON
												tr
													th Giá sản phẩm
													td 
														span.text-bluegrey 40.000.000 đ
												tr
													th Giá mua trả góp
													td 
														span.text-blue 42.000.000 đ
												tr
													th Trả trước
														select.prepay-select
															option(value="") 30%
															option(value="") 50%
															option(value="") 70%
													td 0 đ
												tr
													th Lãi suất thực / phẳng
													td 
														span.text-red 0%
												tr
													th Giấy tờ cần có
													td CMND + BLX + HK
												tr
													th Góp mỗi tháng
													td 2.000.000 đ
												tr
													th Tổng tiền phải trả
													td 
														span.text-red 42.000.000 đ
												tr
													th Chênh lệch với mua trả thẳng
													td 2.000.000 đ
										.installment-agree.mt-2
											.checkbox
												input#ag1(type="checkbox", name="agree1")
												label(for="ag1") Tôi đã đọc kỹ và chấp nhận 
													a.text-blue(href="#!") điều khiện tham gia trả góp
													|.
										//- .btn-wrap.text-center
										//- 	a.btn-buy(href="#!") Mua ngay
									#profile.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab')
										a.btn-viewdetail(href="#!") Xem chi tiết chương trình
										.content
											p 
												strong Bước 1: Chọn ngân hàng trả góp
											.bank-list
												.item
													a.bank-item.active(href="#!" data-toggle="modal" data-target="#modalBank")
														img(src="img/bank/vietcombank.png", alt="")
													#modalBank.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
														.modal-dialog.modal-bank(role='document')
															.modal-content
																.modal-header
																	h5.modal-title Mua trả góp qua thẻ tín dụng Sacombank
																	.close(data-dismiss='modal', aria-label='Close')
																		i.material-icons close
																.modal-body
																	.content
																		p
																			strong Trả góp online
																	.installment-option.form-wrap
																		ul.option-list
																			li
																				a(href="#!") 6 tháng
																	.content
																		p
																			strong Trả góp tại cửa hàng
																	.installment-option.form-wrap
																		ul.option-list
																			li
																				a.active(href="#!") 4 tháng
																			li
																				a(href="#!") 6 tháng
																			li
																				a(href="#!") 9 tháng
																			li
																				a(href="#!") 12 tháng
																		//- .form-row
																			.form-group
																				select(name="")
																					option Thời hạn 6 tháng
																			//- .form-group
																				select(name="")
																					option --- Chọn số tiền trả trước ---
																	.installment-table
																		table
																			tr
																				th Số tiền hàng tháng
																				td 
																					span.text-red 7.330.000 ₫
																			tr
																				th 
																					span(data-toggle="tooltip" data-placement="right" data-html="true" title="<p>Phí chuyển đổi trả góp là phí thực hiện chuyển đổi từ hình thức thanh toán trực tiếp bằng thẻ Tín dụng sang Thanh toán trả góp lãi suất 0% khi Khách hàng tham gia chương trình.</p></br><p>Phí chuyển đổi được tính dựa trên <strong>Tổng số tiền trả góp</strong> và được truy thu trực tiếp trên tài khoản của khách hàng.</p>") Phí chuyển đổi (*)
																				td 0 ₫ 
																					span (10%)
																	.btn-wrap.text-center.mb-3
																		a.btn-buy(href="#!" data-dismiss='modal') Mua ngay
																	.content
																		.text-center
																			img(src="https://techzones.vn/Data/Sites/1/media/tra-gop/cover/sacombank.png", alt="")
																		p 
																			strong.text-red ĐIỀU KIỆN THAM GIA CHƯƠNG TRÌNH
																		.row
																			.col-12.col-md-8
																				ul
																					li Áp dụng cho khách hàng là Chủ thẻ tín dụng quốc tế Sacombank.
																					li Áp dụng cho đơn hàng có giá trị từ 3.000.000đ trở lên (giá sau khuyến mãi).
																					li Mỗi khách hàng được tham gia chương trình nhiều lần, nhiều đơn hàng, sao cho tổng giá trị các đơn hàng không vượt quá hạn mức thẻ tín dụng của khách hàng.
																					li Khách hàng không thể hủy đơn hàng sau khi đã thực hiện giao dịch trả góp online hoặc sau khi xác nhận chuyển đổi với ngân hàng khi trả góp offline (mua hàng trực tiếp tại showroom Techzones).
																					li Đơn hàng tham gia chương trình trả góp sẽ không được đổi trả (Trừ sản phẩm lỗi do nhà sản xuất hoặc được quy định tại quy định bảo hành và chính sách đổi trả).
																					li Các chính sách ưu đãi, chương trình khuyến mãi hiện có trên sản phẩm vẫn được áp dụng cho khách hàng tham gia trả góp 0%.
																					li Khi tham gia chương trình, giao dịch đăng ký trả góp sẽ được chia thành các khoản trả góp và ghi nợ vào sao kê thẻ mỗi tháng như một giao dịch thông thường.
																				p ** Xem thêm Điều khoản và Điều kiện của Sacombank.
																			.col-12.col-md-4
																				img(src="https://techzones.vn/Data/Sites/1/media/tra-gop/PIC2.png", alt="")
												.item
													a.bank-item(href="#!")
														img(src="img/bank/vietcombank.png", alt="")
												.item
													a.bank-item(href="#!")
														img(src="img/bank/vietcombank.png", alt="")
												.item
													a.bank-item(href="#!")
														img(src="img/bank/vietcombank.png", alt="")
												.item
													a.bank-item(href="#!")
														img(src="img/bank/vietcombank.png", alt="")
												.item
													a.bank-item(href="#!")
														img(src="img/bank/vietcombank.png", alt="")
												.item
													a.bank-item(href="#!")
														img(src="img/bank/vietcombank.png", alt="")
												.item
													a.bank-item(href="#!")
														img(src="img/bank/vietcombank.png", alt="")
												.item
													a.bank-item(href="#!")
														img(src="img/bank/vietcombank.png", alt="")
												.item
													a.bank-item(href="#!")
														img(src="img/bank/vietcombank.png", alt="")
												.item
													a.bank-item(href="#!")
														img(src="img/bank/vietcombank.png", alt="")
												.item
													a.bank-item(href="#!")
														img(src="img/bank/vietcombank.png", alt="")
												.item
													a.bank-item(href="#!")
														img(src="img/bank/vietcombank.png", alt="")
												.item
													a.bank-item(href="#!")
														img(src="img/bank/vietcombank.png", alt="")
												.item
													a.bank-item(href="#!")
														img(src="img/bank/vietcombank.png", alt="")
											p 
												strong Bước 2: Chọn loại thẻ
											.bank-list
												.item
													a.bank-item.active
														img(src="img/bank/visa.png", alt="")
												.item
													a.bank-item
														img(src="img/bank/mastercard.png", alt="")
												.item
													a.bank-item
														img(src="img/bank/jcb.png", alt="")
						#method6.method-content Đang cập nhật 6
				.cart-btn
					.total Tổng cộng:
						strong 40.000.000 đ
						.des (Giá đã bao gồm VAT)
					a.btn-continue(href="#!") Thanh toán
		.col-12.col-lg-4
			section#cart-step.cart-step
				.cart-title 
					i.material-icons account_circle
					span Thông tin nhận hàng
				.btn-wrap.text-center
					a.btn-getaddress(href="#!" data-toggle="modal" data-target="#modalAddress") Chọn từ sổ địa chỉ
					#modalAddress.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
						.modal-dialog.modal-address(role='document')
							.modal-content
								.modal-header
									h5#exampleModalLabel.modal-title Sổ địa chỉ
									.close(data-dismiss='modal', aria-label='Close')
										i.material-icons close
								.modal-body
									.address-list
										ul
											li
												a.address-item(href="#!")
													h5.name Mai Quoc Qui
													p Địa chỉ: 535 Thống Nhất
													p Điện thoại: 0981540288
											li
												a.address-item(href="#!")
													h5.name Mai Quoc Qui
													p Địa chỉ: 156 nguyễn văn thủ
													p Điện thoại: 0981540288
											li
												a.address-item(href="#!")
													h5.name Mai Quoc Qui
													p Địa chỉ: 535 Thống Nhất
													p Điện thoại: 0981540288
											li
												a.address-item(href="#!")
													h5.name Mai Quoc Qui
													p Địa chỉ: 156 nguyễn văn thủ
													p Điện thoại: 0981540288
				.cart-form
					.form-wrap
						.form-group
							label Họ tên
							.input
								input(type="text")
						.form-group
							label Điện thoại
							.input
								input(type="text")
								.form-des (Nhân viên giao nhận sẽ liên hệ qua sđt này)
						.form-group
							label Email
							.input
								input(type="text")
						.form-group
							label Tỉnh / Thành
							.input
								input(type="text")
						.form-group
							label Quận / Huyện
							.input
								input(type="text")
						.form-group
							label Địa chỉ
							.input
								input(type="text")
						.form-group
							label Ghi chú
							.input
								textarea(name="", cols="30", rows="3")
								.form-des (Không bắt buộc)
					.form-checkbox
						.checkbox
							input#cb1(type="checkbox", name="checkbox1" checked)
							label#sameinfo(for="cb1") Thông tin người nhận hàng giống như trên
						#sameinfoform.form-wrap.form-hidden
							.form-group
								label Họ tên
								.input
									input(type="text")
							.form-group
								label Điện thoại
								.input
									input(type="text")
							.form-group
								label Email
								.input
									input(type="text")
							.form-group
								label Tỉnh / Thành
								.input
									input(type="text")
							.form-group
								label Quận / Huyện
								.input
									input(type="text")
							.form-group
								label Địa chỉ
								.input
									input(type="text")
						.checkbox
							input#cb2(type="checkbox", name="checkbox2" checked)
							label#updateinfo(for="cb2") Cập nhật thông tin trên làm địa chỉ mặc định của tôi
						.checkbox
							input#cb3(type="checkbox", name="checkbox3")
							label#exportbill(for="cb3") Xuất hóa đơn công ty
						#exportbillform.form-wrap.form-hidden
							.module-title Vui lòng điền đầy đủ thông tin chính xác
							.form-group
								label Mã số thuế
								.input
									input(type="text")
							.form-group
								label Tên công ty
								.input
									input(type="text")
							.form-group
								label Địa chỉ công ty
								.input
									input(type="text")

		.col-12
			section.cart-step
				.cart-title 
					i.material-icons access_time
					span Sản phẩm đã xem
				.lastview-wrap
					.lastview-slick
						.item
							a.lastview-item(href="#!")
								.img
									img(src="img/product/1.jpg", alt="")
								.name Lorem ipsum dolor
						.item
							a.lastview-item(href="#!")
								.img
									img(src="img/product/2.jpg", alt="")
								.name Lorem ipsum dolor
						.item
							a.lastview-item(href="#!")
								.img
									img(src="img/product/3.jpg", alt="")
								.name Lorem ipsum dolor
						.item
							a.lastview-item(href="#!")
								.img
									img(src="img/product/4.jpg", alt="")
								.name Lorem ipsum dolor
						.item
							a.lastview-item(href="#!")
								.img
									img(src="img/product/5.jpg", alt="")
								.name Lorem ipsum dolor
						.item
							a.lastview-item(href="#!")
								.img
									img(src="img/product/6.jpg", alt="")
								.name Lorem ipsum dolor
						.item
							a.lastview-item(href="#!")
								.img
									img(src="img/product/7.jpg", alt="")
								.name Lorem ipsum dolor
						.item
							a.lastview-item(href="#!")
								.img
									img(src="img/product/8.jpg", alt="")
								.name Lorem ipsum dolor
						.item
							a.lastview-item(href="#!")
								.img
									img(src="img/product/9.jpg", alt="")
								.name Lorem ipsum dolor
						.item
							a.lastview-item(href="#!")
								.img
									img(src="img/product/10.jpg", alt="")
								.name Lorem ipsum dolor

