section.breadcrumb-wrap
	.container
		ol.breadcrumb
			li
				a(href="#")
					span Trang chủ
			li
				a(href="#")
					span Đăng ký
section.login-page
	.container
		.login-panel
			.login-banner.text-center
				img(src="img/logobg.png", alt="")
			.form-wrap
				.form-group
					label Email
					input(type="text" placeholder="Địa chỉ email")
				.form-group
					label Mật khẩu
					input(type="text" placeholder="Mật khẩu")
				.form-group
					label Xác nhận mật khẩu
					input(type="text" placeholder="Xác nhận mật khẩu")
				.form-group
					label Họ tên
					input(type="text" placeholder="Địa chỉ email")
				.form-group
					label Số điện thoại
					input(type="text" placeholder="Địa chỉ email")
				.form-group
					label Tỉnh / Thành phố
					select
						option --- Chọn Tỉnh / Thành phố ---
				.frm-btn
					input(type="submit", value="Đăng ký")