section.breadcrumb-wrap.clearfix
	.breadcrumb-bg(style="background: url(img/br6.jpg) center center no-repeat;background-size:cover")
	h3.page-name Giới thiệu
nav.horizon-nav
	.container
		ul
			li
				a(href="#!") Về công ty
			li
				a(href="#!") Lịch sử phát triển
			li
				a(href="#!") Hệ thống quản trị
			li.active
				a(href="#!") Đơn vị trực thuộc
			li
				a(href="#!") Thành tích nổi bật
section.dvtt-section
	.container
		.row
			.col-12.col-lg-4
				.home-title Đơn vị trực thuộc
			.col-12.col-lg-8
				.content
					p Qua hơn 20 năm hình thành và phát triển, Công ty TNHH Chế Biến Dừa Lương Quới đã trở thành một trong những công ty sản xuất kinh doanh các sản phẩm dừa có quy mô hàng đầu Việt Nam và đóng góp to lớn vào sự phát triển của đại phương cũng như ngành chế biến dừa Việt Nam. Các đơn vị trực thuộc của chúng tôi gồm 1 chi nhánh, 1 cửa hàng giới thiệu sản phẩm và 1 công ty con luôn sáng tạo, nỗ lực không ngừng để thương hiệu vươn đến tầm cao mới.
	.container-fluid
		.row
			.col-12.col-md-6.col-lg-3
				.office
					.img
						img(src="img/office1.jpg", alt="alt")
						.name Trụ sở chính
					.caption
						.location <i class="fa fa-map-marker" aria-hidden="true"></i>
							|Lô A36, A37 Khu Công nghiệp An Hiệp, Châu Thành, Bến Tre
						.phone <i class="fa fa-phone" aria-hidden="true"></i>
							|(+84).28.3762.8850
			.col-12.col-md-6.col-lg-3
				.office
					.img
						img(src="img/office2.jpg", alt="alt")
						.name Chi nhánh 
							br
							|TP.Hồ Chí Minh
					.caption
						.location <i class="fa fa-map-marker" aria-hidden="true"></i>
							|Lô A36, A37 Khu Công nghiệp An Hiệp, Châu Thành, Bến Tre
						.phone <i class="fa fa-phone" aria-hidden="true"></i>
							|(+84).28.3762.8850
			.col-12.col-md-6.col-lg-3
				.office
					.img
						img(src="img/office3.jpg", alt="alt")
						.name Showroom giới thiệu 
							br
							|sản phẩm Bến Tre
					.caption
						.location <i class="fa fa-map-marker" aria-hidden="true"></i>
							|Lô A36, A37 Khu Công nghiệp An Hiệp, Châu Thành, Bến Tre
						.phone <i class="fa fa-phone" aria-hidden="true"></i>
							|(+84).28.3762.8850
			.col-12.col-md-6.col-lg-3
				.office
					.img
						img(src="img/office4.jpg", alt="alt")
						.name Văn phòng tại Mỹ
					.caption
						.location <i class="fa fa-map-marker" aria-hidden="true"></i>
							|916 Pleasant Street, Suite 22, Norwood, MA 02062
						.phone <i class="fa fa-phone" aria-hidden="true"></i>
							|(+1) 833 262-6466
						.email <i class="fa fa-envelope" aria-hidden="true"></i>
							|info@cocogoodsco.com