section.breadcrumb-wrap.clearfix
	.breadcrumb-bg(style="background: url(img/br6.jpg) center center no-repeat;background-size:cover")
	.container
		ol.breadcrumb
			li
				a(href="#")
					span Trang chủ
			li
				a(href="#")
					span Giới thiệu
		h3.page-name
nav.horizon-nav
	.container
		ul
			li
				a(href="#!") Về công ty
			li
				a(href="#!") Lịch sử phát triển
			li
				a(href="#!") Hệ thống quản trị
			li.active
				a(href="#!") Đơn vị trực thuộc
			li
				a(href="#!") Thành tích nổi bật
section.dvtt-section
	.container
		.about-title2 Đơn vị trực thuộc
		.content
			p Qua hơn 20 năm hình thành và phát triển, Công ty TNHH Chế Biến Dừa Lương Quới đã trở thành một trong những công ty sản xuất kinh doanh các sản phẩm dừa có quy mô hàng đầu Việt Nam và đóng góp to lớn vào sự phát triển của đại phương cũng như ngành chế biến dừa Việt Nam. Các đơn vị trực thuộc của chúng tôi gồm 1 chi nhánh, 1 cửa hàng giới thiệu sản phẩm và 1 công ty con luôn sáng tạo, nỗ lực không ngừng để thương hiệu vươn đến tầm cao mới.
	.container-fluid
		.row
			.col-12.col-md-6.col-lg-3
				.office
					.img
						img(src="img/br6.jpg", alt="alt")
					.caption
						.name Trụ sở chính
						.location Lô A36, A37 Khu Công nghiệp An Hiệp, Châu Thành, Bến Tre
						.phone (+84).28.3762.8850
			.col-12.col-md-6.col-lg-3
				.office
					.img
						img(src="img/br6.jpg", alt="alt")
					.caption
						.name Chi nhánh TP.Hồ Chí Minh
						.location Lô A36, A37 Khu Công nghiệp An Hiệp, Châu Thành, Bến Tre
						.phone (+84).28.3762.8850
			.col-12.col-md-6.col-lg-3
				.office
					.img
						img(src="img/br6.jpg", alt="alt")
					.caption
						.name Showroom giới thiệu sản phẩm Bến Tre
						.location Lô A36, A37 Khu Công nghiệp An Hiệp, Châu Thành, Bến Tre
						.phone (+84).28.3762.8850
			.col-12.col-md-6.col-lg-3
				.office
					.img
						img(src="img/br6.jpg", alt="alt")
					.caption
						.name Văn phòng tại Mỹ
						.location 916 Pleasant Street, Suite 22, Norwood, MA 02062
						.phone (+1) 833 262-6466
						.email info@cocogoodsco.com
//- section.dvtt-list
	.container-fluid