.news-page
	.container
		.row
			.col-12.col-lg-8
				.news-detail
					.news-page-title What Days and Hours are PH Online Shoppers Most Likely to Buy?
					time 20/05/2019
					.content
						.news-img.mb-3
							img.w-100(src="http://deothemes.com/envato/deus/html/img/content/single/single_post_featured_img.jpg", alt="")
						p iPrice Group report offers insights on daily e-commerce activity in the Philippines and Southeast. Statistically, you stand a better chance for success if you have some sort of strategic ask in almost everything that you do -- in-person, on the phone, over email, or on social media.

						p Think about it: If you make one additional ask per day and convert at around 10 percent. Then you have three people each month providing you with benefits that you'd have missed otherwise It's essential to make sure that your ask relates to some direct path to what you want, whether it is revenue, a business relationship or anything else of prime importance to you.

						p “Dreams and dedication are powerful combination.”

						p Music can help you get into a “flow state” -- losing yourself in the task at hand. Even repetitive tasks or mundane assignments seem more bearable, or even fun, when your favorite tunes are in your ears.

						p Set a bigger goals and chase them everyday
						p Plus, your eyes won’t be so prone to checking the time. Check out these and more reasons to bring your music to work in this Zing Instruments infographic below. A great piece of music is an instant mood lifter. Plenty of scientific evidence backs this up - we`re happier bunnies when listening to music.

						p Having specific asks
						p Nulla rhoncus orci varius purus lobortis euismod. Fusce tincidunt dictum est et rhoncus. Vivamus hendrerit congue nisi, et nisl tincida vestibulum elit tincidunt eu. Vivamus ac pharetra orci, in feugiat massa. Proin congue mauris pretium, ultricies tortor in, aliquam urna. Vivamus mi tortor, finibus a interdum ac, ultricies in elit. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere hendrerit ex eu scelerisque.

						p Attraction needs attention
						p In order to attract what you want, you actually have to consciously and strategically think about what you want and focus in on it. Then, you need to take some sort of action using the same four strategies you use to ask for help in order to make it happen. You can't get what you want sitting around on your couch. You need to put yourself out there and stimulate interest in person, via email, by phone and through social media.

						p Stylish article pages
						p make it happen
						p Stimulating interest in person can be powerful, especially if you surround yourself with the right people and the right ideas. A study by Nielsen found that 83 percent of people trust referrals from others they know. If you have a product, service, content or any other value that you provide to others, let them know when you talk in person or over the phone. As an example, if you're working with a charity organization, tell a story about how much money you helped raise for another charity you're affiliated with.

						p If you win an important award in an industry, put it in your email signature or as a tagline in a piece of social content. Showcasing your wins organically and authentically will attract more of the same.
					.product
						.img
							img(src="img/product/5.jpg", alt="")
						.caption
							h3.name Garmin Forerunner® 645
							.price
								.new 9.990.000 đ
							.des
								ul
									li Kích thước: 42.5 x 42.5 x 13.5 mm
									li Phiên bản: Music
									li Chất liệu dây: Silicone
									li Mặt kính: Cường lực
									li Chống nước: 5ATM
									li Trọng lượng: 42.2 g
							.btn-wrap
								a.btn-buy(href="#!") Mua ngay
								a.btn-tragop(href="#!") Trả góp
			.col-12.col-lg-4
				.sidebar-block.sidebar-category
					.title CATEGORIES
					.category-link
						ul
							li
								a(href="#!") World 5
							li
								a(href="#!") Lifestyle
							li
								a(href="#!") Business
							li
								a(href="#!") Fashion
							li
								a(href="#!") Investment
							li
								a(href="#!") Technology
				.sidebar-block.popular-news
					.title Popular posts
					.news-list3
						.news-item
							figure
								a.img(href="#!")
									img(src="img/news/img.jpg", alt="")
								figcaption
									h2.name
										a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
									time 25-05-2019
						.news-item
							figure
								a.img(href="#!")
									img(src="img/news/img.jpg", alt="")
								figcaption
									h2.name
										a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
									time 25-05-2019
						.news-item
							figure
								a.img(href="#!")
									img(src="img/news/img.jpg", alt="")
								figcaption
									h2.name
										a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
									time 25-05-2019
						.news-item
							figure
								a.img(href="#!")
									img(src="img/news/img.jpg", alt="")
								figcaption
									h2.name
										a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
									time 25-05-2019
				.sidebar-block.sidebar-subscribe
					.title NEWSLETTER
					.subscribe
						.module-title Subscribe for our daily news
						.subscribefrm
							input.subscribe_email(type='email')
							button.subscribebutton Sign up
				.sidebar-block.sidebar-social
					.title LET'S HANG OUT ON SOCIAL
					.social-list
						.row
							.col-6
								a.social-item.fb(href="#!") <i class="fa fa-facebook" aria-hidden="true"></i>
									span Facebook
							.col-6
								a.social-item.yt(href="#!") <i class="fa fa-youtube" aria-hidden="true"></i>
									span Youtube
			.col-12
				.news-group
					.news-title-wrap
						h2.news-title EDITORS PICKS
					.picked-news
						.item
							.news-item
								figure
									a.img(href="#!")
										img(src="img/news/img.jpg", alt="")
									figcaption
										h2.name
											a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
										time 25-05-2019
						.item
							.news-item
								figure
									a.img(href="#!")
										img(src="img/news/img.jpg", alt="")
									figcaption
										h2.name
											a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
										time 25-05-2019
						.item
							.news-item
								figure
									a.img(href="#!")
										img(src="img/news/img.jpg", alt="")
									figcaption
										h2.name
											a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
										time 25-05-2019
						.item
							.news-item
								figure
									a.img(href="#!")
										img(src="img/news/img.jpg", alt="")
									figcaption
										h2.name
											a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
										time 25-05-2019
						.item
							.news-item
								figure
									a.img(href="#!")
										img(src="img/news/img.jpg", alt="")
									figcaption
										h2.name
											a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
										time 25-05-2019
						.item
							.news-item
								figure
									a.img(href="#!")
										img(src="img/news/img.jpg", alt="")
									figcaption
										h2.name
											a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
										time 25-05-2019