.news-page
	.container
		.row
			.col-12.col-lg-8
				.news-group
					.news-page-title World
					.news-list2
						.row
							.col-6
								.news-item
									figure
										a.img(href="#!")
											img(src="img/news/img.jpg", alt="")
										figcaption
											h2.name
												a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
											time 25-05-2019
											.des Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quidem consectetur, deserunt fuga itaque esse cumque iusto harum quo tempore?
							.col-6
								.news-item
									figure
										a.img(href="#!")
											img(src="img/news/img.jpg", alt="")
										figcaption
											h2.name
												a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
											time 25-05-2019
											.des Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quidem consectetur, deserunt fuga itaque esse cumque iusto harum quo tempore?
							.col-6
								.news-item
									figure
										a.img(href="#!")
											img(src="img/news/img.jpg", alt="")
										figcaption
											h2.name
												a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
											time 25-05-2019
											.des Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quidem consectetur, deserunt fuga itaque esse cumque iusto harum quo tempore?
							.col-6
								.news-item
									figure
										a.img(href="#!")
											img(src="img/news/img.jpg", alt="")
										figcaption
											h2.name
												a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
											time 25-05-2019
											.des Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quidem consectetur, deserunt fuga itaque esse cumque iusto harum quo tempore?
							.col-6
								.news-item
									figure
										a.img(href="#!")
											img(src="img/news/img.jpg", alt="")
										figcaption
											h2.name
												a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
											time 25-05-2019
											.des Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quidem consectetur, deserunt fuga itaque esse cumque iusto harum quo tempore?
							.col-6
								.news-item
									figure
										a.img(href="#!")
											img(src="img/news/img.jpg", alt="")
										figcaption
											h2.name
												a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
											time 25-05-2019
											.des Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quidem consectetur, deserunt fuga itaque esse cumque iusto harum quo tempore?
							.col-6
								.news-item
									figure
										a.img(href="#!")
											img(src="img/news/img.jpg", alt="")
										figcaption
											h2.name
												a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
											time 25-05-2019
											.des Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quidem consectetur, deserunt fuga itaque esse cumque iusto harum quo tempore?
							.col-6
								.news-item
									figure
										a.img(href="#!")
											img(src="img/news/img.jpg", alt="")
										figcaption
											h2.name
												a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
											time 25-05-2019
											.des Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quidem consectetur, deserunt fuga itaque esse cumque iusto harum quo tempore?
				.pages
					ul.pagination
						li.active
							a(href="#!") 1
						li
							a(href="#!") 2
						li
							a(href="#!") 3
						li
							a(href="#!") 4
			.col-12.col-lg-4
				.sidebar-block.sidebar-category
					.title CATEGORIES
					.category-link
						ul
							li
								a(href="#!") World 5
							li
								a(href="#!") Lifestyle
							li
								a(href="#!") Business
							li
								a(href="#!") Fashion
							li
								a(href="#!") Investment
							li
								a(href="#!") Technology
				.sidebar-block.popular-news
					.title Popular posts
					.news-list3
						.news-item
							figure
								a.img(href="#!")
									img(src="img/news/img.jpg", alt="")
								figcaption
									h2.name
										a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
									time 25-05-2019
						.news-item
							figure
								a.img(href="#!")
									img(src="img/news/img.jpg", alt="")
								figcaption
									h2.name
										a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
									time 25-05-2019
						.news-item
							figure
								a.img(href="#!")
									img(src="img/news/img.jpg", alt="")
								figcaption
									h2.name
										a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
									time 25-05-2019
						.news-item
							figure
								a.img(href="#!")
									img(src="img/news/img.jpg", alt="")
								figcaption
									h2.name
										a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
									time 25-05-2019
				.sidebar-block.sidebar-subscribe
					.title NEWSLETTER
					.subscribe
						.module-title Subscribe for our daily news
						.subscribefrm
							input.subscribe_email(type='email')
							button.subscribebutton Sign up
				.sidebar-block.sidebar-social
					.title LET'S HANG OUT ON SOCIAL
					.social-list
						.row
							.col-6
								a.social-item.fb(href="#!") <i class="fa fa-facebook" aria-hidden="true"></i>
									span Facebook
							.col-6
								a.social-item.yt(href="#!") <i class="fa fa-youtube" aria-hidden="true"></i>
									span Youtube
