.container
	.flash-news
		.flash-news-label <i class="fa fa-bolt" aria-hidden="true"></i>
			span Tin hot	
		.flash-news-slick
			.item
				a.news(href="#!") Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere amet sunt reiciendis commodi dolores molestias.
			.item
				a.news(href="#!") Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere amet sunt reiciendis.
			.item
				a.news(href="#!") Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere amet sunt reiciendis commodi dolores.
			.item
				a.news(href="#!") Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere amet sunt reiciendis commodi.
	.hot-news
		.row
			.col-12.col-lg-6
				.news-item.big
					figure
						a.img(href="#!")
							img(src="img/news/img.jpg", alt="")
						figcaption
							h2.name
								a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
							time 25-05-2019
			.col-12.col-lg-6
				.news-item
					figure
						a.img(href="#!")
							img(src="img/news/img.jpg", alt="")
						figcaption
							h2.name
								a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
							time 25-05-2019
				.news-item
					figure
						a.img(href="#!")
							img(src="img/news/img.jpg", alt="")
						figcaption
							h2.name
								a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
							time 25-05-2019
				.news-item
					figure
						a.img(href="#!")
							img(src="img/news/img.jpg", alt="")
						figcaption
							h2.name
								a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
							time 25-05-2019

.container
	.row
		.col-12.col-lg-8
			.news-group
				.news-title-wrap
					h2.news-title Lastest news
					ul.nav.nav-tabs.news-tabs(role='tablist')
						li.nav-item
							a.nav-link.active#home-tab(data-toggle='tab' href='#home' role='tab' aria-controls='home' aria-selected='true') All
						li.nav-item
							a.nav-link#profile-tab(data-toggle='tab' href='#profile' role='tab' aria-controls='profile' aria-selected='false') World
						li.nav-item
							a.nav-link#contact-tab(data-toggle='tab' href='#contact' role='tab' aria-controls='contact' aria-selected='false') Lifestyle
				.tab-content#myTabContent
					.tab-pane.fade.show.active#home(role='tabpanel' aria-labelledby='home-tab')
						.news-list2
							.row
								.col-6
									.news-item
										figure
											a.img(href="#!")
												img(src="img/news/img.jpg", alt="")
											figcaption
												h2.name
													a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
												time 25-05-2019
												.des Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quidem consectetur, deserunt fuga itaque esse cumque iusto harum quo tempore?
								.col-6
									.news-item
										figure
											a.img(href="#!")
												img(src="img/news/img.jpg", alt="")
											figcaption
												h2.name
													a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
												time 25-05-2019
												.des Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quidem consectetur, deserunt fuga itaque esse cumque iusto harum quo tempore?
								.col-6
									.news-item
										figure
											a.img(href="#!")
												img(src="img/news/img.jpg", alt="")
											figcaption
												h2.name
													a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
												time 25-05-2019
												.des Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quidem consectetur, deserunt fuga itaque esse cumque iusto harum quo tempore?
								.col-6
									.news-item
										figure
											a.img(href="#!")
												img(src="img/news/img.jpg", alt="")
											figcaption
												h2.name
													a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
												time 25-05-2019
												.des Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam quidem consectetur, deserunt fuga itaque esse cumque iusto harum quo tempore?
					.tab-pane.fade#profile(role='tabpanel' aria-labelledby='profile-tab') ...
					.tab-pane.fade#contact(role='tabpanel' aria-labelledby='contact-tab') ...
		.col-12.col-lg-4
			.sidebar-block.popular-news
				.title Popular posts
				.news-list3
					.news-item
						figure
							a.img(href="#!")
								img(src="img/news/img.jpg", alt="")
							figcaption
								h2.name
									a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
								time 25-05-2019
					.news-item
						figure
							a.img(href="#!")
								img(src="img/news/img.jpg", alt="")
							figcaption
								h2.name
									a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
								time 25-05-2019
					.news-item
						figure
							a.img(href="#!")
								img(src="img/news/img.jpg", alt="")
							figcaption
								h2.name
									a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
								time 25-05-2019
					.news-item
						figure
							a.img(href="#!")
								img(src="img/news/img.jpg", alt="")
							figcaption
								h2.name
									a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
								time 25-05-2019
			.sidebar-block.sidebar-subscribe
				.title NEWSLETTER
				.subscribe
					.module-title Subscribe for our daily news
					.subscribefrm
						input.subscribe_email(type='email')
						button.subscribebutton Sign up
			.sidebar-block.sidebar-social
				.title LET'S HANG OUT ON SOCIAL
				.social-list
					.row
						.col-6
							a.social-item.fb(href="#!") <i class="fa fa-facebook" aria-hidden="true"></i>
								span Facebook
						.col-6
							a.social-item.yt(href="#!") <i class="fa fa-youtube" aria-hidden="true"></i>
								span Youtube
		.col-12
			.news-ads
				a.ads-banner(href="#!")
					img(src="http://deothemes.com/envato/deus/html/img/content/placeholder_728.jpg", alt="")
		.col-12
			.news-group
				.news-title-wrap
					h2.news-title EDITORS PICKS
				.picked-news
					.item
						.news-item
							figure
								a.img(href="#!")
									img(src="img/news/img.jpg", alt="")
								figcaption
									h2.name
										a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
									time 25-05-2019
					.item
						.news-item
							figure
								a.img(href="#!")
									img(src="img/news/img.jpg", alt="")
								figcaption
									h2.name
										a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
									time 25-05-2019
					.item
						.news-item
							figure
								a.img(href="#!")
									img(src="img/news/img.jpg", alt="")
								figcaption
									h2.name
										a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
									time 25-05-2019
					.item
						.news-item
							figure
								a.img(href="#!")
									img(src="img/news/img.jpg", alt="")
								figcaption
									h2.name
										a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
									time 25-05-2019
					.item
						.news-item
							figure
								a.img(href="#!")
									img(src="img/news/img.jpg", alt="")
								figcaption
									h2.name
										a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
									time 25-05-2019
					.item
						.news-item
							figure
								a.img(href="#!")
									img(src="img/news/img.jpg", alt="")
								figcaption
									h2.name
										a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
									time 25-05-2019
		.col-12.col-md-6
			.news-group
				.news-title-wrap
					h2.news-title TECHNOLOGY
				.news-list4
					.row
						.col-12.col-lg-6
							.news-item.big
								figure
									a.img(href="#!")
										img(src="img/news/img.jpg", alt="")
									figcaption
										h2.name
											a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
										time 25-05-2019
						.col-12.col-lg-6
							.news-item
								figure
									a.img(href="#!")
										img(src="img/news/img.jpg", alt="")
									figcaption
										h2.name
											a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
										time 25-05-2019
							.news-item
								figure
									a.img(href="#!")
										img(src="img/news/img.jpg", alt="")
									figcaption
										h2.name
											a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
										time 25-05-2019
							.news-item
								figure
									a.img(href="#!")
										img(src="img/news/img.jpg", alt="")
									figcaption
										h2.name
											a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
										time 25-05-2019
							.news-item
								figure
									a.img(href="#!")
										img(src="img/news/img.jpg", alt="")
									figcaption
										h2.name
											a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
										time 25-05-2019
		.col-12.col-md-6
			.news-group
				.news-title-wrap
					h2.news-title TRAVEL
				.news-list4
					.row
						.col-12.col-lg-6
							.news-item.big
								figure
									a.img(href="#!")
										img(src="img/news/img.jpg", alt="")
									figcaption
										h2.name
											a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
										time 25-05-2019
						.col-12.col-lg-6
							.news-item
								figure
									a.img(href="#!")
										img(src="img/news/img.jpg", alt="")
									figcaption
										h2.name
											a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
										time 25-05-2019
							.news-item
								figure
									a.img(href="#!")
										img(src="img/news/img.jpg", alt="")
									figcaption
										h2.name
											a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
										time 25-05-2019
							.news-item
								figure
									a.img(href="#!")
										img(src="img/news/img.jpg", alt="")
									figcaption
										h2.name
											a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
										time 25-05-2019
							.news-item
								figure
									a.img(href="#!")
										img(src="img/news/img.jpg", alt="")
									figcaption
										h2.name
											a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
										time 25-05-2019
		.col-12.col-md-6
			.news-group
				.news-title-wrap
					h2.news-title CRYPTOCURRENCY
				.news-list4
					.row
						.col-12.col-lg-6
							.news-item.big
								figure
									a.img(href="#!")
										img(src="img/news/img.jpg", alt="")
									figcaption
										h2.name
											a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
										time 25-05-2019
						.col-12.col-lg-6
							.news-item
								figure
									a.img(href="#!")
										img(src="img/news/img.jpg", alt="")
									figcaption
										h2.name
											a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
										time 25-05-2019
							.news-item
								figure
									a.img(href="#!")
										img(src="img/news/img.jpg", alt="")
									figcaption
										h2.name
											a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
										time 25-05-2019
							.news-item
								figure
									a.img(href="#!")
										img(src="img/news/img.jpg", alt="")
									figcaption
										h2.name
											a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
										time 25-05-2019
							.news-item
								figure
									a.img(href="#!")
										img(src="img/news/img.jpg", alt="")
									figcaption
										h2.name
											a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
										time 25-05-2019
		.col-12.col-md-6
			.news-group
				.news-title-wrap
					h2.news-title INVESTMENT
				.news-list4
					.row
						.col-12.col-lg-6
							.news-item.big
								figure
									a.img(href="#!")
										img(src="img/news/img.jpg", alt="")
									figcaption
										h2.name
											a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
										time 25-05-2019
						.col-12.col-lg-6
							.news-item
								figure
									a.img(href="#!")
										img(src="img/news/img.jpg", alt="")
									figcaption
										h2.name
											a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
										time 25-05-2019
							.news-item
								figure
									a.img(href="#!")
										img(src="img/news/img.jpg", alt="")
									figcaption
										h2.name
											a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
										time 25-05-2019
							.news-item
								figure
									a.img(href="#!")
										img(src="img/news/img.jpg", alt="")
									figcaption
										h2.name
											a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
										time 25-05-2019
							.news-item
								figure
									a.img(href="#!")
										img(src="img/news/img.jpg", alt="")
									figcaption
										h2.name
											a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
										time 25-05-2019
		.col-12
			.news-group
				.news-title-wrap
					h2.news-title Videos
				.video-list2
					.row
						.col-12.col-md-6
							.video
								figure
									a.img(href="#!")
										img(src="img/news/img.jpg", alt="")
									figcaption
										h2.name
											a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
						.col-12.col-md-6
							.video
								figure
									a.img(href="#!")
										img(src="img/news/img.jpg", alt="")
									figcaption
										h2.name
											a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
		.col-12.col-lg-8
			.news-group
				.news-title-wrap
					h2.news-title WORLDWIDE
				.news-list5
					.news-item
						figure
							a.img(href="#!")
								img(src="img/news/img.jpg", alt="")
							figcaption
								h2.name
									a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
								time 25-05-2019
								.des Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam accusamus distinctio error cupiditate ab nemo quo hic rem sequi doloremque.
					.news-item
						figure
							a.img(href="#!")
								img(src="img/news/img.jpg", alt="")
							figcaption
								h2.name
									a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
								time 25-05-2019
								.des Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam accusamus distinctio error cupiditate ab nemo quo hic rem sequi doloremque.
					.news-item
						figure
							a.img(href="#!")
								img(src="img/news/img.jpg", alt="")
							figcaption
								h2.name
									a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
								time 25-05-2019
								.des Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam accusamus distinctio error cupiditate ab nemo quo hic rem sequi doloremque.
					.news-item
						figure
							a.img(href="#!")
								img(src="img/news/img.jpg", alt="")
							figcaption
								h2.name
									a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
								time 25-05-2019
								.des Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam accusamus distinctio error cupiditate ab nemo quo hic rem sequi doloremque.
					.news-item
						figure
							a.img(href="#!")
								img(src="img/news/img.jpg", alt="")
							figcaption
								h2.name
									a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
								time 25-05-2019
								.des Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam accusamus distinctio error cupiditate ab nemo quo hic rem sequi doloremque.
					.news-item
						figure
							a.img(href="#!")
								img(src="img/news/img.jpg", alt="")
							figcaption
								h2.name
									a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
								time 25-05-2019
								.des Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam accusamus distinctio error cupiditate ab nemo quo hic rem sequi doloremque.
		.col-12.col-lg-4
			.sidebar-ads
				a.ads-img.d-block(href="#!")
					img(src="http://deothemes.com/envato/deus/html/img/content/placeholder_336.jpg", alt="")
			.sidebar-block.sidebar-category
				.title CATEGORIES
				.category-link
					ul
						li
							a(href="#!") World 5
						li
							a(href="#!") Lifestyle
						li
							a(href="#!") Business
						li
							a(href="#!") Fashion
						li
							a(href="#!") Investment
						li
							a(href="#!") Technology
			.sidebar-block.sidebar-recommend
				.title RECOMMENDED
				.news-list6
					.news-item
						figure
							a.img(href="#!")
								img(src="img/news/img.jpg", alt="")
							figcaption
								h2.name
									a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
								time 25-05-2019
								//- .des Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam accusamus distinctio error cupiditate ab nemo quo hic rem sequi doloremque.
					.news-item
						figure
							a.img(href="#!")
								img(src="img/news/img.jpg", alt="")
							figcaption
								h2.name
									a(href="#!") 3 Founders With Booming Businesses Share Stories About Their Difficult Early
								time 25-05-2019
								//- .des Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam accusamus distinctio error cupiditate ab nemo quo hic rem sequi doloremque.