section.breadcrumb-wrap.clearfix
	.breadcrumb-bg(style="background: url(img/br6.jpg) center center no-repeat;background-size:cover")
	.container
		ol.breadcrumb
			li
				a(href="#")
					span Trang chủ
			li
				a(href="#")
					span Giới thiệu
		h3.page-name Giới thiệu
//- section.horizon-nav
//- 	.container
//- 		nav
//- 			ul
//- 				li
//- 					a(href="#!") Về công ty
//- 				li
//- 					a(href="#!") Giá trị cốt lỗi
//- 				li
//- 					a(href="#!") Tầm nhìn - Sứ mệnh
//- 				li
//- 					a(href="#!") Chính sách chất lượng
//- 				li
//- 					a(href="#!") Hệ thống quản trị
//- 				li
//- 					a(href="#!") Nhân sự chủ chốt
section.about-section.about-section1
	.container
		.intro
			.intro-text Công ty TNHH chế biến dừa Lương Quới được thành lập năm 1997. 
				br 
				|Bắt đầu hành trình gia tăng giá trị cho trái dừa bằng những sản phẩm khác biệt.

section.about-section.about-section2
	.container
		.row.align-items-center
			.col-12.col-lg-6
				.intro-img
					img(src="img/dua2.png", alt="alt")
			.col-12.col-lg-6
				.intro
					.title
						h4 KHẲNG ĐỊNH
						h3 VỊ TRÍ TIÊN PHONG
						h5 Ngành chế biến dừa Việt Nam
					.content
						p Công ty có nhà máy sản xuất với diện tích trên 5 hecta, cung ứng ra thị trường hơn 50.000 tấn sản phẩm gồm nước dừa UHT, nước cốt dừa đóng lon, dầu dừa nguyên chất, dầu dừa tinh luyện, cơm dừa nạo sấy, bơ dừa, dừa sấy giòn… bằng nhãn hiệu Vietcoco mỗi năm.
						p Trải qua nhiều thách thức công ty Chế biến Dừa Lương Quới đang từng bước khẳng định vị trí tiên phong trong sản xuất, kinh doanh và xuất nhập khẩu các sản phẩm thực phẩm từ trái dừa. 
					a.btn.btn-viewmore(href="#!" data-toggle="modal" data-target="#introModal") <i class="fa fa-chevron-circle-down" aria-hidden="true"></i> Xem thêm
.modal.fade#introModal(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
	.modal-dialog.modal-lg(role='document')
		.modal-content
			.modal-header
				h5.modal-title#exampleModalLabel Giới thiệu
				button.close(type='button' data-dismiss='modal' aria-label='Close')
					span(aria-hidden='true') ×
			.modal-body
				.content 
					p Công ty TNHH chế biến dừa Lương Quới được thành lập năm 1997 và bắt đầu hành trình gia tăng giá trị cho trái dừa bằng những sản phẩm khác biệt. Công ty có nhà máy sản xuất với diện tích trên 5 hecta, cung ứng ra thị trường hơn 50.000 tấn sản phẩm gồm nước dừa UHT, nước cốt dừa đóng lon, dầu dừa nguyên chất, dầu dừa tinh luyện, cơm dừa nạo sấy, bơ dừa, dừa sấy giòn… bằng nhãn hiệu Vietcoco mỗi năm. Trải qua nhiều thách thức công ty Chế biến Dừa Lương Quới đang từng bước khẳng định vị trí tiên phong trong sản xuất, kinh doanh và xuất nhập khẩu các sản phẩm thực phẩm từ trái dừa. 
					p Nắm bắt xu hướng phát triển thực phẩm hữu cơ cao cấp trên thế giới, công ty chế biến Dừa Lương Qưới đã đầu tư phát triển nguồn nguyên liệu dừa hữu cơ đáp ứng các tiêu chuẩn nghiêm ngặt quốc tế và được tổ chức Control Union (Hà Lan)  chứng nhận. Tiêu chuẩn vùng nguyên liệu dừa hữu cơ của công ty TNHH Chế Biến Dừa Lương Qưới đảm bảo tuân thủ nghiêm ngặt theo tiêu chuẩn hữu cơ USDA , EU và JAS.
					p Dòng chảy của sông Mekong đã chuyên chở những trái dừa sau khi thu hoạch vào nhà máy của công ty Chế biến Dừa Lương Quới một cách thuận lợi... Dừa sau khi được sơ chế sẽ được đưa vào hệ thống nhà máy chế biến hiện đại, công nghệ tiên tiến nhất để chế biến nên nhiều sản phẩm khác nhau. Qua các công đoạn chế biến, xử lý khép kín, tự động, với quy trình an toàn vệ sinh thực phẩm nghiêm ngặt đạt chuẩn quốc tế, từng sản phẩm dừa của công ty TNHH chế biến dừa Lương Quới ra đời luôn giữ được hương vị tươi ngon nhất. Chất lượng sản phẩm của công ty Chế biến Dừa Lương Quới được kiểm soát bằng các hệ thống quản lý chất lượng tiên tiến như HACCP ,ISO 22000 , BRC, HALAL, KOSHER và các tiêu chuẩn hữu cơ USDA, EU, JAS.
					p Sản phẩm của công ty đã có  mặt hơn 30 nước trên thế giới như Mỹ, Canada, Nhật Bản, Úc, Hàn quốc…và tiếp tục mở rộng sang các thị trường mới …
					p Có được những thành quả như hiện nay, Công ty chế biến Dừa Lương Quới đã nỗ lực duy trì triết lý kinh doanh gắn với trách nhiệm xã hội. Nhiều hoạt động bảo vệ môi trường, hoạt động xã hội đã được công ty Dừa Lương Quới tổ chức mỗi năm nhằm hướng đến mục tiêu ”Sản phẩm sạch, Thế giới xanh”
					p Sức sống của trái dừa, của vùng đất Bến Tre, của người nông dân cùng đội ngũ cán bộ công nhân viên là giá trị cốt lõi của công ty TNHH Chế Biến Dừa Lương Quới. Công ty  không chỉ khai thác chế biến  dựa trên nguồn nguyên liệu sẵn có mà còn tiếp tục nuôi dưỡng để duy trì nguồn nguyên liệu dừa VN ngày càng dồi dào hơn. Đây là chuỗi giá trị cộng hưởng mà công ty TNHH Chế Biến Dừa Lương Quới luôn trân trọng, dưỡng nuôi để làm nên những sản phẩm ngọt ngào cho cuộc sống.
section.about-section.about-section9
	.container
		h3.about-title.text-center Giá trị cốt lõi
		.row
			.col-12.col-lg-6
				.content
					p Trở thành nhà sản xuất số 1 Việt Nam về sản phẩm sạch, giàu dưỡng chất chế biến từ quả dừa nhằm phục vụ sức khoẻ và cuộc sống con người, thông qua việc xây dựng mối quan hệ hài hoà về lợi ích giữa các bên.
					p 
						strong Nhà Cung Cấp – Doanh Nghiệp – Khách Hàng/ Người Tiêu Dùng – Người Lao Động – Cộng Đồng
					ul
						li 
							strong Chất lượng
							br
							span Tạo ra sản phẩm tốt nhất với chất lượng cao nhất để phục vụ cộng đồng.
						li 
							strong Đạo đức
							br
							span Tôn trọng và tuân thủ các giá trị và tiêu chuẩn về đạo đức trong kinh doanh và trong xã hội.
						li 
							strong Công bằng
							br
							span Công bằng với người lao động, khách hàng, đối tác và các bên có liên quan.
						li 
							strong Trách nhiệm
							br
							span Gắn liền sự phát triển và lợi ích của doanh nghiệp với lợi ích của người lao động, người nông dân trồng dừa, khách hàng và cộng đồng xã hội.
						li 
							strong Khác biệt
							br
							span Không ngừng nghiên cứu, sáng tạo sản phẩm mới khác biệt và đột phá từ quả dừa bằng lòng đam mê và sự quyết tâm.
			.col-12.col-lg-6
				.img
					img(src="img/about4.jpg", alt="alt")
section.about-section.about-section3
	.container
		h3.about-title.text-center Lịch sử hình thành
		.history-wrap
			.history-line.line1
			.history-line.line2
			.history-line.line3
			.history-line.line4
			.history-line.line5
			.history-timeline
				.history-grid
					.history-block.block1
						.row
							.col-12.col-sm-5
								.year 1995
								.content
									p Cơ sở sản xuất dầu dừa thô đầu tiên được thành lập với số vốn ít ỏi và 1 máy ép dầu thô.
							.col-12.col-sm-7
								.img
									img(src="img/br5.jpg", alt="alt")
					.history-block.block2
						.row
							.col-12.col-sm-5
								.year 1997
								.content
									p Thành lập doanh nghiệp tư nhân ép dầu Lương Quới với công suất sản xuất là 2.000 tấn Dầu dừa thô/năm.
							.col-12.col-sm-7
								.img
									img(src="img/br5.jpg", alt="alt")
					.history-block.block3
						.year 1999
						.content
							p Công ty bắt đầu thâm nhập thị trường xuất khẩu với sản phẩm đầu tiên là Dầu dừa thô xuất sang Trung Quốc.
						.img.mb-3
							img(src="img/p6.png", alt="alt")
						.img
							img(src="img/p6.png", alt="alt")
				.history-grid
					.history-block.block4
						.row
							.col-12.col-sm-5
								.year 2000
								.content
									p Sản phẩm cơm dừa nạo sấy ra đời với công suất 1000 tấn/năm.
							.col-12.col-sm-7
								.img
									img(src="img/br5.jpg", alt="alt")
					.history-block.block5
						.row
							.col-12.col-sm-5
								.year 2006
								.content
									p Thành lập Công ty TNHH MTV chế biến dừa Lương Quới. Xây dựng nhà máy Thành Vinh 1.
							.col-12.col-sm-7
								.img
									img(src="img/br5.jpg", alt="alt")
				//- .history-grid
					.history-block.block6
						.year 2009
						.content
							p Hợp tác phát triển Việt Nam – Đan Mạch về bảo vệ môi trường và tiết kiệm năng lượng.
						//- .img
							img(src="img/br5.jpg", alt="alt")
					.history-block.block7
						.row
							.col-12.col-sm-5
								.year 2011
								.content
									p Nhà máy Thành Vinh 2 được thành lập.

							.col-12.col-sm-7
								.img
									img(src="img/br5.jpg", alt="alt")
					.history-block.block8
						.row
							.col-12.col-sm-5
								.year 2012
								.content
									p Sản phẩm Nước cốt dừa đóng lon ra đời.
							.col-12.col-sm-7
								.img
									img(src="img/br5.jpg", alt="alt")
				.history-grid
					.history-block.block9
						.row
							.col-12.col-sm-6
								.year 2013
								.content
									p Công ty TNHH 1 thành viên chế biến dừa Lương Quới được đổi tên thành Công ty TNHH chế biến dừa Lương Quới.
							.col-12.col-sm-6
								.img
									img(src="img/br5.jpg", alt="alt")
					.history-block.block10
						.row
							.col-12.col-sm-6
								.year 2014
								.content
									p Chi nhánh đầu tiên tại TP. Hồ Chí Minh được thành lập.
							.col-12.col-sm-6
								.img
									img(src="img/br5.jpg", alt="alt")
					.history-block.block11
						.row
							.col-12.col-sm-6
								.year Hiện nay
								.content
									p Công ty TNHH CHế Biến Dừa Lương Quới vẫn đang không ngừng phát triễn để đạt được mục tiêu ban đầu đề ra.
							.col-12.col-sm-6
								.img
									img(src="img/br5.jpg", alt="alt")

section.about-section.about-section4
	.container
		h3.about-title Chiến lược phát triển
		.row
			.col-12.col-lg-6
				.content
					p Chiến lược phát triển đến năm 2020 của Công ty TNHH chế biến dừa Lương Quới là trở thành 1 trong top 50 công ty chế biến sản phẩm từ quả dừa lớn nhất Châu Á – Thái Bình Dương.
					p Trong gian đoạn này, 3 mục tiêu chiến lược quan trọng tạo đòn bẫy cho việc đạt sứ mệnh của Lương Quới là:
				.about-target
					.target 
						.number 1
						span Đầu tư phát triển và quản trị nguồn nhân lực chiến lược.
					.target 
						.number 2
						span Đầu tư nghiên cứu và áp dụng khoa học kỹ thuật hiện đại vào việc phát triển sản phẩm mới mang tính đột phá và khác biệt.
					.target 
						.number 3
						span Đầu tư cơ sở hạ tầng và áp dụng các mô hình quản lý tiên tiến trên thế giới.
			.col-12.col-lg-6
				.img.text-right
					img(src="img/developing.png", alt="alt")
section.about-section.about-section5
	.container
		h3.about-title An toàn, chất lượng, trách nhiệm để phát triển bền vững
		.row
			.col-12.col-lg-4
				.img
					img(src="img/about2.jpg", alt="alt")
			.col-12.col-lg-8
				.content
					p Với sứ mệnh, mục tiêu mang lại những sản phẩm chất lượng, giá trị dinh dưỡng cao từ quả dừa và an toàn đối với sức khỏe người tiêu dùng, công ty đã không ngừng phát triển sản phẩm, đổi mới công nghệ sản xuất, đồng thời áp dụng Hệ thống quản lý chất lượng an toàn vệ sinh thực phẩm ISO 22000:2005, HACCP, chương trình sản xuất sạch hơn trong công nghiệp để nâng cao thương hiệu sản phẩm dừa Việt Nam nói chung, sản phẩm dừa Công ty Lương Quới nói riêng.
					p Bên cạnh đó, Công ty TNHH chế biến dừa Lương Quới luôn xây dựng một mối quan hệ về cả lợi ích lẫn trách nhiệm 1 cách hài hoà giữa các bên: Nhà cung cấp – Doanh nghiệp – Khách hàng – Người lao động – Cộng đồng nhằm mang đến những sản phẩm an toàn, chất lượng cao tới tay khách hàng, cộng đồng; đồng thời mang lại lợi ích về kinh tế cho doanh nghiệp cũng như người lao động và đối tác là nhà cung cấp.
					p Công ty hoạt động với phương châm “AN TOÀN, CHẤT LƯỢNG, TRÁCH NHIỆM ĐỂ PHÁT TRIỂN BỀN VỮNG”. Đây không chỉ là phương châm của Công ty Lương Quới mà nó còn được xem như là kim chỉ nam của Công ty trong quá trình sản xuất và phát triển từ khi được thành lập đến nay.

section.about-section.about-section6
	.container
		h3.about-title Chất lượng sản phẩm vươn tầm thế giới
		.row.align-items-center
			.col-12.col-lg-7
				.content
					p Bên cạnh những tiêu chuẩn vệ sinh an toàn thực phẩm trong nước, sản phẩm Công ty Lương Quới còn đạt được những tiêu chuẩn Quốc tế để xuất khẩu sang các thị trường ngoài nước khó tính. Bằng chứng là sản phẩm của Công ty nhận được các chứng nhận Quốc tế như: ISO 22000:2005, HACCP, BRC, HALAL, KOSHER, GMP, được cơ quan FDA của Hoa Kỳ cấp mã số FDA và SID,...
					p Hiện sản phẩm của Công ty TNHH Chế biến dừa Lương Quới xuất khẩu đến hơn 30 nước trên thế giới như Hoa Kỳ, Châu Âu,  Nam Mỹ, Nam Phi, Trung Đông, Nhật Bản, Thái Lan, Hàn Quốc,… Và 4 năm liền từ năm 2010- 2013 Công ty đều được Bộ Công Thương xét chọn đạt danh hiệu “Doanh nghiệp xuất khẩu uy tín”. 
			.col-12.col-lg-5
				.img.text-right(style="margin: -15px")
					img(src="img/about3.png", alt="alt")

section.about-section.about-section7
	.container
		h3.about-title.text-center Hệ thống quản trị
		.content.text-center.intro-content
			p Trong những năm gần đây, cùng với việc tập trung nguồn lực để đầu tư và phát triển về cơ sở hạ tầng, kho bãi, thiết bị sản xuất,… cũng như nguồn nhân lực tại Công ty thì hoạt động quản trị cũng được Công ty TNHH chế biến dừa Lương Quới phát huy một cách tối đa nhằm mang lại hiệu quả, lợi ích cao nhất cho toàn bộ Công ty. Sơ đồ tổ chức của Công ty TNHH chế biến dừa Lương Quới được thế hiện một cách chuyên nghiệp và khoa học. Các bộ phận vừa làm việc một cách độc lập, vừa liên kết chặt chẽ với nhau cùng tạo nên một Lương Quới bền vững và phát triển mạnh mẽ.
		.staff-list
			.row.justify-content-center
				.staff-item(data-toggle="modal" data-target="#staffModal")
					.img
						img(src="img/ns1.jpg", alt="alt")
					.caption
						.name Ông 
							strong Nguyễn Văn A
						.vt Giám đốc kinh doanh
			.row.justify-content-center
				.staff-item(data-toggle="modal" data-target="#staffModal")
					.img
						img(src="img/ns1.jpg", alt="alt")
					.caption
						.name Ông 
							strong Nguyễn Văn A
						.vt Giám đốc kinh doanh
				.staff-item(data-toggle="modal" data-target="#staffModal")
					.img
						img(src="img/ns1.jpg", alt="alt")
					.caption
						.name Ông 
							strong Nguyễn Văn A
						.vt Giám đốc kinh doanh
				.staff-item(data-toggle="modal" data-target="#staffModal")
					.img
						img(src="img/ns1.jpg", alt="alt")
					.caption
						.name Ông 
							strong Nguyễn Văn A
						.vt Giám đốc kinh doanh
			.row.justify-content-center
				.staff-item(data-toggle="modal" data-target="#staffModal")
					.img
						img(src="img/ns1.jpg", alt="alt")
					.caption
						.name Ông 
							strong Nguyễn Văn A
						.vt Giám đốc kinh doanh
				.staff-item(data-toggle="modal" data-target="#staffModal")
					.img
						img(src="img/ns1.jpg", alt="alt")
					.caption
						.name Ông 
							strong Nguyễn Văn A
						.vt Giám đốc kinh doanh
				.staff-item(data-toggle="modal" data-target="#staffModal")
					.img
						img(src="img/ns1.jpg", alt="alt")
					.caption
						.name Ông 
							strong Nguyễn Văn A
						.vt Giám đốc kinh doanh
		//- .staff-slide
			.item
				.staff-item(data-toggle="modal" data-target="#staffModal")
					.img
						img(src="img/ns1.jpg", alt="alt")
					.caption
						.name Ông 
							strong Nguyễn Văn A
						.vt Giám đốc kinh doanh
			.item
				.staff-item
					.img
						img(src="img/ns1.jpg", alt="alt")
					.caption
						.name Ông 
							strong Nguyễn Văn A
						.vt Giám đốc kinh doanh
			.item
				.staff-item
					.img
						img(src="img/ns1.jpg", alt="alt")
					.caption
						.name Ông 
							strong Nguyễn Văn A
						.vt Giám đốc kinh doanh
			.item
				.staff-item
					.img
						img(src="img/ns1.jpg", alt="alt")
					.caption
						.name Ông 
							strong Nguyễn Văn A
						.vt Giám đốc kinh doanh
			.item
				.staff-item
					.img
						img(src="img/ns1.jpg", alt="alt")
					.caption
						.name Ông 
							strong Nguyễn Văn A
						.vt Giám đốc kinh doanh
			.item
				.staff-item
					.img
						img(src="img/ns1.jpg", alt="alt")
					.caption
						.name Ông 
							strong Nguyễn Văn A
						.vt Giám đốc kinh doanh

.modal.fade#staffModal(tabindex='-1' role='dialog' aria-labelledby='exampleModalLabel' aria-hidden='true')
	.modal-dialog.modal-lg(role='document')
		.modal-content
			.modal-header
				h5.modal-title#exampleModalLabel Ông 
					strong Nguyễn Văn A
				button.close(type='button' data-dismiss='modal' aria-label='Close')
					span(aria-hidden='true') ×
			.modal-body
				.row
					.col-12.col-md-4
						.staff-img
							img(src="img/ns1.jpg", alt="alt")
					.col-12.col-md-8
						.content 
							p Bén  duyên với cây dừa từ những năm 1980, đến năm 1984 ông Thành giữ vai trò là Trưởng phòng kế hoạch Trung tâm dừa Đồng Gò.
							p 14 năm gắn bó cùng ngành, với lòng đam mê, nhiệt huyết, ông Thành thành lập Doanh nghiệp tư nhân ép dầu Lương Quới năm 1997, đăt nền móng đầu tiên cho công ty TNHH Chế Biến Dừa Lương Quới.
							p Với khát vọng nâng cao giá trị trái dừa cũng như ngành dừa và tạo đầu ra cho người nông dân trồng dừa tỉnh Bến Tre, ông Thành không ngừng nghiên cứu, cải tiến công nghệ, phát triển sản phẩm mới phù hợp với nhu cầu nội địa và xuất khẩu, đưa Công ty TNHH Chế Biến Dừa Lương Quới vươn tầm trở thành một trong những công ty chế biến dừa hàng đầu Việt Nam.


section.about-section.about-section8
	.container
		h3.about-title.text-center Đơn vị trực thuộc
		.content.mb-4
			p Qua hơn 20 năm hình thành và phát triển, Công ty TNHH Chế Biến Dừa Lương Quới đã trở thành một trong những công ty sản xuất kinh doanh các sản phẩm dừa có quy mô hàng đầu Việt Nam và đóng góp to lớn vào sự phát triển của đại phương cũng như ngành chế biến dừa Việt Nam. Các đơn vị trực thuộc của chúng tôi gồm 1 chi nhánh, 1 cửa hàng giới thiệu sản phẩm và 1 công ty con luôn sáng tạo, nỗ lực không ngừng để thương hiệu vươn đến tầm cao mới.
		.office-list
			.row
				.col-12.col-md-3
					.office
						.img
							img(src="img/br6.jpg", alt="alt")
						.caption
							.name Trụ sở chính
							.location Lô A36, A37 Khu Công nghiệp An Hiệp, Châu Thành, Bến Tre
							.phone (+84).28.3762.8850
				.col-12.col-md-3
					.office
						.img
							img(src="img/br6.jpg", alt="alt")
						.caption
							.name Chi nhánh TP.Hồ Chí Minh
							.location Lô A36, A37 Khu Công nghiệp An Hiệp, Châu Thành, Bến Tre
							.phone (+84).28.3762.8850
				.col-12.col-md-3
					.office
						.img
							img(src="img/br6.jpg", alt="alt")
						.caption
							.name Showroom giới thiệu sản phẩm Bến Tre
							.location Lô A36, A37 Khu Công nghiệp An Hiệp, Châu Thành, Bến Tre
							.phone (+84).28.3762.8850
				.col-12.col-md-3
					.office
						.img
							img(src="img/br6.jpg", alt="alt")
						.caption
							.name Văn phòng tại Mỹ
							.location Lô A36, A37 Khu Công nghiệp An Hiệp, Châu Thành, Bến Tre
							.phone (+84).28.3762.8850