section.breadcrumb-wrap.clearfix
	.breadcrumb-bg(style="background: url(img/br3.jpg) center center no-repeat;background-size:cover")
	.container
		ol.breadcrumb
			li
				a(href="#")
					span Trang chủ
			li
				a(href="#")
					span Hình ảnh
		h3.page-name Hình ảnh
//- section.category-block
	.container
		nav.categories
			ul
				li.active
					a(href="#!") Trụ sở chính
				li
					a(href="#!") Đơn vị trực thuộc
				li
					a(href="#!") Sự kiện nổi bật
				li
					a(href="#!") Xúc tiến thương mại
				li
					a(href="#!") Khách hàng & đối tác
				li
					a(href="#!") Khách thăm công ty
				li
					a(href="#!") Hoạt động công ty

.container
	.row
		.col-12.col-lg-9
			section.picture-page
				.album-list
					.row
						.col-12.col-lg-6
							.album-item
								.img
									img(src="img/p13.jpg", alt="alt")
								.info
									.name Nhà máy
						.col-12.col-lg-6
							.album-item
								.img
									img(src="img/p16.jpg", alt="alt")
								.info
									.name Chi nhánh
						.col-12.col-lg-6
							.album-item
								.img
									img(src="img/p17.jpg", alt="alt")
								.info
									.name Showroom
						.col-12.col-lg-6
							.album-item
								.img
									img(src="img/v1.png", alt="alt")
								.info
									.name Đại lý
				//- .card-columns
					.card
						a.pic(href="img/p1.jpg" data-fancybox="album1")
							img(src="img/p1.jpg", alt="alt")
					.card
						a.pic(href="img/p2.jpg" data-fancybox="album1")
							img(src="img/p2.jpg", alt="alt")
					.card
						a.pic(href="img/p3.jpg" data-fancybox="album1")
							img(src="img/p3.jpg", alt="alt")
					.card
						a.pic(href="img/p4.jpg" data-fancybox="album1")
							img(src="img/p4.jpg", alt="alt")
					.card
						a.pic(href="img/p5.png" data-fancybox="album1")
							img(src="img/p5.png", alt="alt")
					.card
						a.pic(href="img/p6.png" data-fancybox="album1")
							img(src="img/p6.png", alt="alt")
					.card
						a.pic(href="img/p7.png" data-fancybox="album1")
							img(src="img/p7.png", alt="alt")
					.card
						a.pic(href="img/p8.jpg" data-fancybox="album1")
							img(src="img/p8.jpg", alt="alt")
					.card
						a.pic(href="img/p9.jpg" data-fancybox="album1")
							img(src="img/p9.jpg", alt="alt")
					.card
						a.pic(href="img/p10.jpg" data-fancybox="album1")
							img(src="img/p10.jpg", alt="alt")
					.card
						a.pic(href="img/p11.jpg" data-fancybox="album1")
							img(src="img/p11.jpg", alt="alt")
					.card
						a.pic(href="img/p12.jpg" data-fancybox="album1")
							img(src="img/p12.jpg", alt="alt")
		.col-12.col-lg-3
			.sidebar-categories
				nav.categories
					ul
						li
							a(href="#!") Trụ sở chính
						li.active
							a(href="#!") Đơn vị trực thuộc
						li
							a(href="#!") Sự kiện nổi bật
						li
							a(href="#!") Xúc tiến thương mại
						li
							a(href="#!") Khách hàng & đối tác
						li
							a(href="#!") Khách thăm công ty
						li
							a(href="#!") Hoạt động công ty