.home-banner
	.banner-slide
		img(src="img/banner2.jpg", alt="alt")
		.container
			.caption
				h4 Khẳng định
				h3 Vị trí tiên phong 
					br
					|Ngành chế biến dừa Việt Nam
				//- a.viewmore(href="vechungtoi.html") Tìm hiểu thêm
section.home-section.home-intro
	.container
		.row
			.col-12.col-lg-6
				//- .home-stitle Giới thiệu
				.home-title Câu chuyện về Lương Quới và hành trình gia tăng giá trị cho những trái dừa
				.intro1
					.icon
						img(src="img/dua1.png", alt="alt")
					.content
						p Công ty TNHH chế biến dừa Lương Quới được thành lập vào năm 1997 và bắt đầu hành trình gia tăng giá trị cho trái dừa bằng những sản phẩm khác biệt như: cơm dừa nạo sấy, dầu dừa tinh khiết, dầu dừa nguyên chất, dầu dừa tinh luyện, nước cốt dừa đóng lon...
			.col-12.col-lg-6
				//- hr.mb-5.mt-5
				.video
					img(src="img/video.jpg", alt="alt")
					a.play(href="#!" data-fancybox) <i class="fa fa-play" aria-hidden="true"></i>
section.home-section.home-product
	.container
		.home-product-list
			.row
				.col-12.col-lg-3
					.product
						.img
							img(src="img/hpr1.jpg", alt="alt")
						.caption
							.name Thực phẩm
							//- .des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, odit.
							a.readmore(href="#!") Chi tiết
				.col-12.col-lg-3
					.product
						.img
							img(src="img/hpr2.jpg", alt="alt")
						.caption
							.name Nước giải khát
							//- .des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, odit.
							a.readmore(href="#!") Chi tiết
				.col-12.col-lg-3
					.product
						.img
							img(src="img/hpr3.jpg", alt="alt")
						.caption
							.name Mỹ phẩm
							//- .des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, odit.
							a.readmore(href="#!") Chi tiết
				.col-12.col-lg-3
					.product
						.img
							img(src="img/hpr4.jpg", alt="alt")
						.caption
							.name Các sản phẩm khác
							//- .des Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, odit.
							a.readmore(href="#!") Chi tiết
section.home-section.home-param
	.container
		.param-list
			.row
				.col-12.col-lg-3
					.param-item
						.number 6.879
						.title Tỷ
						.des Doanh thu năm 2017
				.col-12.col-lg-3
					.param-item
						.number 17
						.title Năm
						.des Hình thành và phát triển
				.col-12.col-lg-3
					.param-item
						.number 20
						.title Nhà máy
						.des Tại khu vực ASEAN
				.col-12.col-lg-3
					.param-item
						.number 5
						.title Nhóm
						.des Sản phẩm chủ lực
section.home-section.home-contact
	.bg
		img(src="img/bg1.jpg", alt="alt")
	.container
		//- .home-stitle.text-center Liên hệ mua hàng
		.home-title.text-center Truy cập website bán hàng online hoặc đến các hệ thống phân phối của Lương Quới để lựa chọn những sản phẩm tinh túy nhất.
		.btn-wrap
			a.btn-buy(href="#!") Mua hàng online
			a.btn-buy(href="#!") Mua hàng trực tiếp
section.home-section.home-active
	.container
		//- .home-stitle Hoạt động
		.home-title Hoạt động tiêu biểu
		.row
			.col-12.col-lg-8
				.row
					.col-12.col-lg-6
						.active
							.img
								img(src="http://luongquoi.vn/data/images/TIN%20TUC%202019/TIN%20CONG%20TY/Nha%20Tinh%20Thuong/4.jpg", alt="alt")
							.info
								time 30 tháng 4, 2019
								.name Ấm áp tình đồng nghiệp qua chương trình "nhà tình thương đồng nghiệp" năm 2019.
								.des Với mong muốn phát huy và giữ gìn truyền thống “Tương thân tương ái”, “Lá lành đùm lá rách” tốt đẹp của dân tộc Việt Nam. Hằng năm, Công ty TNHH Chế Biến Dừa Lương Quới luôn có các hoạt động thiết thực nhầm thể hiện sự quan tâm đến người lao động, trong đó có chương trình trao tặng “Nhà tình thương đồng nghiệp” cho các anh chị em nhân viên của công ty có hoàn cảnh khó khăn về nhà ở.
								a.viewmore(href="#!") Xem thêm
					.col-12.col-lg-6
						.active
							.img
								img(src="http://luongquoi.vn/data/images/TIN%20TUC%202019/TIN%20CONG%20TY/Hien%20mau%202019/IMG_4757.jpg", alt="alt")
							.info
								time 30 tháng 4, 2019
								.name Nhân viên công ty tham gia ngày hội hiến máu tình nguyện năm 2019
								.des Mỗi giọt máu là biểu hiện của sự sống và tiếp sức cho sự sống. Khi dòng máu chảy trong cơ thể một người chỉ là để duy trì sự sống nhưng khi dòng máu ấy chảy trong cơ thể nhiều người thì nó trở thành một làn sóng của yêu thương, chia sẻ và lan tỏa. Hiến máu nhân đạo là một nghĩa cử cao đẹp thể hiện sự hiểu biết, lòng nhân ái và trách nhiệm của mỗi cá nhân đối với cộng đồng.
								a.viewmore(href="#!") Xem thêm
			.col-12.col-lg-4
				.active-sidebar
					.active
						.img
							img(src="img/active3.jpg", alt="alt")
						.info
							time 30 tháng 4, 2019
							.name Nghĩa cử cao đẹp của tập thể công nhân viên công ty đến cộng đồng Việt Nam
							.des Gulfood Dubai nổi tiếng là hội chợ lớn nhất thế giới về thực phẩm và đồ uống diễn ra thường niên, với sự tham gia của 120 gian hàng quốc gia, gồm hơn 5.000 doanh nghiệp trưng bày sản phẩm. Hội chợ dự kiến đón hơn 90.000 khách thương mại đến từ trên 170 quốc gia...
							a.viewmore(href="#!") Xem thêm
					.active
						.img
							img(src="img/active4.jpg", alt="alt")
						.info
							time 30 tháng 4, 2019
							.name Rộn ràng đêm hội trăng rằm tại công ty năm 2019
							.des Gulfood Dubai nổi tiếng là hội chợ lớn nhất thế giới về thực phẩm và đồ uống diễn ra thường niên, với sự tham gia của 120 gian hàng quốc gia, gồm hơn 5.000 doanh nghiệp trưng bày sản phẩm. Hội chợ dự kiến đón hơn 90.000 khách thương mại đến từ trên 170 quốc gia...
							a.viewmore(href="#!") Xem thêm
					.active
						.img
							img(src="img/active4.jpg", alt="alt")
						.info
							time 30 tháng 4, 2019
							.name Nhà tình thương anh chị em đồng nghiệp năm 2018
							.des Gulfood Dubai nổi tiếng là hội chợ lớn nhất thế giới về thực phẩm và đồ uống diễn ra thường niên, với sự tham gia của 120 gian hàng quốc gia, gồm hơn 5.000 doanh nghiệp trưng bày sản phẩm. Hội chợ dự kiến đón hơn 90.000 khách thương mại đến từ trên 170 quốc gia...
							a.viewmore(href="#!") Xem thêm
					.active
						.img
							img(src="img/active1.jpg", alt="alt")
						.info
							time 30 tháng 4, 2019
							.name Ấm áp tình đồng nghiệp qua chương trình "nhà tình thương đồng nghiệp" năm 2019.
							.des Với mong muốn phát huy và giữ gìn truyền thống “Tương thân tương ái”, “Lá lành đùm lá rách” tốt đẹp của dân tộc Việt Nam. Hằng năm, Công ty TNHH Chế Biến Dừa Lương Quới luôn có các hoạt động thiết thực nhầm thể hiện sự quan tâm đến người lao động, trong đó có chương trình trao tặng “Nhà tình thương đồng nghiệp” cho các anh chị em nhân viên của công ty có hoàn cảnh khó khăn về nhà ở.
							a.viewmore(href="#!") Xem thêm

section.home-section.home-news
	.container-fluid
		//- .home-stitle.text-center Tin tức sự kiện
		.home-title.text-center Tin mới cập nhật
		.row
			.col-12.col-lg-3
				.news-item
					.img
						img(src="http://luongquoi.vn/data/images/TIN%20TUC%202019/TIN%20CONG%20TY/DOANH%20NGHIEP%20XUAT%20KHAU%20UY%20TINH%202018/xuat%20khau%20uy%20tin.jpg", alt="alt")
					.info
						.name Tham gia hội chợ quốc tế công nghiệp thực phẩm Anuga 2019 tại Đức
						.des Ngày 26/08/2019, Bộ Công Thương ban hành Quyết định số 2629/QĐ-BCT phê duyệt danh sách “Doanh nghiệp xuất khẩu uy tín” năm 2018. Trên cơ sở đề xuất của 55 cơ quan, tổ chức xét chọn (bao gồm các Bộ, ngành, Hiệp hội ngành hàng, Sở Công Thương tỉnh, thành phố), Bộ Công Thương đã xét chọn được 225 doanh nghiệp (tương đương với 235 lượt doanh nghiệp theo 25 ngành hàng) đạt danh hiệu “Doanh nghiệp xuất khẩu uy tín” năm 2018
						a.readmore(href="#!") Xem thêm
			.col-12.col-lg-3
				.news-item
					.img
						img(src="http://luongquoi.vn/data/images/TIN%20TUC%202019/HOI%20CHO%20VIET%20NAM/le-hoi-phat-dang/le-hoi-phat-dang-1.jpg", alt="alt")
					.info
						.name Công ty chế biến dừa Lương Quới tham gia Lễ Hội Phật Đảng 2019
						.des Đại lễ Phật đản Liên hợp quốc -Vesak 2019 do giáo hội Phật giáo Việt Nam đăng cai, tổ chức tại chùa Tam Chúc (Hà Nam) sẽ khai mạc lúc 8h ngày 12/5 và kéo dài đến 14/5. Đây là lần thứ 3 Việt Nam tổ chức sự kiện này.
						a.readmore(href="#!") Xem thêm
			.col-12.col-lg-3
				.news-item
					.img
						img(src="http://luongquoi.vn/data/images/TIN%20TUC%202019/TIN%20CONG%20TY/THUONG-HIEU-QUOC-GIA-VIET-12/2.jpg", alt="alt")
					.info
						.name Công ty chế biến dừa Lương Quới tham gia diễn đàn thương hiệu Việt Nam lần thứ 12
						.des Với chủ đề “Chiến lược Thương hiệu Quốc gia Việt Nam” - Diễn đàn Thương hiệu Việt Nam là một trong các sự kiện quan trọng trong khuôn khổ Tuần lễ Thương hiệu Việt Nam 2019 diễn ra ngày 17/4 tại Trung tâm Hội nghị Quốc tế, 11 Lê Hồng Phong, Ba Đình, Hà Nội.
						a.readmore(href="#!") Xem thêm
			.col-12.col-lg-3
				.news-item
					.img
						img(src="http://luongquoi.vn/data/images/TIN%20TUC%202019/TIN%20CONG%20TY/Le-Ra_Quan-DN/1.JPG", alt="alt")
					.info
						.name Vietcoco - Có quyết tâm sẽ có chiến thắng
						.des Ngày 12/04/2019 tại Đà Nẵng, Công ty TNHH Chế Biến Dừa Lương Quới đã long trọng tổ chức Lễ ra quân “ Phát triển kênh truyền thống tại khu vực miền Trung” với sự tham gia của Ban Giám Đốc, Trưởng P. kinh doanh, nhân viên của công ty cùng với Đội ngũ quản lý, giám sát và nhân viên bán hàng thuộc 17 tỉnh, thành khu vực miền Trung.
						a.readmore(href="#!") Xem thêm

section.home-section.home-recrui
	.container
		.recrui-content
			.title-col
				//- .home-stitle Tuyển dụng
				.home-title Cơ hội nghề nghiệp
			.content-col
				.content Lương Quới luôn chào đón và tạo các điều kiện tốt, đảm bảo chế độ tốt cho các ứng viên có hoài bão, yêu thích được làm việc trong một môi trường năng động và đầy thử thách ở Lương Quới.
			.button-col
				a.apply(href="#!") Ứng tuyển
			//- a.btn-apply(href="#!") Ứng tuyển