section.breadcrumb-wrap.clearfix
	.breadcrumb-bg(style="background: url(img/br6.jpg) center center no-repeat;background-size:cover")
	.container
		ol.breadcrumb
			li
				a(href="#")
					span Trang chủ
			li
				a(href="#")
					span Hệ thống chất lượng
		h3.page-name
section.about-section.about-section16
	.container
		h3.about-title.text-center HỆ THỐNG CHẤT LƯỢNG
		.content
			.row
				.col-12.col-md-8
					p Vào những năm cuối của thế kỷ XX, xu thế giao lưu, hợp tác kinh tế, trao đổi văn hóa diễn ra ngày càng mạnh mẽ, đặt các quốc gia vào vòng xoáy cạnh tranh khốc liệt. Vấn đề đặt ra hiện nay là việc không ngừng nâng cao chất lượng sản phẩm, nâng cao sức cạnh tranh của sản phẩm, dịch vụ, hàng hóa. Qua đó cho thấy vai trò của việc quản lý chất lượng là hết sức quan trong của các công ty sản xuất nói chung và công ty TNHH Chế Biến Dừa Lương Quới cũng  không nằm ngoại lệ. 
					p Phòng Quản lý chất lượng của Công ty TNHH Chế Biến Dừa Lương Quới tập hợp hơn 50 kỹ sư trẻ, năng động được đào tạo chính quy và chuyên nghiệp , nhằm thực hiên công tác kiểm soát chất lượng cho tất cả các công đoạn trong quy trình sản xuất, đảm bảo tính ổn định về mặt chất lượng, độ an toàn tuyệt đối của sản phẩm mang thương hiệu Vietcoco nói riêng và tất cả sản phẩm của Lương Quới nói chung.
					p Thực hiện triệt để phương châm “ An toàn, chất lượng , trách nhiệm để phát triển bền vững”, mỗi nhân viên, đội ngũ quản lý chất lượng luôn làm việc với tinh thần trách nhiệm cao nhất cho công việc, luôn luôn học hỏi không ngừng để áp dụng, cập nhật đổi mới các phương pháp kiểm soát, các hệ thống quản lý chất lượng hiện đại nhất cho nhà máy sản xuất.
				.col-12.col-md-4
					.img
						img(src="img/htcl.jpg", alt="alt")
			.row
				.col-12.col-md-4
					.img
						img(src="img/htcl2.jpg", alt="alt")
				.col-12.col-md-8
					h6
						strong QUẢN LÝ NGUYÊN LIỆU ĐẦU VÀO
					p Quản lý nguyên liệu đầu vào là chốt chặn đầu tiên trong quy trình kiểm soát chất lượng sản phẩm của phòng quản lý chất lượng. Công việc chủ yếu của nhóm là tiếp nhận những nguyên liệu, bao bì, vật tư, vật liệu đúng theo tiêu chuẩn quy định, đáp ứng kịp thời nhu cầu của sản xuất.
					h6 
						strong QUẢN LÝ CHẤT LƯỢNG DÂY CHUYỀN SẢN PHẨM:
					p Là bộ phận làm việc trực tiếp tại các nhà máy trong từng công đoạn sản xuất. Đảm bảo quá trình sản xuất được kiểm soát liên tục, ngăn ngừa và phát hiện lỗi có khả năng xảy ra.
					p Tập thể nhân viên quản lý chất lượng dây chuyền sản phẩm luôn đảm bảo việc kiểm soát chặt chẽ trong quy trình sản xuất, đáp ứng những yêu cầu nghiêm ngặt của các tiêu chuẩn quốc tế như ISO 22000:2005, BRC, Kosher, Halal,………Đội ngũ gồm đông đảo các thành viên được phân bố tất cả các khu vực, đảm bảo cho mỗi công đoạn sản xuất đều được giám sát thực hiện an toàn.
			h6
				strong CHỨNG NHẬN CHẤT LƯỢNG
			.cert-slide
				.item
					a.img(href="img/cert1.png" data-fancybox)
						img(src="img/cert1.png", alt="alt")
				.item
					a.img(href="img/cert1.png" data-fancybox)
						img(src="img/cert1.png", alt="alt")
				.item
					a.img(href="img/cert1.png" data-fancybox)
						img(src="img/cert1.png", alt="alt")
				.item
					a.img(href="img/cert1.png" data-fancybox)
						img(src="img/cert1.png", alt="alt")
				.item
					a.img(href="img/cert1.png" data-fancybox)
						img(src="img/cert1.png", alt="alt")
				.item
					a.img(href="img/cert1.png" data-fancybox)
						img(src="img/cert1.png", alt="alt")
				.item
					a.img(href="img/cert1.png" data-fancybox)
						img(src="img/cert1.png", alt="alt")
				.item
					a.img(href="img/cert1.png" data-fancybox)
						img(src="img/cert1.png", alt="alt")
				.item
					a.img(href="img/cert1.png" data-fancybox)
						img(src="img/cert1.png", alt="alt")
				.item
					a.img(href="img/cert1.png" data-fancybox)
						img(src="img/cert1.png", alt="alt")
				.item
					a.img(href="img/cert1.png" data-fancybox)
						img(src="img/cert1.png", alt="alt")