section.breadcrumb-wrap.clearfix
	.breadcrumb-bg(style="background: url(img/br2.jpg) center center no-repeat;background-size:cover")
	.container
		ol.breadcrumb
			li
				a(href="#")
					span Trang chủ
			li
				a(href="#")
					span Liên hệ
		h3.page-name Liên hệ

.container
	section.contact-page
		.maps 
			iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3925.9025875844986!2d106.28336371533251!3d10.269432371153504!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x310aa692e92da765%3A0x9fbb454088583d2c!2zQ8O0bmcgdHkgVE5ISCBDaOG6vyBCaeG6v24gROG7q2EgTMawxqFuZyBRdeG7m2k!5e0!3m2!1svi!2s!4v1571751317603!5m2!1svi!2s' width='100%' height='400' frameborder='0' style='border:0;' allowfullscreen)
		.row
			.col-12.col-lg-4
				.contact-detail
					.logo
						img(src="img/logo.png", alt="alt")
					.company CÔNG TY TNHH CHẾ BIẾN DỪA LƯƠNG QUỚI
					.contact-info
						ul
							li <i class="fa fa-envelope" aria-hidden="true"></i> Email : support@luongquoi.vn
							li <i class="fa fa-phone" aria-hidden="true"></i> Hotline : (+84).28.3762.8850
							li <i class="fa fa-map-marker" aria-hidden="true"></i> Địa chỉ : Lô A36-A37, Khu công nghiệp An Hiệp, Xã An Hiệp, Huyện Châu Thành, Tỉnh Bến Tre.

			.col-12.col-lg-8
				.contact-form
					.form-wrap
						.module-title Nếu bạn có ý kiến góp ý hoặc yêu cầu cần hỗ trợ từ chúng tôi, vui lòng liên lạc ngay tại đây. Chúng tôi sẽ xem xét và phản hồi sớm nhất có thể.
						.form-row
							.col-12.col-lg-6
								.form-group
									//- label Họ tên
									input(type="text" placeholder="Họ tên")
							.col-12.col-lg-6
								.form-group
									//- label Email
									input(type="text" placeholder="Email")
							.col-12.col-lg-6
								.form-group
									//- label Số điện thoại
									input(type="text" placeholder="Số điện thoại")
							.col-12.col-lg-6
								.form-group
									//- label Tên công ty
									input(type="text" placeholder="Tên công ty")
							.col-12
								.form-group
									//- label Nội dung
									textarea(name="", cols="30", rows="10", placeholder="Nội dung")
						.btn-wrap
							input(type="submit", value="Gửi")