section.breadcrumb-wrap.clearfix
	.breadcrumb-bg(style="background: url(img/br6.jpg) center center no-repeat;background-size:cover")
	h3.page-name Giới thiệu
nav.horizon-nav
	.container
		ul
			li
				a(href="#!") Về công ty
			li.active
				a(href="#!") Lịch sử phát triển
			li
				a(href="#!") Hệ thống quản trị
			li
				a(href="#!") Đơn vị trực thuộc
			li
				a(href="#!") Thành tích nổi bật
section.history-page
	.home-title.text-center Lịch sử phát triển
	.history-picture.history-sync
		.item
			img(src="img/vnl.jpg", alt="alt")
		.item
			img(src="img/vnl3.jpg", alt="alt")
		.item
			img(src="img/vnl4.jpg", alt="alt")
		.item
			img(src="img/vnl5.jpg", alt="alt")
		.item
			img(src="img/tnbg.jpg", alt="alt")
		.item
			img(src="img/n6.jpg", alt="alt")
		.item
			img(src="img/n7.jpg", alt="alt")
		.item
			img(src="img/smbg.jpg", alt="alt")
		.item
			img(src="img/video.jpg", alt="alt")
	.container
		.history-year.history-sync
			.item
				.year 1997
			.item
				.year 1999
			.item
				.year 2000
			.item
				.year 2006
			.item
				.year 2012
			.item
				.year 2013
			.item
				.year 2017
			.item
				.year 2018
			.item
				.year 2025
		.history-event.history-sync
			.item
				.content
					p Thành lập DNTN  ép dầu Lương Quới tại xã Lương Quới, huyện Giồng Trôm, tỉnh Bến Tre
			.item
				.content
					p Bắt đầu tham gia thị trường xuất khẩu với sản phẩm đầu tiên là dầu dừa thô
			.item
				.content
					p Công ty cho ra mắt sản phẩm cơm dừa nạo sấy
			.item
				.content
					p Cho ra mắt sản phẩm dầu dừa nguyên chất
			.item
				.content
					p Cho ra mắt sản phẩm nước cốt dừa đóng lon
			.item
				.content
					p Cho ra mắt sản phẩm nước dừa đóng lon và dầu dừa cooking oil
			.item
				.content
					p Được chứng nhận hàng Việt Nam chất lượng cao chuẩn hội nhập
			.item
				.content
					p Công ty cho ra thị trường một loạt sản phẩm mới: nước dừa, sữa dừa công nghệ tiệt trùng UHT, dừa sấy giòn. Đồng thời vinh dự được chứng nhận có sản phẩm đạt Thương hiệu quốc gia. 
			.item
				.content
					p Mục tiêu trở thành 1 trong top 50 công ty chế biến dừa lớn nhất Châu Á- Thái Bình Dương
		.history-nav.history-sync
			.item
				.year 1997
			.item
				.year 1999
			.item
				.year 2000
			.item
				.year 2006
			.item
				.year 2012
			.item
				.year 2013
			.item
				.year 2017
			.item
				.year 2018
			.item
				.year 2025

//- section.about-section.about-section3
	.container
		h3.about-title2 Lịch sử phát triển
		.history-wrap
			.history-line.line1
			.history-line.line2
			.history-line.line3
			.history-line.line4
			.history-line.line5
			.history-timeline
				.history-grid
					.history-block
						.year 1997
						.content-wrap
							.content
								p Thành lập DNTN ép dầu Lương Quới tại xã Lương Quới ,huyện Giồng Trôm, tỉnh Bến Tre.
							.img
								img(src="img/br6.jpg", alt="alt")
					.history-block
						.year 1999
						.content-wrap
							.content
								p Bắt đầu tham gia thị trường xuất khẩu với sản phẩm đầu tiên là dầu dừa thô
							.img
								img(src="img/h2.jpg", alt="alt")
					.history-block
						.year 2000
						.content-wrap
							.content
								p Công ty cho ra mắt sản phẩm cơm dừa nạo sấy
							.img
								img(src="img/active2.jpg", alt="alt")
					.history-block
						.year 2006
						.content-wrap
							.content
								p Cho ra mắt sản phẩm dầu dừa nguyên chất
							.img
								img(src="img/h2.jpg", alt="alt")
					.history-block
						.year 2012
						.content-wrap
							.content
								p Cho ra mắt sản phẩm nước cốt dừa đóng lon
							.img
								img(src="img/about4.jpg", alt="alt")
					.history-block
						.year 2013
						.content-wrap
							.content
								p Cho ra mắt sản phẩm nước dừa đóng lon và dầu dừa cooking oil
							.img
								img(src="img/h6.jpg", alt="alt")
					.history-block
						.year 2017
						.content-wrap
							.content
								p Được chứng nhận hàng Việt Nam chất lượng cao chuẩn hội nhập
							.img
								img(src="img/h7.jpg", alt="alt")
					.history-block
						.year 2018
						.content-wrap
							.content
								p Công ty cho ra thị trường một loạt sản phẩm mới: nước dừa, sữa dừa công nghệ tiệt trùng UHT, dừa sấy giòn. Đồng thời vinh dự được chứng nhận có sản phẩm đạt Thương hiệu quốc gia. 
							.img
								img(src="img/h8.jpg", alt="alt")
					.history-block
						.year Hiện nay
						.content-wrap
							.content
								p Mục tiêu trở thành 1 trong top 50 công ty chế biến dừa lớn nhất Châu Á- Thái Bình Dương
							.img
								img(src="img/h9.jpg", alt="alt")