section.breadcrumb-wrap
	.container
		ol.breadcrumb
			li
				a(href="#")
					span Trang chủ
			li
				a(href="#")
					span Sản phẩm
			li
				a(href="#")
					span Smartwatch
.container
	section.category-page
		h1.page-title Danh sách ngành hàng
		.category-wrap
			.category-list
				.row.row-m
					.col-12.col-sm-6.col-md-4
						a.category-item(href="#!")
							.img
								img(src="img/cate/1.jpg", alt="")
							.name
								i.material-icons watch
								span Thiết bị đeo tay
					.col-12.col-sm-6.col-md-4
						a.category-item(href="#!")
							.img
								img(src="img/cate/2.jpg", alt="")
							.name
								i.material-icons tv
								span Home theater
					.col-12.col-sm-6.col-md-4
						a.category-item(href="#!")
							.img
								img(src="img/cate/3.jpg", alt="")
							.name
								i.material-icons headset_mic
								span Âm thanh
					.col-12.col-sm-6.col-md-4
						a.category-item(href="#!")
							.img
								img(src="img/cate/4.jpg", alt="")
							.name
								i.material-icons computer
								span Máy tính
					.col-12.col-sm-6.col-md-4
						a.category-item(href="#!")
							.img
								img(src="img/cate/5.jpg", alt="")
							.name
								i.material-icons videogame_asset
								span Gaming Gear
					.col-12.col-sm-6.col-md-4
						a.category-item(href="#!")
							.img
								img(src="img/cate/6.jpg", alt="")
							.name
								i.material-icons videocam
								span Camera
					.col-12.col-sm-6.col-md-4
						a.category-item(href="#!")
							.img
								img(src="img/cate/7.jpg", alt="")
							.name
								i.material-icons settings_input_hdmi
								span Phụ kiện
					.col-12.col-sm-6.col-md-4
						a.category-item(href="#!")
							.img
								img(src="img/cate/8.jpg", alt="")
							.name
								i.material-icons restore
								span Hàng 2nd