section.breadcrumb-wrap
	.container
		ol.breadcrumb
			li
				a(href="#")
					span Trang chủ
			li
				a(href="#")
					span Laptop
			li
				a(href="#")
					span Asus
.container.fullwidth
	section.product-page
		.product-intro
			.row
				.col-12.col-lg-5
					section.product-slide-wrap
						.product-nav
							.item
								.img
									img(src='https://techzones.vn/Data/Sites/1/Product/19217/techzones-techzones-ttesport.jpg' alt='')
							.item
								.img
									img(src='https://techzones.vn/Data/Sites/1/Product/19217/techzones-techzones-ttesport.jpg' alt='')
							.item
								.img
									img(src='https://techzones.vn/Data/Sites/1/Product/19217/techzones-techzones-ttesport.jpg' alt='')

						.product-slide
							.item
								a.img(href="https://techzones.vn/Data/Sites/1/Product/19217/techzones-techzones-ttesport.jpg" data-fancybox="sp")
									img(src='https://techzones.vn/Data/Sites/1/Product/19217/techzones-techzones-ttesport.jpg' alt='')
							.item
								a.img(href="https://techzones.vn/Data/Sites/1/Product/19217/techzones-techzones-ttesport.jpg" data-fancybox="sp")
									img(src='https://techzones.vn/Data/Sites/1/Product/19217/techzones-techzones-ttesport.jpg' alt='')
							.item
								a.img(href="https://techzones.vn/Data/Sites/1/Product/19217/techzones-techzones-ttesport.jpg" data-fancybox="sp")
									img(src='https://techzones.vn/Data/Sites/1/Product/19217/techzones-techzones-ttesport.jpg' alt='')
							
						.slide-des <i class="material-icons">zoom_in</i> Bấm vào để xem ảnh phóng to
				.col-12.col-lg-7
					section#product-info.product-info
						.product-header
							h1.product-name Techzones TteSPORT
							.product-rating
								select.bar-rating
									option(value='1') 1
									option(value='2') 2
									option(value='3') 3
									option(value='4' selected="selected") 4
									option(value='5') 5
								a.link(href="#!") 70 đánh giá
							.product-brand Thương hiệu: 
								a(href="#") Asus
							.product-id Mã sản phẩm: 
								a(href="#") ASUSGL504
							.product-status Tình trạng: 
								strong.text-green Còn hàng
						.row
							.col-12.col-lg-7
								.product-price
									.new 40.990.000 ₫
									.old 
										del 44.990.000 ₫
										span - 10%
									.price-des (Đã bao gồm VAT)
								.product-guarantee Bảo hành: 
									strong 24 tháng 
									a.text-blue(href="") (Quy định bảo hành)
									p Hàng chính hãng bảo hành 12 tháng .Đổi mới trong 15 ngày đầu nếu bị lỗi phần cứng NSX.
								.product-overview
									a.btn-changeoption(href="#hardware-change") <i class="fa fa-cogs" aria-hidden="true"></i> Thay đổi cấu hình
									table.pc-detail-table
										tr
											td CPU
											td 
												a(href="#!") Intel Core i5-9400F
										tr
											td Mainboard
											td 
												a(href="#!") Gigabyte B360M AORUS Pro
										tr
											td RAM
											td 
												a(href="#!") 1x Kingmax DDR4 8GB 3000MHz ZEUS Dragon RGB
										tr
											td VGA
											td 
												a(href="#!") GIGABYTE GeForce RTX 2060 OC 6G
										tr
											td SSD
											td 
												a(href="#!") Gigabyte AORUS RGB M.2 NVMe SSD 256GB
										tr
											td PSU
											td 
												a(href="#!") Thermaltake Smart RGB 500W White
										tr
											td Case
											td 
												a(href="#!") Thermaltake Level 20 MT ARGB
										tr
											td Tản nhiệt
											td 
												a(href="#!") Thermaltake AIO Water 3.0 ARGB Sync Edition - 120mm
								#popup-option.page-popup.popup-option
									.popup-overlay
									.popup-dialog
										.popup-header
											.close-popup 
												i.material-icons arrow_back
											.popup-title Chọn Cấu hình
										.popup-body
											.product-option
												.option-group.properties-group
													label Chọn vi xử lý
													.properties-list
														a.active(href="#!") i7-8750H
														a(href="#!") i5-8400H
												.option-group.properties-group
													label Chọn dung lượng RAM
													.properties-list
														a(href="#!") 8GB
														a.active(href="#!") 16GB
														a.disabled(href="#!") 32GB
												.option-group.colors-group
													label Chọn màu
													.colors-list
														a.active(href="#!")
															.img
																img(src="img/product/p1.jpg", alt="")
															.name Carbon
															.price 43.000.000 đ
														a(href="#!")
															.img
																img(src="img/product/p1.jpg", alt="")
															.name Đen bóng
															.price 42.000.000 đ
														a.disabled(href="#!")
															.img
																img(src="img/product/p1.jpg", alt="")
															.name Xám
															.price 40.000.000 đ
								a.btn-like(href="#!")
								.product-btn
									a.btn-buy(href="#!") Thêm vào giỏ hàng
									a.btn-tragop.pc(href="#!") Mua trả góp 0%
										.des Thủ tục đơn giản
									a.btn-tragop.pc(href="#!") Trả góp qua thẻ
										.des Visa, Master, JCB
									a.btn-tragop.mobile(href="#!") Trả góp
								.share
									img(src="img/share.jpg", alt="")
							.col-12.col-lg-5
								.product-box
									.title 
										.img
											img(src="img/icon/box.png", alt="")
										span Trọn bộ
									.content
										p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor, laboriosam.
								.product-gift
									.title
										.img
											img(src="img/icon/gift.png", alt="")
										span Quà tặng
									ul.gift-list
										li 
											a(href="#!")
												.img 
													img(src="img/product/g1.jpg", alt="")
												.name Tặng Tai nghe Bluetooth Jabra Mini trị giá 1.100.000 đ
										li 
											a(href="#!")
												.img 
													img(src="https://img.customon.com/design/600/600/ffffff/45522/a725a78bdb2d17327d46f7a41318f5a5.png.jpg", alt="")
												.name Tặng key PUBG trị giá 340.000 đ
										li 
											a(href="#!")
												.img 
													img(src="img/product/g1.jpg", alt="")
												.name Tặng Tai nghe Bluetooth Jabra Mini trị giá 1.100.000 đ
										li 
											a(href="#!")
												.img 
													img(src="img/product/g1.jpg", alt="")
												.name Tặng Tai nghe Bluetooth Jabra Mini trị giá 1.100.000 đ
										li 
											a(href="#!")
												.img 
													img(src="https://img.customon.com/design/600/600/ffffff/45522/a725a78bdb2d17327d46f7a41318f5a5.png.jpg", alt="")
												.name Tặng key PUBG trị giá 340.000 đ
										li 
											a(href="#!")
												.img 
													img(src="img/product/g1.jpg", alt="")
												.name Tặng Tai nghe Bluetooth Jabra Mini trị giá 1.100.000 đ
									a.btn-viewmoregift(href="#!") Xem thêm
								.product-support
									.title Tư vấn & Mua hàng - Gọi 
										a.text-red(href="#!") 1900 9064
									ul
										li Freeship với đơn hàng trên 600.000đ
										li Giao hàng ngay (Nội thành TP.HCM)
										li Giao trong vòng 2 đến 3 ngày (Toàn quốc)
									p 
										strong Miễn phí charge thẻ
									img(src="img/payments.png", alt="")
		.row.row-m
			.col-12.col-lg-8
				.product-hardwarechange#hardware-change
					.hardware-category
						.hardware-group
							.group-title 
								a(href="#!" data-toggle="modal" data-target="#exampleModal") CPU - Bộ xử lý trung tâm
								a.btn-choose(href="#!" data-toggle="modal" data-target="#exampleModal") Chọn sản phẩm
							#exampleModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
								.modal-dialog.modal-hardware(role='document')
									.modal-content
										.modal-header
											h5#exampleModalLabel.modal-title Chọn CPU - Bộ xử lý trung tâm
											.close(data-dismiss='modal', aria-label='Close')
												i.material-icons close
										.modal-body
											.search-hardware
												.searchbox
													input(type="text" placeholder="Tìm kiếm nhanh")
													button.searchbutton <i class="material-icons">search</i>
											.btn-filterwrap
												.btn-showfilter <i class="material-icons">tune</i> Bộ lọc
											.filter-wrap.option-group.clearfix
												section.filter-header.clearfix
													.container
														.btn-closefilter <i class="material-icons">arrow_back</i>
														.filter-title Bộ lọc sản phẩm
												section.filter-content.clearfix
													.filter-group
														.filter-name Thương hiệu
															.filter-tags
																.filter-tag Apple
																	.btn-removetag <i class="material-icons">close</i>
														.filter-option
															.filter-brand
																a.active(href="#") Apple
																	span (8)
																a(href="#") Asus
																	span (5)
																a(href="#") Fitbit
																	span (10)
																a(href="#") Fossil
																	span (1)
																a(href="#") Garmin
																	span (1)
																a(href="#") Huawei
																	span (1)
																a(href="#") Jawbone
																	span (1)
																a(href="#") LG
																	span (1)
																a(href="#") Michael Kors
																	span (1)
																a(href="#") Misfit
																	span (1)
																a(href="#") Moov
																	span (1)
																a(href="#") Movado
																	span (1)
																a(href="#") Samsung
																	span (1)
																a(href="#") Tichwatch
																	span (1)
																a(href="#") Withings
																	span (1)
													.filter-group
														.filter-name Màu sắc
														.filter-option
															.filter-color
																a.ajaxlink.active(rel='nofollow', data-toggle='tooltip', data-placement='right', href='/thiet-bi-deo-tay?f1=2', title='', data-original-title='Tím')
																	.color-img(style='background-color:#990099')
																a.ajaxlink.active(rel='nofollow', data-toggle='tooltip', data-placement='right', href='/thiet-bi-deo-tay?f1=3', title='', data-original-title='Xanh dương')
																	.color-img(style='background-color:#0000CC')
																a.ajaxlink(rel='nofollow', data-toggle='tooltip', data-placement='right', href='/thiet-bi-deo-tay?f1=4', title='', data-original-title='Xám')
																	.color-img(style='background-color:#8B8994')
																a.ajaxlink.active(rel='nofollow', data-toggle='tooltip', data-placement='right', href='/thiet-bi-deo-tay?f1=5', title='', data-original-title='Đỏ')
																	.color-img(style='background-color:#CC0033')
																a.ajaxlink(rel='nofollow', data-toggle='tooltip', data-placement='right', href='/thiet-bi-deo-tay?f1=7', title='', data-original-title='Gold')
																	.color-img(style='background-color:#D3CEBB')
																a.ajaxlink.active(rel='nofollow', data-toggle='tooltip', data-placement='right', href='/thiet-bi-deo-tay?f1=8', title='', data-original-title='Xanh bạc hà')
																	.color-img(style='background-color:#A3E3D3')
																a.ajaxlink(rel='nofollow', data-toggle='tooltip', data-placement='right', href='/thiet-bi-deo-tay?f1=9', title='', data-original-title='Trắng')
																	.color-img(style='background-color:#FFFFFF')
																a.ajaxlink(rel='nofollow', data-toggle='tooltip', data-placement='right', href='/thiet-bi-deo-tay?f1=10', title='', data-original-title='Xám đậm')
																	.color-img(style='background-color:#5A5653')
																a.ajaxlink(rel='nofollow', data-toggle='tooltip', data-placement='right', href='/thiet-bi-deo-tay?f1=11', title='', data-original-title='Bạc')
																	.color-img(style='background-color:#D2D0D1')
																a.ajaxlink(rel='nofollow', data-toggle='tooltip', data-placement='right', href='/thiet-bi-deo-tay?f1=13', title='', data-original-title='Đen')
																	.color-img(style='background-color:#000000')
													.filter-group
														.filter-name Thuộc tính
														.filter-option
															.filter-properties
																a.active(href="#") Chạy bộ
																	span (3)
																a.active(href="#") Chạy bộ
																	span (3)
																a(href="#") Đo sức khỏe
																	span (10)
																a.active(href="#") Kháng nước IP68
																	span (5)
																a(href="#") Đo nhịp tim
																	span (5)
																a(href="#") Bơi lội
																	span (5)
													.filter-group
														.filter-name Khoảng giá
														.filter-option
															.filter-price
																a(href="#") 0 đ - 10.000.000 đ
																	span (140)
																a.active(href="#") 10.000.000 đ - 20.000.000 đ
																	span (30)
																a(href="#") 20.000.000 đ - 30.000.000 đ
																	span (20)
												.filter-tags.d-xs-none.d-lg-block
													.filter-tag Apple
														.btn-removetag <i class="material-icons">close</i>
													.filter-tag Màu bạc
														.btn-removetag <i class="material-icons">close</i>
													.filter-tag Từ 10 - 20 triệu
														.btn-removetag <i class="material-icons">close</i>
												.filter-button
													.btn-resetall Đặt lại
													.btn-closefilter Hoàn tất
											.hardware-list
												.hardware
													figure
														.img
															img(src="img/product/1.jpg", alt="")
														figcaption
															.name G.Skill DDR4 TRIDENT Z 16GB (2x8GB) 4266Mhz
															.price
																.promotion.off Sale 10%
																.new 5.000.000đ
																.old 6.000.000đ
															.btn-wrap
																a.btn-select(href="#!") Chọn
												.hardware
													figure
														.img
															img(src="img/product/1.jpg", alt="")
														figcaption
															.name G.Skill DDR4 TRIDENT Z 16GB (2x8GB) 4266Mhz
															.price
																.new 5.000.000đ
																.old 6.000.000đ
															.btn-wrap
																a.btn-select(href="#!") Chọn
												.hardware
													figure
														.img
															img(src="img/product/1.jpg", alt="")
														figcaption
															.name G.Skill DDR4 TRIDENT Z 16GB (2x8GB) 4266Mhz
															.price
																.new 5.000.000đ
																.old 6.000.000đ
															.btn-wrap
																a.btn-select(href="#!") Chọn
												.hardware
													figure
														.img
															img(src="img/product/1.jpg", alt="")
														figcaption
															.name G.Skill DDR4 TRIDENT Z 16GB (2x8GB) 4266Mhz
															.price
																.new 5.000.000đ
																.old 6.000.000đ
															.btn-wrap
																a.btn-select(href="#!") Chọn
												.hardware
													figure
														.img
															img(src="img/product/1.jpg", alt="")
														figcaption
															.name G.Skill DDR4 TRIDENT Z 16GB (2x8GB) 4266Mhz
															.price
																.new 5.000.000đ
																.old 6.000.000đ
															.btn-wrap
																a.btn-select(href="#!") Chọn
												.hardware
													figure
														.img
															img(src="img/product/1.jpg", alt="")
														figcaption
															.name G.Skill DDR4 TRIDENT Z 16GB (2x8GB) 4266Mhz
															.price
																.new 5.000.000đ
																.old 6.000.000đ
															.btn-wrap
																a.btn-select(href="#!") Chọn
												.hardware
													figure
														.img
															img(src="img/product/1.jpg", alt="")
														figcaption
															.name G.Skill DDR4 TRIDENT Z 16GB (2x8GB) 4266Mhz
															.price
																.new 5.000.000đ
																.old 6.000.000đ
															.btn-wrap
																a.btn-select(href="#!") Chọn
												.hardware
													figure
														.img
															img(src="img/product/1.jpg", alt="")
														figcaption
															.name G.Skill DDR4 TRIDENT Z 16GB (2x8GB) 4266Mhz
															.price
																.new 5.000.000đ
																.old 6.000.000đ
															.btn-wrap
																a.btn-select(href="#!") Chọn
												.hardware
													figure
														.img
															img(src="img/product/1.jpg", alt="")
														figcaption
															.name G.Skill DDR4 TRIDENT Z 16GB (2x8GB) 4266Mhz
															.price
																.new 5.000.000đ
																.old 6.000.000đ
															.btn-wrap
																a.btn-select(href="#!") Chọn
												.hardware
													figure
														.img
															img(src="img/product/1.jpg", alt="")
														figcaption
															.name G.Skill DDR4 TRIDENT Z 16GB (2x8GB) 4266Mhz
															.price
																.new 5.000.000đ
																.old 6.000.000đ
															.btn-wrap
																a.btn-select(href="#!") Chọn
												.hardware
													figure
														.img
															img(src="img/product/1.jpg", alt="")
														figcaption
															.name G.Skill DDR4 TRIDENT Z 16GB (2x8GB) 4266Mhz
															.price
																.new 5.000.000đ
																.old 6.000.000đ
															.btn-wrap
																a.btn-select(href="#!") Chọn
												.hardware
													figure
														.img
															img(src="img/product/1.jpg", alt="")
														figcaption
															.name G.Skill DDR4 TRIDENT Z 16GB (2x8GB) 4266Mhz
															.price
																.new 5.000.000đ
																.old 6.000.000đ
															.btn-wrap
																a.btn-select(href="#!") Chọn
												.hardware
													figure
														.img
															img(src="img/product/1.jpg", alt="")
														figcaption
															.name G.Skill DDR4 TRIDENT Z 16GB (2x8GB) 4266Mhz
															.price
																.new 5.000.000đ
																.old 6.000.000đ
															.btn-wrap
																a.btn-select(href="#!") Chọn
												.hardware
													figure
														.img
															img(src="img/product/1.jpg", alt="")
														figcaption
															.name G.Skill DDR4 TRIDENT Z 16GB (2x8GB) 4266Mhz
															.price
																.new 5.000.000đ
																.old 6.000.000đ
															.btn-wrap
																a.btn-select(href="#!") Chọn

							.cart-table
								.item
									.cart-item
										a.img(href="#!")
											img(src="img/product/5.jpg", alt="")
										.caption
											.item-info
												a.name(href="#!") ASUS ROG STRIX SCAR II
												.option Thuộc tính sản phẩm: 
													span Đen, 16GB
												.amount Số lượng: 
													.input-number
														.btn-spin.btn-dec -
														input(type="text" value="1")
														.btn-spin.btn-inc +
											.item-price
												.new 20.000.000 đ
												.old
													del 40.000.000 đ
													span -50%
												.des (Giá đã bao gồm VAT)
											//- .gift-list
												label Quà tặng
												ul
													li
														a.gift-item(href="#!")
															.gift-img
																img(src="img/product/2.jpg", alt="")
															.gift-caption
																.gift-name Đồng hồ thông minh
																.gift-price
																	.new 6.000.000 đ
													li
														a.gift-item(href="#!")
															.gift-img
																img(src="img/product/3.jpg", alt="")
															.gift-caption
																.gift-name Đồng hồ thông minh 2
																.gift-price
																	.new 6.000.000 đ
										a.btn-remove(href="#!") <i class="material-icons">delete</i>
						.hardware-group
							.group-title 
								a(href="#!" data-toggle="modal" data-target="#exampleModal") Mainboard - Bo mạch chủ
								a.btn-choose(href="#!") Chọn sản phẩm
						.hardware-group
							.group-title 
								a(href="#!" data-toggle="modal" data-target="#exampleModal") RAM - Bộ nhớ trong
								a.btn-choose(href="#!") Chọn sản phẩm
						.hardware-group
							.group-title 
								a(href="#!" data-toggle="modal" data-target="#exampleModal") HDD - Ổ cứng
								a.btn-choose(href="#!") Chọn sản phẩm
						.hardware-group
							.group-title 
								a(href="#!" data-toggle="modal" data-target="#exampleModal") SSD - Ổ cứng thể rắn
								a.btn-choose(href="#!") Chọn sản phẩm
						.hardware-group
							.group-title 
								a(href="#!" data-toggle="modal" data-target="#exampleModal") PSU - Nguồn
								a.btn-choose(href="#!") Chọn sản phẩm
						.hardware-group
							.group-title 
								a(href="#!" data-toggle="modal" data-target="#exampleModal") Graphic Card - Card đồ họa
								a.btn-choose(href="#!") Chọn sản phẩm
						.hardware-group
							.group-title 
								a(href="#!" data-toggle="modal" data-target="#exampleModal") Case - Vỏ máy
								a.btn-choose(href="#!") Chọn sản phẩm
						.hardware-group
							.group-title 
								a(href="#!" data-toggle="modal" data-target="#exampleModal") Monitor - Màn hình
								a.btn-choose(href="#!") Chọn sản phẩm
						.hardware-group
							.group-title 
								a(href="#!" data-toggle="modal" data-target="#exampleModal") Mouse - Chuột
								a.btn-choose(href="#!") Chọn sản phẩm
						.hardware-group
							.group-title 
								a(href="#!" data-toggle="modal" data-target="#exampleModal") Bàn ghế Gaming
								a.btn-choose(href="#!") Chọn sản phẩm
						.hardware-group
							.group-title 
								a(href="#!" data-toggle="modal" data-target="#exampleModal") Cooling - Tản nhiệt
								a.btn-choose(href="#!") Chọn sản phẩm
						.hardware-group
							.group-title 
								a(href="#!" data-toggle="modal" data-target="#exampleModal") Keyboard - Bàn phím
								a.btn-choose(href="#!") Chọn sản phẩm
						.hardware-group
							.group-title 
								a(href="#!" data-toggle="modal" data-target="#exampleModal") Headset - Tai nghe
								a.btn-choose(href="#!") Chọn sản phẩm
						.hardware-group
							.group-title 
								a(href="#!" data-toggle="modal" data-target="#exampleModal") Speaker - Loa
								a.btn-choose(href="#!") Chọn sản phẩm
						.hardware-group
							.group-title 
								a(href="#!" data-toggle="modal" data-target="#exampleModal") Mouse pad - Lót chuột
								a.btn-choose(href="#!") Chọn sản phẩm
					.row
						.col-12.col-md-7
						.col-12.col-md-5
							.cart-total
								//- .group
								//- 	.label Tạm tính: 
								//- 	.value 40.000.000 đ
								//- .group
								//- 	.label Giảm giá: 
								//- 	.value 0 đ
								//- .group
								//- 	.label Phí vận chuyển: 
								//- 	.value 0 đ
								.group.total
									.label Tổng tiền: 
									.value 40.000.000 đ
					.hardware-btn
						a.btn-buy(href="#!") Chọn mua
						a.btn-excel(href="#!") Tải file excel
						a.btn-download(href="#!") Tải ảnh cấu hình
						a.btn-share(href="#!") Chia sẻ facebook
				.product-description
					ul#myTab.nav.nav-tabs.product-tabs(role='tablist')
						li.nav-item
							a#home-tab.nav-link.active(data-toggle='tab', href='#home', role='tab', aria-controls='home', aria-selected='true') Đặc điểm nổi bật
						li.nav-item.specification-tab
							a#speci-tab.nav-link(data-toggle='tab', href='#speci', role='tab', aria-controls='profile', aria-selected='false') Thông số kỹ thuật
						li.nav-item
							a#profile-tab.nav-link(data-toggle='tab', href='#profile', role='tab', aria-controls='profile', aria-selected='false') Tab 2
						li.nav-item
							a#contact-tab.nav-link(data-toggle='tab', href='#contact', role='tab', aria-controls='contact', aria-selected='false') Tab 3
					#myTabContent.tab-content
						#home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab')
							.content
								.text-center
									img(src="https://techzones.vn/Data/Sites/1/media/may-tinh/asus/rog-strix-scar-ii/rog-strix-scar-ii7.jpg", alt="")
								p Mới đây tại triễn lãm công nghệ Computex 2018, ROG vừa chính thức ra mắt cho game thủ trên toàn thế giới dòng laptop gaming siêu mỏng ROG Scar II, được thiết kế riêng cho những xạ thủ xuất sắc trong những cuộc đọ súng khốc liệt nhất, ROG Scar II hứa hẹn tạo nên sức hút to lớn với những game thủ FPS.
								.row
									.col-12.col-md-6
										img(src="https://techzones.vn/Data/Sites/1/media/may-tinh/asus/rog-strix-scar-ii/rog-strix-scar-ii4.jpg", alt="")
									.col-12.col-md-6
										h5 
											strong Sự lựa chọn của nhà vô địch
										p Trong hơn một thập kỷ qua, ROG đã chuyển niềm đam mê chơi game của mình sang xây dựng các sản phẩm sáng tạo và làm việc chặt chẽ với đội ngũ esports đảm bảo cung cấp cho họ có những công cụ phù hợp và tiên tiến nhất để làm nên chiến thắng.
									.col-12.col-md-6
										h5 
											strong Cạnh viền siêu mỏng với màn hình IPS FullHD 144 Hz 3 ms
										p Với diện mạo hoàn toàn mới, ROG Scar II cải tiến rất nhiều khi được thiết kế viền mỏng hơn so với các đời máy trước, cùng với trọng lượng chỉ 2.4 kg giúp di chuyển dễ dàng hơn. Màn hình 144Hz IPS giúp hình ảnh rõ ràng sắc nét hơn. Tốc độ phản ứng 3ms cực nhanh cùng với tấm nền IPS mang lại góc nhìn rộng 178 độ, độ chính xác màu sắc 100% sRGB, hứa hẹn đáp ứng tất cả nhu cầu dành cho game thủ.
									.col-12.col-md-6
										img(src="https://techzones.vn/Data/Sites/1/media/may-tinh/asus/rog-strix-scar-ii/rog-strix-scar-ii8.jpg", alt="")
								h5
									strong Ổ SSD nhanh chóng
								p Strix SCAR II được trang bị ổ SSD 512GB M.2 NVMe PCIe® 3.0 x4 cực nhanh. Với bộ nhớ 32GB DDR4 cùng tốc độ bus 2666MHz, Strix SCAR II có đủ khả năng để chạy các trò chơi mới nhất một cách mượt mà, đồng thời tiêu thụ ít năng lượng hơn.
								.text-center
									img(src="https://techzones.vn/Data/Sites/1/media/may-tinh/asus/rog-strix-scar-ii/rog-strix-scar-ii12.jpg", alt="")
								.row
									.col-12.col-md-6
										img(src="https://techzones.vn/Data/Sites/1/media/may-tinh/asus/rog-strix-scar-ii/rog-strix-scar-ii9.jpg", alt="")
									.col-12.col-md-6
										h5
											strong Trải nghiệm ánh sáng cùng với Aura Lighting
										p Hệ thống chiếu sáng Aura RGB LED được phát triển để bổ sung hoàn hảo cho giàn máy chơi game của bạn. Aura RGB cung cấp một dải màu gần như vô tận, có khả năng liên kết ánh sáng với âm nhạc, hành động trong trò chơi hoặc nhiệt độ CPU / GPU. Cùng nhau kết nối tạo nên phong cách độc đáo của riêng bạn!
								.row
									.col-12.col-md-6
										h5
											strong Âm thanh
										p Strix SCAR II mang lại âm thanh rõ ràng hơn, to hơn và chính xác hơn thông qua các loa kích hoạt mạnh mẽ giúp bạn đắm chìm trong âm thanh. Công nghệ bộ khuếch đại thông minh giám sát đầu ra âm thanh và điều chỉnh thời gian thực, vì vậy bạn có thể tăng âm lượng mà không phải lo lắng về các nón – từ đó làm cho âm lượng lên gấp hai lần hơn trước, với dải động và âm trầm tăng lên để bạn có thể nghe ngay cả những âm thanh tinh tế nhất.
									.col-12.col-md-6
										img(src="https://techzones.vn/Data/Sites/1/media/may-tinh/asus/rog-strix-scar-ii/rog-strix-scar-ii9.jpg", alt="")
							.btn-wrap
								a.btn-viewmore(href="#!" data-popup="#popup-detail") Xem thêm
							.product
								.img
									img(src="img/product/5.jpg", alt="")
								.caption
									.name Asus ROG Strix SCAR II GL504GM-ES044T
									.price 40.000.000 đ
									a.change-option(href="#product-info") Thay đổi thuộc tính
								.button
									a.btn-buy(href="#!") Mua ngay
									a.btn-tragop(href="#!") Mua trả góp 0%
									a.btn-tragop(href="#!") Trả góp qua thẻ
						#speci.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab')
							.specification-table
								table
									tr.title
										td(colspan="2") Bộ vi xử lý
									tr
										td Công nghệ CPU
										td Coffee Lake - thế hệ thứ 8
									tr
										td Loại CPU
										td Intel® Core™ i7-8750H
									tr
										td Số nhân / luồng
										td 6 nhân 12 luồng
									tr
										td L3 Cache
										td 9 MB SmartCache
									tr
										td Tốc độ CPU
										td 2.20 GHz
									tr
										td Tốc độ tối đa ( Turbo )
										td 4.10 GHz
									tr.title
										td(colspan="2") Màn hình
									tr
										td Kích thước màn hình
										td 15.6-inch
									tr
										td Độ phân giải
										td Full HD (1920x1080)
									tr
										td Công nghệ màn hình
										td IPS Non-Glare, 100% sRGB, 300nits LED 144Hz NanoEdge 3ms
							.btn-wrap
								a.btn-viewdetail.btn-detailspecify(href="#!" data-popup="#popup-detail") Xem cấu hình chi tiết
						#profile.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab') ...
						#contact.tab-pane.fade(role='tabpanel', aria-labelledby='contact-tab') ...
					#popup-detail.page-popup.popup-detail
						.popup-overlay
						.popup-dialog
							.popup-header
								.close-popup 
									i.material-icons arrow_back
								.popup-title 
									ul#myTab2.nav.nav-tabs(role='tablist')
										li.nav-item
											a#home-tab2.nav-link.active(data-toggle='tab', href='#home2', role='tab', aria-controls='home2', aria-selected='true') Đặc điểm chi tiết
										li.nav-item
											a#profile-tab2.nav-link(data-toggle='tab', href='#profile2', role='tab', aria-controls='profile2', aria-selected='false') Thông số kỹ thuật
							.popup-body
								#myTabContent2.tab-content
									#home2.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab2')
										.content
											.text-center
												img(src="https://techzones.vn/Data/Sites/1/media/may-tinh/asus/rog-strix-scar-ii/rog-strix-scar-ii7.jpg", alt="")
											p Mới đây tại triễn lãm công nghệ Computex 2018, ROG vừa chính thức ra mắt cho game thủ trên toàn thế giới dòng laptop gaming siêu mỏng ROG Scar II, được thiết kế riêng cho những xạ thủ xuất sắc trong những cuộc đọ súng khốc liệt nhất, ROG Scar II hứa hẹn tạo nên sức hút to lớn với những game thủ FPS.
											.row
												.col-12.col-md-6
													img(src="https://techzones.vn/Data/Sites/1/media/may-tinh/asus/rog-strix-scar-ii/rog-strix-scar-ii4.jpg", alt="")
												.col-12.col-md-6
													h5 
														strong Sự lựa chọn của nhà vô địch
													p Trong hơn một thập kỷ qua, ROG đã chuyển niềm đam mê chơi game của mình sang xây dựng các sản phẩm sáng tạo và làm việc chặt chẽ với đội ngũ esports đảm bảo cung cấp cho họ có những công cụ phù hợp và tiên tiến nhất để làm nên chiến thắng.
												.col-12.col-md-6
													h5 
														strong Cạnh viền siêu mỏng với màn hình IPS FullHD 144 Hz 3 ms
													p Với diện mạo hoàn toàn mới, ROG Scar II cải tiến rất nhiều khi được thiết kế viền mỏng hơn so với các đời máy trước, cùng với trọng lượng chỉ 2.4 kg giúp di chuyển dễ dàng hơn. Màn hình 144Hz IPS giúp hình ảnh rõ ràng sắc nét hơn. Tốc độ phản ứng 3ms cực nhanh cùng với tấm nền IPS mang lại góc nhìn rộng 178 độ, độ chính xác màu sắc 100% sRGB, hứa hẹn đáp ứng tất cả nhu cầu dành cho game thủ.
												.col-12.col-md-6
													img(src="https://techzones.vn/Data/Sites/1/media/may-tinh/asus/rog-strix-scar-ii/rog-strix-scar-ii8.jpg", alt="")
											h5
												strong Ổ SSD nhanh chóng
											p Strix SCAR II được trang bị ổ SSD 512GB M.2 NVMe PCIe® 3.0 x4 cực nhanh. Với bộ nhớ 32GB DDR4 cùng tốc độ bus 2666MHz, Strix SCAR II có đủ khả năng để chạy các trò chơi mới nhất một cách mượt mà, đồng thời tiêu thụ ít năng lượng hơn.
											.text-center
												img(src="https://techzones.vn/Data/Sites/1/media/may-tinh/asus/rog-strix-scar-ii/rog-strix-scar-ii12.jpg", alt="")
											.row
												.col-12.col-md-6
													img(src="https://techzones.vn/Data/Sites/1/media/may-tinh/asus/rog-strix-scar-ii/rog-strix-scar-ii9.jpg", alt="")
												.col-12.col-md-6
													h5
														strong Trải nghiệm ánh sáng cùng với Aura Lighting
													p Hệ thống chiếu sáng Aura RGB LED được phát triển để bổ sung hoàn hảo cho giàn máy chơi game của bạn. Aura RGB cung cấp một dải màu gần như vô tận, có khả năng liên kết ánh sáng với âm nhạc, hành động trong trò chơi hoặc nhiệt độ CPU / GPU. Cùng nhau kết nối tạo nên phong cách độc đáo của riêng bạn!
											.row
												.col-12.col-md-6
													h5
														strong Âm thanh
													p Strix SCAR II mang lại âm thanh rõ ràng hơn, to hơn và chính xác hơn thông qua các loa kích hoạt mạnh mẽ giúp bạn đắm chìm trong âm thanh. Công nghệ bộ khuếch đại thông minh giám sát đầu ra âm thanh và điều chỉnh thời gian thực, vì vậy bạn có thể tăng âm lượng mà không phải lo lắng về các nón – từ đó làm cho âm lượng lên gấp hai lần hơn trước, với dải động và âm trầm tăng lên để bạn có thể nghe ngay cả những âm thanh tinh tế nhất.
												.col-12.col-md-6
													img(src="https://techzones.vn/Data/Sites/1/media/may-tinh/asus/rog-strix-scar-ii/rog-strix-scar-ii9.jpg", alt="")
									#profile2.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab2')
										a.btn-showoption(data-popup="#popup-option") Tùy chọn sản phẩm: 
											span Đen Carbon, i7-8750H, 16GB, GTX1060
										.specification-table
											table
												tr.title
													td(colspan="2") Bộ vi xử lý
												tr
													td Công nghệ CPU
													td Coffee Lake - thế hệ thứ 8
												tr
													td Loại CPU
													td Intel® Core™ i7-8750H
												tr
													td Số nhân / luồng
													td 6 nhân 12 luồng
												tr
													td L3 Cache
													td 9 MB SmartCache
												tr
													td Tốc độ CPU
													td 2.20 GHz
												tr
													td Tốc độ tối đa ( Turbo )
													td 4.10 GHz
												tr.title
													td(colspan="2") Màn hình
												tr
													td Kích thước màn hình
													td 15.6-inch
												tr
													td Độ phân giải
													td Full HD (1920x1080)
												tr
													td Công nghệ màn hình
													td IPS Non-Glare, 100% sRGB, 300nits LED 144Hz NanoEdge 3ms
				.product-video
					.product-title Video liên quan
					a.btn-viewmore(href="#!") Xem thêm
					.video-big
						iframe(width='100%', height='450', src='https://www.youtube.com/embed/vmSq8SLgV4Q', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
					.video-slick
						.item
							a.video-item(href="#!")
								figure
									.img
										img(src="img/news/1.jpg", alt="")
									figcaption
										.name Lorem ipsum dolor sit.
						.item
							a.video-item(href="#!")
								figure
									.img
										img(src="img/news/2.jpg", alt="")
									figcaption
										.name Lorem ipsum dolor sit.
						.item
							a.video-item(href="#!")
								figure
									.img
										img(src="img/news/3.jpg", alt="")
									figcaption
										.name Lorem ipsum dolor sit.
						.item
							a.video-item(href="#!")
								figure
									.img
										img(src="img/news/4.jpg", alt="")
									figcaption
										.name Lorem ipsum dolor sit.
				.product-sameprice
					.product-title  Sản phẩm cùng tầm giá
					.searchbox
						input(type="text" placeholder="Nhập từ khóa tìm kiếm...")
						.searchbutton 
							i.material-icons search
					.sameprice-list
						.item
							.product-col
								figure
									.product-img
										img(src='img/product/1.jpg', alt='')
									figcaption
										h2.product-name Garmin Forerunner® 645
										.product-price
											.new 9.990.000 đ
										.product-rating
											select.bar-rating
												option(value='1') 1
												option(value='2') 2
												option(value='3') 3
												option(value='4') 4
												option(value='5' selected="selected") 5
											span 70 đánh giá
										.product-des
											ul
												li Kích thước: 42.5 x 42.5 x 13.5 mm
												li Phiên bản: Music
												li Chất liệu dây: Silicone
												li Mặt kính: Cường lực
										a.link-compare(href="#!") So sánh chi tiết
						.item
							.product-col
								figure
									.product-img
										img(src='img/product/2.jpg', alt='')
									figcaption
										h2.product-name Garmin Forerunner® 645
										.product-price
											.new 9.990.000 đ
										.product-rating
											select.bar-rating
												option(value='1') 1
												option(value='2') 2
												option(value='3') 3
												option(value='4') 4
												option(value='5' selected="selected") 5
											span 70 đánh giá
										.product-des
											ul
												li Kích thước: 42.5 x 42.5 x 13.5 mm
												li Phiên bản: Music
												li Chất liệu dây: Silicone
												li Mặt kính: Cường lực
										a.link-compare(href="#!") So sánh chi tiết
						.item
							.product-col
								figure
									.product-img
										img(src='img/product/3.jpg', alt='')
									figcaption
										h2.product-name Garmin Forerunner® 645
										.product-price
											.new 9.990.000 đ
										.product-rating
											select.bar-rating
												option(value='1') 1
												option(value='2') 2
												option(value='3') 3
												option(value='4') 4
												option(value='5' selected="selected") 5
											span 70 đánh giá
										.product-des
											ul
												li Kích thước: 42.5 x 42.5 x 13.5 mm
												li Phiên bản: Music
												li Chất liệu dây: Silicone
												li Mặt kính: Cường lực
										a.link-compare(href="#!") So sánh chi tiết
						.item
							.product-col
								figure
									.product-img
										img(src='img/product/4.jpg', alt='')
									figcaption
										h2.product-name Garmin Forerunner® 645
										.product-price
											.new 9.990.000 đ
										.product-rating
											select.bar-rating
												option(value='1') 1
												option(value='2') 2
												option(value='3') 3
												option(value='4') 4
												option(value='5' selected="selected") 5
											span 70 đánh giá
										.product-des
											ul
												li Kích thước: 42.5 x 42.5 x 13.5 mm
												li Phiên bản: Music
												li Chất liệu dây: Silicone
												li Mặt kính: Cường lực
										a.link-compare(href="#!") So sánh chi tiết
				.product-comment
					.product-title Đánh giá sản phẩm
			.col-12.col-lg-4
				.product-specification
					.product-title Thông số kỹ thuật
					.specification-table
						table
							tr.title
								td(colspan="2") Bộ vi xử lý
							tr
								td Công nghệ CPU
								td Coffee Lake - thế hệ thứ 8
							tr
								td Loại CPU
								td Intel® Core™ i7-8750H
							tr
								td Số nhân / luồng
								td 6 nhân 12 luồng
							tr
								td L3 Cache
								td 9 MB SmartCache
							tr
								td Tốc độ CPU
								td 2.20 GHz
							tr
								td Tốc độ tối đa ( Turbo )
								td 4.10 GHz
							tr.title
								td(colspan="2") Màn hình
							tr
								td Kích thước màn hình
								td 15.6-inch
							tr
								td Độ phân giải
								td Full HD (1920x1080)
							tr
								td Công nghệ màn hình
								td IPS Non-Glare, 100% sRGB, 300nits LED 144Hz NanoEdge 3ms
					.btn-wrap
						a.btn-viewdetail(href="#!" data-toggle="modal" data-target="#modalSpecification") Xem cấu hình chi tiết
					#modalSpecification.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
						.modal-dialog.modal-specification(role='document')
							.modal-content
								.modal-header
									h5#exampleModalLabel.modal-title Thông số kỹ thuật chi tiết
									.close(data-dismiss='modal', aria-label='Close')
										i.material-icons close
								.modal-body
									.specification-table2
										table
											tr.title
												td(colspan="2") Bộ vi xử lý
											tr
												td Công nghệ CPU
												td Coffee Lake - thế hệ thứ 8
											tr
												td Loại CPU
												td Intel® Core™ i7-8750H
											tr
												td Số nhân / luồng
												td 6 nhân 12 luồng
											tr
												td L3 Cache
												td 9 MB SmartCache
											tr
												td Tốc độ CPU
												td 2.20 GHz
											tr
												td Tốc độ tối đa ( Turbo )
												td 4.10 GHz
											tr.title
												td(colspan="2") Màn hình
											tr
												td Kích thước màn hình
												td 15.6-inch
											tr
												td Độ phân giải
												td Full HD (1920x1080)
											tr
												td Công nghệ màn hình
												td IPS Non-Glare, 100% sRGB, 300nits LED 144Hz NanoEdge 3ms
				//- .product-accessories
					.product-title Phụ kiện đi kèm
					.accessories-wrap
						.accessories.active
							.accessories-cate Pin
							.accessories-list(style="display:block")
								a.accessories-item(href="#!")
									.img
										img(src="img/product/1.jpg", alt="")
									.name Dual Battery Charger + Battery (HERO5 Black)
								a.accessories-item(href="#!")
									.img
										img(src="img/product/1.jpg", alt="")
									.name Dual Battery Charger + Battery (HERO5 Black)
						.accessories
							.accessories-cate Gậy
							.accessories-list
								a.accessories-item(href="#!")
									.img
										img(src="img/product/1.jpg", alt="")
									.name Dual Battery Charger + Battery (HERO5 Black)
								a.accessories-item(href="#!")
									.img
										img(src="img/product/1.jpg", alt="")
									.name Dual Battery Charger + Battery (HERO5 Black)
								a.accessories-item(href="#!")
									.img
										img(src="img/product/1.jpg", alt="")
									.name Dual Battery Charger + Battery (HERO5 Black)
						.accessories
							.accessories-cate Phím
							.accessories-list
								a.accessories-item(href="#!")
									.img
										img(src="img/product/1.jpg", alt="")
									.name Dual Battery Charger + Battery (HERO5 Black)
								a.accessories-item(href="#!")
									.img
										img(src="img/product/1.jpg", alt="")
									.name Dual Battery Charger + Battery (HERO5 Black)
						.accessories
							.accessories-cate Chuột
							.accessories-list
								a.accessories-item(href="#!")
									.img
										img(src="img/product/1.jpg", alt="")
									.name Dual Battery Charger + Battery (HERO5 Black)
								a.accessories-item(href="#!")
									.img
										img(src="img/product/1.jpg", alt="")
									.name Dual Battery Charger + Battery (HERO5 Black)
				.product-news
					.product-title Thủ thuật sử dụng
					a.btn-viewmore(href="#!") Xem thêm
					.news-list
						.item
							a.news-item(href="#!")
								.img
									img(src="img/news/1.jpg", alt="")
								.name 10 lý do nên chọn mua DJI Mavic Pro
						.item
							a.news-item(href="#!")
								.img
									img(src="img/news/2.jpg", alt="")
								.name Ghé Techzones - Lựa Garmin - Nhận ngàn quà tặng
						.item
							a.news-item(href="#!")
								.img
									img(src="img/news/3.jpg", alt="")
								.name Mẹo hay giúp làm sạch bụi dây đeo Silicone cho đồng hồ thông minh
						.item
							a.news-item(href="#!")
								.img
									img(src="img/news/4.jpg", alt="")
								.name Những ứng dụng thay thế DJI GO 4 tốt nhất cho Mavic Air, Mavic Pro và Spark
						.item
							a.news-item(href="#!")
								.img
									img(src="img/news/5.jpg", alt="")
								.name TOP 4 chiếc Hybrid Watch đáng mua nhất 2018
				.product-news
					.product-title Tin tức mới nhất
					a.btn-viewmore(href="#!") Xem thêm
					.news-list
						.item
							a.news-item(href="#!")
								.img
									img(src="img/news/1.jpg", alt="")
								.name 10 lý do nên chọn mua DJI Mavic Pro
						.item
							a.news-item(href="#!")
								.img
									img(src="img/news/2.jpg", alt="")
								.name Ghé Techzones - Lựa Garmin - Nhận ngàn quà tặng
						.item
							a.news-item(href="#!")
								.img
									img(src="img/news/3.jpg", alt="")
								.name Mẹo hay giúp làm sạch bụi dây đeo Silicone cho đồng hồ thông minh
						.item
							a.news-item(href="#!")
								.img
									img(src="img/news/4.jpg", alt="")
								.name Những ứng dụng thay thế DJI GO 4 tốt nhất cho Mavic Air, Mavic Pro và Spark
						.item
							a.news-item(href="#!")
								.img
									img(src="img/news/5.jpg", alt="")
								.name TOP 4 chiếc Hybrid Watch đáng mua nhất 2018
		section.product-other
			.product-title Sản phẩm tương tự
			.product-slick
				.item
					a.product-col(href='#!')
						figure
							.product-img
								img(src='img/product/1.jpg', alt='')
							figcaption
								h2.product-name Acer Nitro 5 Carbon AN515
								.product-price
									.new 20.990.000 đ
				.item
					a.product-col(href='#!')
						figure
							.product-img
								img(src='img/product/2.jpg', alt='')
							figcaption
								h2.product-name Acer Nitro 5 Carbon AN515
								.product-price
									.new 20.990.000 đ
				.item
					a.product-col(href='#!')
						figure
							.product-img
								img(src='img/product/3.jpg', alt='')
							figcaption
								h2.product-name Acer Nitro 5 Carbon AN515
								.product-price
									.new 20.990.000 đ
				.item
					a.product-col(href='#!')
						figure
							.product-img
								img(src='img/product/4.jpg', alt='')
							figcaption
								h2.product-name Acer Nitro 5 Carbon AN515
								.product-price
									.new 20.990.000 đ
				.item
					a.product-col(href='#!')
						figure
							.product-img
								img(src='img/product/5.jpg', alt='')
							figcaption
								h2.product-name Acer Nitro 5 Carbon AN515
								.product-price
									.new 20.990.000 đ
				.item
					a.product-col(href='#!')
						figure
							.product-img
								img(src='img/product/6.jpg', alt='')
							figcaption
								h2.product-name Acer Nitro 5 Carbon AN515
								.product-price
									.new 20.990.000 đ
				.item
					a.product-col(href='#!')
						figure
							.product-img
								img(src='img/product/4.jpg', alt='')
							figcaption
								h2.product-name Acer Nitro 5 Carbon AN515
								.product-price
									.new 20.990.000 đ
				.item
					a.product-col(href='#!')
						figure
							.product-img
								img(src='img/product/5.jpg', alt='')
							figcaption
								h2.product-name Acer Nitro 5 Carbon AN515
								.product-price
									.new 20.990.000 đ
				.item
					a.product-col(href='#!')
						figure
							.product-img
								img(src='img/product/6.jpg', alt='')
							figcaption
								h2.product-name Acer Nitro 5 Carbon AN515
								.product-price
									.new 20.990.000 đ
		.product-lastview
			.product-title Sản phẩm đã xem
			.lastview-wrap
				.lastview-slick
					.item
						a.lastview-item(href="#!")
							.img
								img(src="img/product/1.jpg", alt="")
							.name Lorem ipsum dolor
					.item
						a.lastview-item(href="#!")
							.img
								img(src="img/product/2.jpg", alt="")
							.name Lorem ipsum dolor
					.item
						a.lastview-item(href="#!")
							.img
								img(src="img/product/3.jpg", alt="")
							.name Lorem ipsum dolor
					.item
						a.lastview-item(href="#!")
							.img
								img(src="img/product/4.jpg", alt="")
							.name Lorem ipsum dolor
					.item
						a.lastview-item(href="#!")
							.img
								img(src="img/product/5.jpg", alt="")
							.name Lorem ipsum dolor
					.item
						a.lastview-item(href="#!")
							.img
								img(src="img/product/6.jpg", alt="")
							.name Lorem ipsum dolor
					.item
						a.lastview-item(href="#!")
							.img
								img(src="img/product/7.jpg", alt="")
							.name Lorem ipsum dolor
					.item
						a.lastview-item(href="#!")
							.img
								img(src="img/product/8.jpg", alt="")
							.name Lorem ipsum dolor
					.item
						a.lastview-item(href="#!")
							.img
								img(src="img/product/9.jpg", alt="")
							.name Lorem ipsum dolor
					.item
						a.lastview-item(href="#!")
							.img
								img(src="img/product/10.jpg", alt="")
							.name Lorem ipsum dolor