section.breadcrumb-wrap
	.container
		ol.breadcrumb
			li
				a(href="#")
					span Trang chủ
			li
				a(href="#")
					span Laptop
			li
				a(href="#")
					span Asus
.container.fullwidth
	section.product-page
		.product-intro
			.row
				.col-12.col-lg-5
					section.product-slide-wrap
						.product-nav
							.item
								.img
									img(src='img/product/p1.jpg' alt='')
							.item
								.img
									img(src='img/product/p2.jpg' alt='')
							.item
								.img
									img(src='img/product/p3.jpg' alt='')
							.item
								.img
									img(src='img/product/p4.jpg' alt='')
							.item
								.img
									img(src='img/product/p5.jpg' alt='')
							.item
								.img
									img(src='img/product/p6.jpg' alt='')
						.product-slide
							.item
								a.img(href="img/product/p1.jpg" data-fancybox="sp")
									img(src='img/product/p1.jpg' alt='')
							.item
								a.img(href="img/product/p2.jpg" data-fancybox="sp")
									img(src='img/product/p2.jpg' alt='')
							.item
								a.img(href="img/product/p3.jpg" data-fancybox="sp")
									img(src='img/product/p3.jpg' alt='')
							.item
								a.img(href="img/product/p4.jpg" data-fancybox="sp")
									img(src='img/product/p4.jpg' alt='')
							.item
								a.img(href="img/product/p5.jpg" data-fancybox="sp")
									img(src='img/product/p5.jpg' alt='')
							.item
								a.img(href="img/product/p6.jpg" data-fancybox="sp")
									img(src='img/product/p6.jpg' alt='')
						.slide-des <i class="material-icons">zoom_in</i> Bấm vào để xem ảnh phóng to
				.col-12.col-lg-7
					section#product-info.product-info
						.product-header
							h1.product-name Asus ROG Strix SCAR II GL504GM-ES044T
							.product-rating
								select.bar-rating
									option(value='1') 1
									option(value='2') 2
									option(value='3') 3
									option(value='4' selected="selected") 4
									option(value='5') 5
								a.link(href="#!") 70 đánh giá
							.product-brand Thương hiệu: 
								a(href="#") Asus
							.product-id Mã sản phẩm: 
								a(href="#") ASUSGL504
							.product-status Tình trạng: 
								strong.text-green Còn hàng
						.row
							.col-12.col-lg-7
								.product-price
									.new 40.990.000 ₫
									.old 
										del 44.990.000 ₫
										span - 10%
									.price-des (Đã bao gồm VAT)
								.product-guarantee Bảo hành: 
									strong 24 tháng 
									a.text-blue(href="") (Quy định bảo hành)
									p Hàng chính hãng bảo hành 12 tháng .Đổi mới trong 15 ngày đầu nếu bị lỗi phần cứng NSX.
								.product-option
									.btn-showoption(data-popup="#popup-option") Tùy chọn sản phẩm: 
										//- span Đen Carbon, i7-8750H, 16GB, GTX1060
									.option-list
										ul
											li Vi xử lý: 
												a(href="#!") Intel Core i3 8100
											li Bo mạch chủ: 
												a(href="#!") Asus ROG Strix B360-F Gaming
											li RAM: 
												a(href="#!") ADATA XPG 8GB
											li VGA: 
												a(href="#!") Nvidia GTX 1060 6GB OC
											li SSD: 
												a(href="#!") Corsair 120GB M.2 SSD
											li Nguồn: 
												a(href="#!") Corsair 450W
											li Case: 
												a(href="#!") Sama mini esport 2
									//- .option-group.properties-group
										label Chọn vi xử lý
										.properties-list
											a.active(href="#!") i7-8750H
											a(href="#!") i5-8400H
									//- .option-group.properties-group
										label Chọn dung lượng RAM
										.properties-list
											a(href="#!") 8GB
											a.active(href="#!") 16GB
											a.disabled(href="#!") 32GB
									//- .option-group.colors-group
										label Chọn màu
										.colors-list
											a.active(href="#!")
												.img
													img(src="img/product/p1.jpg", alt="")
												.name Carbon
												.price 43.000.000 đ
											a(href="#!")
												.img
													img(src="img/product/p1.jpg", alt="")
												.name Đen bóng
												.price 42.000.000 đ
											a.disabled(href="#!")
												.img
													img(src="img/product/p1.jpg", alt="")
												.name Xám
												.price 40.000.000 đ
								//- #popup-option.page-popup.popup-option
									.popup-overlay
									.popup-dialog
										.popup-header
											.close-popup 
												i.material-icons arrow_back
											.popup-title Chọn Cấu hình
										.popup-body
											.product-option
												.option-group.properties-group
													label Chọn vi xử lý
													.properties-list
														a.active(href="#!") i7-8750H
														a(href="#!") i5-8400H
												.option-group.properties-group
													label Chọn dung lượng RAM
													.properties-list
														a(href="#!") 8GB
														a.active(href="#!") 16GB
														a.disabled(href="#!") 32GB
												.option-group.colors-group
													label Chọn màu
													.colors-list
														a.active(href="#!")
															.img
																img(src="img/product/p1.jpg", alt="")
															.name Carbon
															.price 43.000.000 đ
														a(href="#!")
															.img
																img(src="img/product/p1.jpg", alt="")
															.name Đen bóng
															.price 42.000.000 đ
														a.disabled(href="#!")
															.img
																img(src="img/product/p1.jpg", alt="")
															.name Xám
															.price 40.000.000 đ
								a.btn-like(href="#!")
								.product-btn
									a.btn-buy(href="#!") Thêm vào giỏ hàng
									a.btn-tragop.pc(href="#!") Mua trả góp 0%
										.des Thủ tục đơn giản
									a.btn-tragop.pc(href="#!") Trả góp qua thẻ
										.des Visa, Master, JCB
									a.btn-tragop.mobile(href="#!") Trả góp
								.share
									img(src="img/share.jpg", alt="")
							.col-12.col-lg-5
								.product-box
									.title 
										.img
											img(src="img/icon/box.png", alt="")
										span Nguyên hộp
									.content
										p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor, laboriosam.
								.product-gift
									.title
										.img
											img(src="img/icon/gift.png", alt="")
										span Quà tặng
									ul.gift-list
										li 
											a(href="#!")
												.img 
													img(src="img/product/g1.jpg", alt="")
												.name Tặng Tai nghe Bluetooth Jabra Mini trị giá 1.100.000 đ
										li 
											a(href="#!")
												.img 
													img(src="https://img.customon.com/design/600/600/ffffff/45522/a725a78bdb2d17327d46f7a41318f5a5.png.jpg", alt="")
												.name Tặng key PUBG trị giá 340.000 đ
										li 
											a(href="#!")
												.img 
													img(src="img/product/g1.jpg", alt="")
												.name Tặng Tai nghe Bluetooth Jabra Mini trị giá 1.100.000 đ
										li 
											a(href="#!")
												.img 
													img(src="img/product/g1.jpg", alt="")
												.name Tặng Tai nghe Bluetooth Jabra Mini trị giá 1.100.000 đ
										li 
											a(href="#!")
												.img 
													img(src="https://img.customon.com/design/600/600/ffffff/45522/a725a78bdb2d17327d46f7a41318f5a5.png.jpg", alt="")
												.name Tặng key PUBG trị giá 340.000 đ
										li 
											a(href="#!")
												.img 
													img(src="img/product/g1.jpg", alt="")
												.name Tặng Tai nghe Bluetooth Jabra Mini trị giá 1.100.000 đ
									a.btn-viewmoregift(href="#!") Xem thêm
								.product-support
									.title Tư vấn & Mua hàng - Gọi 
										a.text-red(href="#!") 1900 9064
									ul
										li Freeship với đơn hàng trên 600.000đ
										li Giao hàng ngay (Nội thành TP.HCM)
										li Giao trong vòng 2 đến 3 ngày (Toàn quốc)
									p 
										strong Miễn phí charge thẻ
									img(src="img/payments.png", alt="")
		.product-description
			ul#myTab.nav.nav-tabs.product-tabs(role='tablist')
				li.nav-item
					a#home-tab.nav-link.active(data-toggle='tab', href='#home', role='tab', aria-controls='home', aria-selected='true') Đặc điểm nổi bật
				li.nav-item.specification-tab
					a#speci-tab.nav-link(data-toggle='tab', href='#speci', role='tab', aria-controls='profile', aria-selected='false') Thông số kỹ thuật
				li.nav-item
					a#profile-tab.nav-link(data-toggle='tab', href='#profile', role='tab', aria-controls='profile', aria-selected='false') Tab 2
				li.nav-item
					a#contact-tab.nav-link(data-toggle='tab', href='#contact', role='tab', aria-controls='contact', aria-selected='false') Tab 3
			#myTabContent.tab-content
				#home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab')
					.content
						.text-center
							img(src="https://techzones.vn/Data/Sites/1/media/may-tinh/asus/rog-strix-scar-ii/rog-strix-scar-ii7.jpg", alt="")
						p Mới đây tại triễn lãm công nghệ Computex 2018, ROG vừa chính thức ra mắt cho game thủ trên toàn thế giới dòng laptop gaming siêu mỏng ROG Scar II, được thiết kế riêng cho những xạ thủ xuất sắc trong những cuộc đọ súng khốc liệt nhất, ROG Scar II hứa hẹn tạo nên sức hút to lớn với những game thủ FPS.
						.row
							.col-12.col-md-6
								img(src="https://techzones.vn/Data/Sites/1/media/may-tinh/asus/rog-strix-scar-ii/rog-strix-scar-ii4.jpg", alt="")
							.col-12.col-md-6
								h5 
									strong Sự lựa chọn của nhà vô địch
								p Trong hơn một thập kỷ qua, ROG đã chuyển niềm đam mê chơi game của mình sang xây dựng các sản phẩm sáng tạo và làm việc chặt chẽ với đội ngũ esports đảm bảo cung cấp cho họ có những công cụ phù hợp và tiên tiến nhất để làm nên chiến thắng.
							.col-12.col-md-6
								h5 
									strong Cạnh viền siêu mỏng với màn hình IPS FullHD 144 Hz 3 ms
								p Với diện mạo hoàn toàn mới, ROG Scar II cải tiến rất nhiều khi được thiết kế viền mỏng hơn so với các đời máy trước, cùng với trọng lượng chỉ 2.4 kg giúp di chuyển dễ dàng hơn. Màn hình 144Hz IPS giúp hình ảnh rõ ràng sắc nét hơn. Tốc độ phản ứng 3ms cực nhanh cùng với tấm nền IPS mang lại góc nhìn rộng 178 độ, độ chính xác màu sắc 100% sRGB, hứa hẹn đáp ứng tất cả nhu cầu dành cho game thủ.
							.col-12.col-md-6
								img(src="https://techzones.vn/Data/Sites/1/media/may-tinh/asus/rog-strix-scar-ii/rog-strix-scar-ii8.jpg", alt="")
						h5
							strong Ổ SSD nhanh chóng
						p Strix SCAR II được trang bị ổ SSD 512GB M.2 NVMe PCIe® 3.0 x4 cực nhanh. Với bộ nhớ 32GB DDR4 cùng tốc độ bus 2666MHz, Strix SCAR II có đủ khả năng để chạy các trò chơi mới nhất một cách mượt mà, đồng thời tiêu thụ ít năng lượng hơn.
						.text-center
							img(src="https://techzones.vn/Data/Sites/1/media/may-tinh/asus/rog-strix-scar-ii/rog-strix-scar-ii12.jpg", alt="")
						.row
							.col-12.col-md-6
								img(src="https://techzones.vn/Data/Sites/1/media/may-tinh/asus/rog-strix-scar-ii/rog-strix-scar-ii9.jpg", alt="")
							.col-12.col-md-6
								h5
									strong Trải nghiệm ánh sáng cùng với Aura Lighting
								p Hệ thống chiếu sáng Aura RGB LED được phát triển để bổ sung hoàn hảo cho giàn máy chơi game của bạn. Aura RGB cung cấp một dải màu gần như vô tận, có khả năng liên kết ánh sáng với âm nhạc, hành động trong trò chơi hoặc nhiệt độ CPU / GPU. Cùng nhau kết nối tạo nên phong cách độc đáo của riêng bạn!
						.row
							.col-12.col-md-6
								h5
									strong Âm thanh
								p Strix SCAR II mang lại âm thanh rõ ràng hơn, to hơn và chính xác hơn thông qua các loa kích hoạt mạnh mẽ giúp bạn đắm chìm trong âm thanh. Công nghệ bộ khuếch đại thông minh giám sát đầu ra âm thanh và điều chỉnh thời gian thực, vì vậy bạn có thể tăng âm lượng mà không phải lo lắng về các nón – từ đó làm cho âm lượng lên gấp hai lần hơn trước, với dải động và âm trầm tăng lên để bạn có thể nghe ngay cả những âm thanh tinh tế nhất.
							.col-12.col-md-6
								img(src="https://techzones.vn/Data/Sites/1/media/may-tinh/asus/rog-strix-scar-ii/rog-strix-scar-ii9.jpg", alt="")
					.btn-wrap
						a.btn-viewmore(href="#!" data-popup="#popup-detail") Xem thêm
					//- .product
						.img
							img(src="img/product/5.jpg", alt="")
						.caption
							.name Asus ROG Strix SCAR II GL504GM-ES044T
							.price 40.000.000 đ
							a.change-option(href="#product-info") Thay đổi thuộc tính
						.button
							a.btn-buy(href="#!") Mua ngay
							a.btn-tragop(href="#!") Mua trả góp 0%
							a.btn-tragop(href="#!") Trả góp qua thẻ
				#speci.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab')
					.specification-table
						table
							tr.title
								td(colspan="2") Bộ vi xử lý
							tr
								td Công nghệ CPU
								td Coffee Lake - thế hệ thứ 8
							tr
								td Loại CPU
								td Intel® Core™ i7-8750H
							tr
								td Số nhân / luồng
								td 6 nhân 12 luồng
							tr
								td L3 Cache
								td 9 MB SmartCache
							tr
								td Tốc độ CPU
								td 2.20 GHz
							tr
								td Tốc độ tối đa ( Turbo )
								td 4.10 GHz
							tr.title
								td(colspan="2") Màn hình
							tr
								td Kích thước màn hình
								td 15.6-inch
							tr
								td Độ phân giải
								td Full HD (1920x1080)
							tr
								td Công nghệ màn hình
								td IPS Non-Glare, 100% sRGB, 300nits LED 144Hz NanoEdge 3ms
					.btn-wrap
						a.btn-viewdetail.btn-detailspecify(href="#!" data-popup="#popup-detail") Xem cấu hình chi tiết
				#profile.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab') ...
				#contact.tab-pane.fade(role='tabpanel', aria-labelledby='contact-tab') ...
			#popup-detail.page-popup.popup-detail
				.popup-overlay
				.popup-dialog
					.popup-header
						.close-popup 
							i.material-icons arrow_back
						.popup-title 
							ul#myTab2.nav.nav-tabs(role='tablist')
								li.nav-item
									a#home-tab2.nav-link.active(data-toggle='tab', href='#home2', role='tab', aria-controls='home2', aria-selected='true') Đặc điểm chi tiết
								li.nav-item
									a#profile-tab2.nav-link(data-toggle='tab', href='#profile2', role='tab', aria-controls='profile2', aria-selected='false') 
										i.material-icons perm_device_information
					.popup-body
						#myTabContent2.tab-content
							#home2.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab2')
								.content
									.text-center
										img(src="https://techzones.vn/Data/Sites/1/media/may-tinh/asus/rog-strix-scar-ii/rog-strix-scar-ii7.jpg", alt="")
									p Mới đây tại triễn lãm công nghệ Computex 2018, ROG vừa chính thức ra mắt cho game thủ trên toàn thế giới dòng laptop gaming siêu mỏng ROG Scar II, được thiết kế riêng cho những xạ thủ xuất sắc trong những cuộc đọ súng khốc liệt nhất, ROG Scar II hứa hẹn tạo nên sức hút to lớn với những game thủ FPS.
									.row
										.col-12.col-md-6
											img(src="https://techzones.vn/Data/Sites/1/media/may-tinh/asus/rog-strix-scar-ii/rog-strix-scar-ii4.jpg", alt="")
										.col-12.col-md-6
											h5 
												strong Sự lựa chọn của nhà vô địch
											p Trong hơn một thập kỷ qua, ROG đã chuyển niềm đam mê chơi game của mình sang xây dựng các sản phẩm sáng tạo và làm việc chặt chẽ với đội ngũ esports đảm bảo cung cấp cho họ có những công cụ phù hợp và tiên tiến nhất để làm nên chiến thắng.
										.col-12.col-md-6
											h5 
												strong Cạnh viền siêu mỏng với màn hình IPS FullHD 144 Hz 3 ms
											p Với diện mạo hoàn toàn mới, ROG Scar II cải tiến rất nhiều khi được thiết kế viền mỏng hơn so với các đời máy trước, cùng với trọng lượng chỉ 2.4 kg giúp di chuyển dễ dàng hơn. Màn hình 144Hz IPS giúp hình ảnh rõ ràng sắc nét hơn. Tốc độ phản ứng 3ms cực nhanh cùng với tấm nền IPS mang lại góc nhìn rộng 178 độ, độ chính xác màu sắc 100% sRGB, hứa hẹn đáp ứng tất cả nhu cầu dành cho game thủ.
										.col-12.col-md-6
											img(src="https://techzones.vn/Data/Sites/1/media/may-tinh/asus/rog-strix-scar-ii/rog-strix-scar-ii8.jpg", alt="")
									h5
										strong Ổ SSD nhanh chóng
									p Strix SCAR II được trang bị ổ SSD 512GB M.2 NVMe PCIe® 3.0 x4 cực nhanh. Với bộ nhớ 32GB DDR4 cùng tốc độ bus 2666MHz, Strix SCAR II có đủ khả năng để chạy các trò chơi mới nhất một cách mượt mà, đồng thời tiêu thụ ít năng lượng hơn.
									.text-center
										img(src="https://techzones.vn/Data/Sites/1/media/may-tinh/asus/rog-strix-scar-ii/rog-strix-scar-ii12.jpg", alt="")
									.row
										.col-12.col-md-6
											img(src="https://techzones.vn/Data/Sites/1/media/may-tinh/asus/rog-strix-scar-ii/rog-strix-scar-ii9.jpg", alt="")
										.col-12.col-md-6
											h5
												strong Trải nghiệm ánh sáng cùng với Aura Lighting
											p Hệ thống chiếu sáng Aura RGB LED được phát triển để bổ sung hoàn hảo cho giàn máy chơi game của bạn. Aura RGB cung cấp một dải màu gần như vô tận, có khả năng liên kết ánh sáng với âm nhạc, hành động trong trò chơi hoặc nhiệt độ CPU / GPU. Cùng nhau kết nối tạo nên phong cách độc đáo của riêng bạn!
									.row
										.col-12.col-md-6
											h5
												strong Âm thanh
											p Strix SCAR II mang lại âm thanh rõ ràng hơn, to hơn và chính xác hơn thông qua các loa kích hoạt mạnh mẽ giúp bạn đắm chìm trong âm thanh. Công nghệ bộ khuếch đại thông minh giám sát đầu ra âm thanh và điều chỉnh thời gian thực, vì vậy bạn có thể tăng âm lượng mà không phải lo lắng về các nón – từ đó làm cho âm lượng lên gấp hai lần hơn trước, với dải động và âm trầm tăng lên để bạn có thể nghe ngay cả những âm thanh tinh tế nhất.
										.col-12.col-md-6
											img(src="https://techzones.vn/Data/Sites/1/media/may-tinh/asus/rog-strix-scar-ii/rog-strix-scar-ii9.jpg", alt="")
							#profile2.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab2')
								a.btn-showoption(data-popup="#popup-option") Tùy chọn sản phẩm: 
									span Đen Carbon, i7-8750H, 16GB, GTX1060
								.specification-table
									table
										tr.title
											td(colspan="2") Bộ vi xử lý
										tr
											td Công nghệ CPU
											td Coffee Lake - thế hệ thứ 8
										tr
											td Loại CPU
											td Intel® Core™ i7-8750H
										tr
											td Số nhân / luồng
											td 6 nhân 12 luồng
										tr
											td L3 Cache
											td 9 MB SmartCache
										tr
											td Tốc độ CPU
											td 2.20 GHz
										tr
											td Tốc độ tối đa ( Turbo )
											td 4.10 GHz
										tr.title
											td(colspan="2") Màn hình
										tr
											td Kích thước màn hình
											td 15.6-inch
										tr
											td Độ phân giải
											td Full HD (1920x1080)
										tr
											td Công nghệ màn hình
											td IPS Non-Glare, 100% sRGB, 300nits LED 144Hz NanoEdge 3ms
		.row.row-m
			.col-12.col-lg-8
				.product-sameprice
					.product-title  Sản phẩm cùng tầm giá
					.searchbox
						input(type="text" placeholder="Nhập từ khóa tìm kiếm...")
						.searchbutton 
							i.material-icons search
					.sameprice-list
						.item
							.product-col
								figure
									.product-img
										img(src='img/product/1.jpg', alt='')
									figcaption
										h2.product-name Garmin Forerunner® 645
										.product-price
											.new 9.990.000 đ
										.product-rating
											select.bar-rating
												option(value='1') 1
												option(value='2') 2
												option(value='3') 3
												option(value='4') 4
												option(value='5' selected="selected") 5
											span 70 đánh giá
										.product-des
											ul
												li Kích thước: 42.5 x 42.5 x 13.5 mm
												li Phiên bản: Music
												li Chất liệu dây: Silicone
												li Mặt kính: Cường lực
										a.link-compare(href="#!") So sánh chi tiết
						.item
							.product-col
								figure
									.product-img
										img(src='img/product/2.jpg', alt='')
									figcaption
										h2.product-name Garmin Forerunner® 645
										.product-price
											.new 9.990.000 đ
										.product-rating
											select.bar-rating
												option(value='1') 1
												option(value='2') 2
												option(value='3') 3
												option(value='4') 4
												option(value='5' selected="selected") 5
											span 70 đánh giá
										.product-des
											ul
												li Kích thước: 42.5 x 42.5 x 13.5 mm
												li Phiên bản: Music
												li Chất liệu dây: Silicone
												li Mặt kính: Cường lực
										a.link-compare(href="#!") So sánh chi tiết
						.item
							.product-col
								figure
									.product-img
										img(src='img/product/3.jpg', alt='')
									figcaption
										h2.product-name Garmin Forerunner® 645
										.product-price
											.new 9.990.000 đ
										.product-rating
											select.bar-rating
												option(value='1') 1
												option(value='2') 2
												option(value='3') 3
												option(value='4') 4
												option(value='5' selected="selected") 5
											span 70 đánh giá
										.product-des
											ul
												li Kích thước: 42.5 x 42.5 x 13.5 mm
												li Phiên bản: Music
												li Chất liệu dây: Silicone
												li Mặt kính: Cường lực
										a.link-compare(href="#!") So sánh chi tiết
						.item
							.product-col
								figure
									.product-img
										img(src='img/product/4.jpg', alt='')
									figcaption
										h2.product-name Garmin Forerunner® 645
										.product-price
											.new 9.990.000 đ
										.product-rating
											select.bar-rating
												option(value='1') 1
												option(value='2') 2
												option(value='3') 3
												option(value='4') 4
												option(value='5' selected="selected") 5
											span 70 đánh giá
										.product-des
											ul
												li Kích thước: 42.5 x 42.5 x 13.5 mm
												li Phiên bản: Music
												li Chất liệu dây: Silicone
												li Mặt kính: Cường lực
										a.link-compare(href="#!") So sánh chi tiết
				.product-video
					.product-title Video liên quan
					a.btn-viewmore(href="#!") Xem thêm
					.video-big
						iframe(width='100%', height='450', src='https://www.youtube.com/embed/vmSq8SLgV4Q', frameborder='0', allow='autoplay; encrypted-media', allowfullscreen='')
					.video-slick
						.item
							a.video-item(href="#!")
								figure
									.img
										img(src="img/news/1.jpg", alt="")
									figcaption
										.name Lorem ipsum dolor sit.
						.item
							a.video-item(href="#!")
								figure
									.img
										img(src="img/news/2.jpg", alt="")
									figcaption
										.name Lorem ipsum dolor sit.
						.item
							a.video-item(href="#!")
								figure
									.img
										img(src="img/news/3.jpg", alt="")
									figcaption
										.name Lorem ipsum dolor sit.
						.item
							a.video-item(href="#!")
								figure
									.img
										img(src="img/news/4.jpg", alt="")
									figcaption
										.name Lorem ipsum dolor sit.
				.product-comment
					.product-title Đánh giá sản phẩm
			.col-12.col-lg-4
				//- .product-specification
					.product-title Thông số kỹ thuật
					.specification-table
						table
							tr.title
								td(colspan="2") Bộ vi xử lý
							tr
								td Công nghệ CPU
								td Coffee Lake - thế hệ thứ 8
							tr
								td Loại CPU
								td Intel® Core™ i7-8750H
							tr
								td Số nhân / luồng
								td 6 nhân 12 luồng
							tr
								td L3 Cache
								td 9 MB SmartCache
							tr
								td Tốc độ CPU
								td 2.20 GHz
							tr
								td Tốc độ tối đa ( Turbo )
								td 4.10 GHz
							tr.title
								td(colspan="2") Màn hình
							tr
								td Kích thước màn hình
								td 15.6-inch
							tr
								td Độ phân giải
								td Full HD (1920x1080)
							tr
								td Công nghệ màn hình
								td IPS Non-Glare, 100% sRGB, 300nits LED 144Hz NanoEdge 3ms
					.btn-wrap
						a.btn-viewdetail(href="#!" data-toggle="modal" data-target="#modalSpecification") Xem cấu hình chi tiết
					#modalSpecification.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
						.modal-dialog.modal-specification(role='document')
							.modal-content
								.modal-header
									h5#exampleModalLabel.modal-title Thông số kỹ thuật chi tiết
									.close(data-dismiss='modal', aria-label='Close')
										i.material-icons close
								.modal-body
									.specification-table2
										table
											tr.title
												td(colspan="2") Bộ vi xử lý
											tr
												td Công nghệ CPU
												td Coffee Lake - thế hệ thứ 8
											tr
												td Loại CPU
												td Intel® Core™ i7-8750H
											tr
												td Số nhân / luồng
												td 6 nhân 12 luồng
											tr
												td L3 Cache
												td 9 MB SmartCache
											tr
												td Tốc độ CPU
												td 2.20 GHz
											tr
												td Tốc độ tối đa ( Turbo )
												td 4.10 GHz
											tr.title
												td(colspan="2") Màn hình
											tr
												td Kích thước màn hình
												td 15.6-inch
											tr
												td Độ phân giải
												td Full HD (1920x1080)
											tr
												td Công nghệ màn hình
												td IPS Non-Glare, 100% sRGB, 300nits LED 144Hz NanoEdge 3ms
				.product-accessories
					.product-title Phụ kiện đi kèm
					.accessories-wrap
						.accessories.active
							.accessories-cate Pin
							.accessories-list(style="display:block")
								a.accessories-item(href="#!")
									.img
										img(src="img/product/1.jpg", alt="")
									.name Dual Battery Charger + Battery (HERO5 Black)
								a.accessories-item(href="#!")
									.img
										img(src="img/product/1.jpg", alt="")
									.name Dual Battery Charger + Battery (HERO5 Black)
						.accessories
							.accessories-cate Gậy
							.accessories-list
								a.accessories-item(href="#!")
									.img
										img(src="img/product/1.jpg", alt="")
									.name Dual Battery Charger + Battery (HERO5 Black)
								a.accessories-item(href="#!")
									.img
										img(src="img/product/1.jpg", alt="")
									.name Dual Battery Charger + Battery (HERO5 Black)
								a.accessories-item(href="#!")
									.img
										img(src="img/product/1.jpg", alt="")
									.name Dual Battery Charger + Battery (HERO5 Black)
						.accessories
							.accessories-cate Phím
							.accessories-list
								a.accessories-item(href="#!")
									.img
										img(src="img/product/1.jpg", alt="")
									.name Dual Battery Charger + Battery (HERO5 Black)
								a.accessories-item(href="#!")
									.img
										img(src="img/product/1.jpg", alt="")
									.name Dual Battery Charger + Battery (HERO5 Black)
						.accessories
							.accessories-cate Chuột
							.accessories-list
								a.accessories-item(href="#!")
									.img
										img(src="img/product/1.jpg", alt="")
									.name Dual Battery Charger + Battery (HERO5 Black)
								a.accessories-item(href="#!")
									.img
										img(src="img/product/1.jpg", alt="")
									.name Dual Battery Charger + Battery (HERO5 Black)
				.product-news
					.product-title Thủ thuật sử dụng
					a.btn-viewmore(href="#!") Xem thêm
					.news-list
						.item
							a.news-item(href="#!")
								.img
									img(src="img/news/1.jpg", alt="")
								.name 10 lý do nên chọn mua DJI Mavic Pro
						.item
							a.news-item(href="#!")
								.img
									img(src="img/news/2.jpg", alt="")
								.name Ghé Techzones - Lựa Garmin - Nhận ngàn quà tặng
						.item
							a.news-item(href="#!")
								.img
									img(src="img/news/3.jpg", alt="")
								.name Mẹo hay giúp làm sạch bụi dây đeo Silicone cho đồng hồ thông minh
						.item
							a.news-item(href="#!")
								.img
									img(src="img/news/4.jpg", alt="")
								.name Những ứng dụng thay thế DJI GO 4 tốt nhất cho Mavic Air, Mavic Pro và Spark
						.item
							a.news-item(href="#!")
								.img
									img(src="img/news/5.jpg", alt="")
								.name TOP 4 chiếc Hybrid Watch đáng mua nhất 2018
				.product-news
					.product-title Tin tức mới nhất
					a.btn-viewmore(href="#!") Xem thêm
					.news-list
						.item
							a.news-item(href="#!")
								.img
									img(src="img/news/1.jpg", alt="")
								.name 10 lý do nên chọn mua DJI Mavic Pro
						.item
							a.news-item(href="#!")
								.img
									img(src="img/news/2.jpg", alt="")
								.name Ghé Techzones - Lựa Garmin - Nhận ngàn quà tặng
						.item
							a.news-item(href="#!")
								.img
									img(src="img/news/3.jpg", alt="")
								.name Mẹo hay giúp làm sạch bụi dây đeo Silicone cho đồng hồ thông minh
						.item
							a.news-item(href="#!")
								.img
									img(src="img/news/4.jpg", alt="")
								.name Những ứng dụng thay thế DJI GO 4 tốt nhất cho Mavic Air, Mavic Pro và Spark
						.item
							a.news-item(href="#!")
								.img
									img(src="img/news/5.jpg", alt="")
								.name TOP 4 chiếc Hybrid Watch đáng mua nhất 2018
		section.product-other
			.product-title Sản phẩm tương tự
			.product-slick
				.item
					a.product-col(href='#!')
						figure
							.product-img
								img(src='img/product/1.jpg', alt='')
							figcaption
								h2.product-name Acer Nitro 5 Carbon AN515
								.product-price
									.new 20.990.000 đ
				.item
					a.product-col(href='#!')
						figure
							.product-img
								img(src='img/product/2.jpg', alt='')
							figcaption
								h2.product-name Acer Nitro 5 Carbon AN515
								.product-price
									.new 20.990.000 đ
				.item
					a.product-col(href='#!')
						figure
							.product-img
								img(src='img/product/3.jpg', alt='')
							figcaption
								h2.product-name Acer Nitro 5 Carbon AN515
								.product-price
									.new 20.990.000 đ
				.item
					a.product-col(href='#!')
						figure
							.product-img
								img(src='img/product/4.jpg', alt='')
							figcaption
								h2.product-name Acer Nitro 5 Carbon AN515
								.product-price
									.new 20.990.000 đ
				.item
					a.product-col(href='#!')
						figure
							.product-img
								img(src='img/product/5.jpg', alt='')
							figcaption
								h2.product-name Acer Nitro 5 Carbon AN515
								.product-price
									.new 20.990.000 đ
				.item
					a.product-col(href='#!')
						figure
							.product-img
								img(src='img/product/6.jpg', alt='')
							figcaption
								h2.product-name Acer Nitro 5 Carbon AN515
								.product-price
									.new 20.990.000 đ
				.item
					a.product-col(href='#!')
						figure
							.product-img
								img(src='img/product/4.jpg', alt='')
							figcaption
								h2.product-name Acer Nitro 5 Carbon AN515
								.product-price
									.new 20.990.000 đ
				.item
					a.product-col(href='#!')
						figure
							.product-img
								img(src='img/product/5.jpg', alt='')
							figcaption
								h2.product-name Acer Nitro 5 Carbon AN515
								.product-price
									.new 20.990.000 đ
				.item
					a.product-col(href='#!')
						figure
							.product-img
								img(src='img/product/6.jpg', alt='')
							figcaption
								h2.product-name Acer Nitro 5 Carbon AN515
								.product-price
									.new 20.990.000 đ
		.product-lastview
			.product-title Sản phẩm đã xem
			.lastview-wrap
				.lastview-slick
					.item
						a.lastview-item(href="#!")
							.img
								img(src="img/product/1.jpg", alt="")
							.name Lorem ipsum dolor
					.item
						a.lastview-item(href="#!")
							.img
								img(src="img/product/2.jpg", alt="")
							.name Lorem ipsum dolor
					.item
						a.lastview-item(href="#!")
							.img
								img(src="img/product/3.jpg", alt="")
							.name Lorem ipsum dolor
					.item
						a.lastview-item(href="#!")
							.img
								img(src="img/product/4.jpg", alt="")
							.name Lorem ipsum dolor
					.item
						a.lastview-item(href="#!")
							.img
								img(src="img/product/5.jpg", alt="")
							.name Lorem ipsum dolor
					.item
						a.lastview-item(href="#!")
							.img
								img(src="img/product/6.jpg", alt="")
							.name Lorem ipsum dolor
					.item
						a.lastview-item(href="#!")
							.img
								img(src="img/product/7.jpg", alt="")
							.name Lorem ipsum dolor
					.item
						a.lastview-item(href="#!")
							.img
								img(src="img/product/8.jpg", alt="")
							.name Lorem ipsum dolor
					.item
						a.lastview-item(href="#!")
							.img
								img(src="img/product/9.jpg", alt="")
							.name Lorem ipsum dolor
					.item
						a.lastview-item(href="#!")
							.img
								img(src="img/product/10.jpg", alt="")
							.name Lorem ipsum dolor