//- section.breadcrumb-wrap.clearfix
	.breadcrumb-bg(style="background: url(img/br7.jpg) center center no-repeat;background-size:cover")
	.container
		ol.breadcrumb
			li
				a(href="#")
					span Trang chủ
			li
				a(href="#")
					span Sản phẩm
		h3.page-name Sản phẩm
.product-banner
	img(src="img/prbn1.jpg", alt="alt")
.product-section.product-section1
	.bg
		img(src="img/prbg1.png", alt="alt")
	.container
		.row.align-items-center
			.col-12.col-md-6.col-lg-5
				.product-title 
					h1 Dừa Sấy Giòn
					h2 Toasted Coconut Chips
				.content
					p 
						strong Dừa sấy giòn thương hiệu Vietcoco 
						|mang những quả dừa ngon hảo hạng của vùng đất Bến Tre - mệnh danh là thủ phủ dừa của Việt Nam đến những túi sản phẩm trên tay bạn.
					p Mỗi sản phẩm đem lại sự tinh tế vị ngon và hấp dẫn đến tận miếng cuối cùng
			.col-12.col-md-6.col-lg-7
				.img.text-right
					img(src="img/prpic1.png", alt="alt")
.product-section.product-section2
	.container
		.product-wrap
			.product-quote
				.img
					img(src="img/prpic2.jpg", alt="alt")
				.content
					h4.text-uppercase
						strong Ứng dụng sản phẩm
					p 
						strong DỪA SẤY GIÒN VIETCOCO 
						| được làm từ những trái dừa thu hoạch đúng độ tuổi với độ ngọt, hương thơm tự nhiên và đầy đủ chất dinh dưỡng. Sản phẩm không chứa gluten, không biến đổi gen, không thêm dầu và chất bảo quản. Một lựa chọn hoàn hảo thay cho các loại snack truyền thống.
					p Ngoài ra, 
						strong DỪA SẤY GIÒN VIETCOCO 
						| có thể dùng kết hợp với các loại bánh ngọt, chè, kem xôi, tạo nên hương vị độc đáo cho món ăn
					.d-flex.align-items-center.justify-content-around
						.item.rounded-circle
							img(src="img/prpic3.png", alt="alt")
						.item.rounded-circle
							img(src="img/prpic4.png", alt="alt")
						.item.rounded-circle
							img(src="img/prpic5.png", alt="alt")
						.item.rounded-circle
							img(src="img/prpic6.png", alt="alt")
						.item.rounded-circle
							img(src="img/prpic7.png", alt="alt")
		hr.mb-4
		.content
			.row
				.col-12.col-lg-8
					h4.text-uppercase
						strong Quy trình sản xuất
					p 
						strong DỪA SẤY GIÒN VIETCOCO 
						| của công ty TNHH chế biến dừa Lương Quới được sản xuất theo quy trình sản xuất sạch với dây chuyền sản xuất, máy móc hiện đại
					h4.text-uppercase
						strong Quy cách đóng gói
					p Sản phẩm đóng bao bì túi zipper tiện lợi 45gram với nhiều hương vị đa dạng.
				.col-12.col-lg-4
					.img.text-center.mt-4
						img(src="img/prpic8.jpg", alt="alt")
		hr.mb-4
		.img.text-center.mb-4
			img(src="img/prpic13.jpg", alt="alt")
		//- .page-title Vị truyền thống
		//- .row.mb-4
		//- 	.col-12.col-md-4
		//- 		.img
		//- 			img.w-100(src="img/prpic9.jpg", alt="alt")
		//- 	.col-12.col-md-8
		//- 		.content
		//- 			figure
		//- 				img(src="img/prpic10.jpg", alt="alt")
		//- 				figcaption Thành phần: 91.73% cơm dừa tươi | 7.81% đường | muối.
						
		//- .page-title Vị hành
		//- .row
		//- 	.col-12.col-md-4
		//- 		.img
		//- 			img.w-100(src="img/prpic12.jpg", alt="alt")
		//- 	.col-12.col-md-8
		//- 		.content
		//- 			figure
		//- 				img(src="img/prpic10.jpg", alt="alt")
		//- 				figcaption Thành phần: 91.73% cơm dừa tươi | 7.81% đường | muối.
		hr.mb-4
		.content
			h4.text-uppercase
				strong Sản phẩm được chứng nhận bởi
		.cert-slide
			.item
				.logo
					img(src="img/c1.jpg", alt="alt")
			.item
				.logo
					img(src="img/c2.jpg", alt="alt")
			.item
				.logo
					img(src="img/c3.jpg", alt="alt")
			.item
				.logo
					img(src="img/c4.jpg", alt="alt")
			.item
				.logo
					img(src="img/c5.jpg", alt="alt")
			.item
				.logo
					img(src="img/c6.jpg", alt="alt")
			.item
				.logo
					img(src="img/c7.jpg", alt="alt")
			.item
				.logo
					img(src="img/c8.jpg", alt="alt")