section.breadcrumb-wrap
	.container
		ol.breadcrumb
			li
				a(href="#")
					span Trang chủ
			li
				a(href="#")
					span Tìm kiếm
.container
	section.search-page.clearfix
		h1.page-title Kết quả tìm kiếm 
			strong.keyword "ốp lưng"
		.row
			.col-12.col-lg-9
				section.btn-filterwrap.d-lg-none
					.btn-changeview
					.btn-showfilter <i class="material-icons">tune</i> Bộ lọc
					.btn-showcate <i class="material-icons">view_list</i> Danh mục
				.product-subcate
					.category-list
						.item.active
							a.category-item(href="#!")
								.img
									img(src="img/icon/smartwatch.png", alt="")
								.name Thiết bị đeo tay
						.item
							a.category-item(href="#!")
								.img
									img(src="img/icon/monitor.png", alt="")
								.name Màn hình
						.item
							a.category-item(href="#!")
								.img
									img(src="img/icon/headphone.png", alt="")
								.name Thiết bị âm thanh
						.item
							a.category-item(href="#!")
								.img
									img(src="img/icon/game.png", alt="")
								.name Gaming gear
						.item
							a.category-item(href="#!")
								.img
									img(src="img/icon/camera.png", alt="")
								.name Camera
				.result-product
					//- h2.small-title Sản phẩm
					.result-amount Có <strong>96</strong> kết quả
					include ../_layout/filter
					.product-list
						.row.no-gutters
							article.col-6.col-sm-4.col-md-3
								a.product-col(href='#!')
									figure
										.product-img
											img(src='img/product/1.jpg', alt='')
										figcaption
											h2.product-name Acer Nitro 5 Carbon AN515
											.product-price
												.new 20.990.000 đ
												.old 30.000.000 đ
							article.col-6.col-sm-4.col-md-3
								a.product-col(href='#!')
									figure
										.product-img
											img(src='img/product/1.jpg', alt='')
										figcaption
											h2.product-name Acer Nitro 5 Carbon AN515
											.product-price
												.new 20.990.000 đ
												.old 30.000.000 đ
							article.col-6.col-sm-4.col-md-3
								a.product-col(href='#!')
									figure
										.product-img
											img(src='img/product/1.jpg', alt='')
										figcaption
											h2.product-name Acer Nitro 5 Carbon AN515
											.product-price
												.new 20.990.000 đ
												.old 30.000.000 đ
							article.col-6.col-sm-4.col-md-3
								a.product-col(href='#!')
									figure
										.product-img
											img(src='img/product/1.jpg', alt='')
										figcaption
											h2.product-name Acer Nitro 5 Carbon AN515
											.product-price
												.new 20.990.000 đ
												.old 30.000.000 đ
							article.col-6.col-sm-4.col-md-3
								a.product-col(href='#!')
									figure
										.product-img
											img(src='img/product/1.jpg', alt='')
										figcaption
											h2.product-name Acer Nitro 5 Carbon AN515
											.product-price
												.new 20.990.000 đ
												.old 30.000.000 đ
							article.col-6.col-sm-4.col-md-3
								a.product-col(href='#!')
									figure
										.product-img
											img(src='img/product/1.jpg', alt='')
										figcaption
											h2.product-name Acer Nitro 5 Carbon AN515
											.product-price
												.new 20.990.000 đ
												.old 30.000.000 đ
							article.col-6.col-sm-4.col-md-3
								a.product-col(href='#!')
									figure
										.product-img
											img(src='img/product/1.jpg', alt='')
										figcaption
											h2.product-name Acer Nitro 5 Carbon AN515
											.product-price
												.new 20.990.000 đ
												.old 30.000.000 đ
							article.col-6.col-sm-4.col-md-3
								a.product-col(href='#!')
									figure
										.product-img
											img(src='img/product/1.jpg', alt='')
										figcaption
											h2.product-name Acer Nitro 5 Carbon AN515
											.product-price
												.new 20.990.000 đ
												.old 30.000.000 đ
											//- .product-rating
												select.bar-rating
													option(value='1') 1
													option(value='2') 2
													option(value='3') 3
													option(value='4' selected="selected") 4
													option(value='5') 5
												span 70 đánh giá
											//- .product-des
												p Giảm 1 triệu thanh toán online bằng Mastercard và 2 KM khác
					.btn-wrap.text-center
						a.btn-loadmore(href="#") Xem thêm
			.col-12.col-lg-3
				.result-news
					h2.small-title Tin tức
					.result-amount Có <strong>100</strong> kết quả
					.post-list
						a.post(href="#")
							figure
								.post-img
									img(src="img/news/1.jpg", alt="")
								figcaption
									.post-name Khui hộp và giới thiệu ốp lưng Samsung Alcantara dành cho Galaxy Note 8
						a.post(href="#")
							figure
								.post-img
									img(src="img/news/1.jpg", alt="")
								figcaption
									.post-name Khui hộp và giới thiệu ốp lưng Samsung Alcantara dành cho Galaxy Note 8
						a.post(href="#")
							figure
								.post-img
									img(src="img/news/1.jpg", alt="")
								figcaption
									.post-name Khui hộp và giới thiệu ốp lưng Samsung Alcantara dành cho Galaxy Note 8
						a.post(href="#")
							figure
								.post-img
									img(src="img/news/1.jpg", alt="")
								figcaption
									.post-name Khui hộp và giới thiệu ốp lưng Samsung Alcantara dành cho Galaxy Note 8
						a.post(href="#")
							figure
								.post-img
									img(src="img/news/1.jpg", alt="")
								figcaption
									.post-name Khui hộp và giới thiệu ốp lưng Samsung Alcantara dành cho Galaxy Note 8
					
					.btn-wrap
						a.btn-viewmore(href="#") Xem thêm