.container
	.news-page
		.row
			.col-12.col-lg-8
				.news-list
					.row
						.col-12.col-lg-6
							.news-item
								figure
									.news-img
										img(src="img/n4.jpg", alt="alt")
										time 23/09/2019
									figcaption
										//- .news-cate Photo
										.news-name Công ty TNHH Chế Biến Dừa Lương Quới tham gia lễ hội Phật Đảng 2019
										.news-des Đại lễ Phật đản Liên hợp quốc -Vesak 2019 do giáo hội Phật giáo Việt Nam đăng cai, tổ chức tại chùa Tam Chúc (Hà Nam) sẽ khai mạc lúc 8h ngày 12/5 và kéo dài đến 14/5. Đây là lần thứ 3 Việt Nam tổ chức sự kiện này.
						.col-12.col-lg-6
							.news-item
								figure
									.news-img
										img(src="img/n3.png", alt="alt")
										time 23/09/2019
									figcaption
										//- .news-cate Photo
										.news-name Giải phóng miền Nam 30/04 & Quốc tế lao động
										.news-des Kính gửi: Quý khách hàng, Trước hết, Công ty TNHH Chế Biến Dừa Lương Quới xin chân thành cảm ơn sự quan tâm và ủng hộ của Quý khách hàng trong thời gian vừa qua.
						.col-12.col-lg-6
							.news-item
								figure
									.news-img
										img(src="img/n5.jpg", alt="alt")
										time 23/09/2019
									figcaption
										//- .news-cate Photo
										.news-name Công ty TNHH Chế Biến Dừa Lương Quới tham gia diễn đàn thương hiệu Việt Nam lần thứ 12
										.news-des Với chủ đề “Chiến lược Thương hiệu Quốc gia Việt Nam” - Diễn đàn Thương hiệu Việt Nam là một trong các sự kiện quan trọng trong khuôn khổ Tuần lễ Thương hiệu Việt Nam 2019 diễn ra ngày 17/4 tại Trung tâm Hội nghị Quốc tế, 11 Lê Hồng Phong, Ba Đình, Hà Nội.
						.col-12.col-lg-6
							.news-item
								figure
									.news-img
										img(src="img/n6.jpg", alt="alt")
										time 23/09/2019
									figcaption
										//- .news-cate Photo
										.news-name Vietcoco - có quyết tâm, sẽ chiến thắng
										.news-des Ngày 12/04/2019 tại Đà Nẵng, Công ty TNHH Chế Biến Dừa Lương Quới đã long trọng tổ chức Lễ ra quân “ Phát triển kênh truyền thống tại khu vực miền Trung” với sự tham gia của Ban Giám Đốc, Trưởng P. kinh doanh, nhân viên của công ty cùng với Đội ngũ quản lý, giám sát và nhân viên bán hàng thuộc 17 tỉnh, thành khu vực miền Trung.
						.col-12.col-lg-6
							.news-item
								figure
									.news-img
										img(src="img/n7.jpg", alt="alt")
										time 23/09/2019
									figcaption
										//- .news-cate Photo
										.news-name Đột phá trong chế biến, sản phẩm dừa Vietcoco chinh phục thị trường thế giới
										.news-des Nỗ lực không ngừng trong nghiên cứu & phát triển, những sản phẩm từ dừa mang tính đột phá giới thiệu ra thị trường bằng thương hiệu Vietcoco như sữa dừa uống, nước dừa hộp giấy Tetra Pak, dầu dừa nguyên chất ly tâm, nước cốt dừa, dừa sấy giòn, … của Công ty TNHH Chế Biến Dừa Lương Quới được khách hàng quốc tế và trong nước ngày một ưa chuộng.
						.col-12.col-lg-6
							.news-item
								figure
									.news-img
										img(src="img/n8.jpg", alt="alt")
										time 23/09/2019
									figcaption
										//- .news-cate Photo
										.news-name VIETNAM EXPO 2019 - Gắn kết, chia sẻ cùng thành công
										.news-des Hội chợ thương mại quốc tế Việt Nam – VIETNAM EXPO 2019, diễn ra từ ngày 10/04 – 13/04/2019 do Chính phủ giao Bộ Công Thương (Cục Xúc tiến thương mại) chủ trì, phối hợp với các Bộ, ngành và địa phương, các tổ chức xúc tiến thương mại và Công ty Vinexad tổ chức thường niên tại Hà Nội từ năm 1991. Trải qua 28 năm, VIETNAM EXPO đã trở thành một trong những hoạt động xúc tiến thương mại có quy mô lớn nhất và ý nghĩa quan trọng đối với ngành Công Thương Việt Nam, đã tạo dựng được “tiếng vang” tới bạn bè quốc tế và hầu hết các doanh nghiệp trong nước.
				.btn-wrap
					a.btn-viewmore(href="#!") Xem thêm 
			.col-12.col-lg-4
				.sidebar-categories
					.sidebar-title Danh mục tin tức
					nav.categories-link
						ul
							li
								a(href="#!") Tin công ty
							li
								a(href="#!") Trách nhiệm xã hội
							li
								a(href="#!") Tin tuyển dụng
							li
								a(href="#!") Tin ngành dừa
							li
								a(href="#!") Tin khuyến mãi
				.sidebar-news
					.sidebar-title Tin mới cập nhật
					nav.news-list3
						ul
							li
								a(href="#!") Công ty TNHH Chế Biến Lương Quới đạt danh hiệu "Doanh nghiệp xuất khẩu uy tín" năm 2018
							li
								a(href="#!") Công ty TNHH Chế Biến Dừa Lương Quới tham gia lễ hội Phật Đảng 2019
							li
								a(href="#!") Công ty TNHH Chế Biến Dừa Lương Quới tham gia diễn đàn thương hiệu Việt Nam lần thứ 12
							li
								a(href="#!") Công ty TNHH Chế Biến Dừa Lương Quới tham gia hội chợ hàng Việt Nam chất lượng cao 2019 tại Đồng Nai
							li
								a(href="#!") Ấm áp tình đồng nghiệp qua chương trình "Nhà tình thương đồng nghiệp 2019"
							li
								a(href="#!") Nhân viên Công ty TNHH Chế Biến Dừa Lương Quới tham gia ngày hội hiến máu tình nguyện 2019