section.breadcrumb-wrap.clearfix
	.breadcrumb-bg(style="background: url(img/br5.jpg) center center no-repeat;background-size:cover")
	.container
		ol.breadcrumb
			li
				a(href="#")
					span Trang chủ
			li
				a(href="#")
					span Trách nhiệm xã hội
		h3.page-name
section.about-section.about-section12
	.container
		.content
			.quote
				p 
					em 
						strong “Phát triển bền vững là sự phát triển nhằm đáp ứng nhu cầu của thế hệ hiện tại mà không làm tổn hại đến khả năng đáp ứng nhu cầu của các thế hệ tương lai.” - Báo cáo Bruntland (1987)
			.row
				.col-12.col-md-8.col-lg-8
					p Trong quá trình hoạt động sản xuất kinh doanh, 
						strong Công Ty TNHH Chế Biến Dừa Lương Quới 
						|luôn gắn liền với hoạt động bảo vệ môi trường và trách nhiệm xã hội dựa trên chính sách chất lượng 
						strong “An toàn,  Chất lượng, Trách nhiệm để phát triển bền vững”
						|.
					p Ba yếu tố phát triển kinh tế, bảo vệ môi trường và trách nhiệm xã hội là nền tảng cho triết lý kinh doanh và sự phát triển của chúng tôi. Chúng tôi hợp tác với các tổ chức và nông dân địa phương để đóng góp tích cực cho sự phát triển của kinh tế tỉnh nhà, sự phát triển chung của ngành chế biến dừa Việt Nam, của thế hệ tương lai bằng cách tạo ra giá trị cho các bên có liên quan và gia tăng giá trị trong chuỗi giá trị cây dừa.
					p Chúng tôi đặt sự phát triển bền vững làm trọng tâm trong chiến lược kinh doanh bởi vì chúng tôi tin rằng chỉ có phát triển bền vững mới  đảm bảo cho những thành công lớn hơn và không làm tổn hại đến khả năng đáp ứng nhu cầu cho thế hệ tương lai.
				.col-12.col-md-4.col-lg-4
					.img
						img(src="img/tnxh.jpg", alt="alt")
section.about-section.about-section13
	.container
		h3.about-title.text-center Trách nhiệm xã hội
		.content
			.row
				.col-12.col-md-4
					.img
						img(src="img/tnxh2.png", alt="alt")
				.col-12.col-md-8
					p Với chúng tôi, trách nhiệm xã hội doanh nghiệp (CSR) được thể hiện qua cam kết trở thành đối tác đáng tin cậy với các bên liên quan: 
						strong Nhà cung cấp - Người lao động - Khách hàng - Cộng đồng xã hội.
					p Chúng tôi mong muốn đóng góp để tăng chất lượng cuộc sống của tất cả người lao động tại đơn vị và gia đình họ thông qua chương trình 
						strong “Nhà tình thương đồng nghiệp” 
						|và các chính sách hỗ trợ khác cho người lao động. Mỗi năm công ty đều có các hoạt động hỗ trợ cho nhân viên trong các dịp lễ tết nhưng tặng bánh trung thu, tặng giỏ quà tết, khen thưởng cho con em có thành tích tốt trong học tập…
					p Trong năm 2017, công ty đã hỗ trợ xây dựng 7 căn nhà tình thương với tổng số tiền hơn 300 triệu đồng cho các anh chị em công nhân đang làm việc tại công ty có hoàn cảnh khó khăn về nhà ở.
			p Bên cạnh việc chăm lo cho người lao động của công ty thì đóng góp cho xã hội cũng được lãnh đạo công ty xem như nghĩa vụ và trách nhiệm. Công ty thường niên thực hiện các hoạt động hỗ trợ về giáo dục cho các địa phương trong vùng nguyên liệu của công ty, nhằm giúp các em học sinh nghèo gặp nhiều khó khăn có điều kiện vươn lên trong học tập.
			p Giai đoạn 2015-2016, công ty đã hỗ trợ trên 200 triệu đồng tại hai vùng nguyên liệu Mỏ Cày Nam và Giồng Trôm, chính sách này vẫn được tiếp tục thực hiện vào những năm tiếp theo.
			p Bên cạnh đó, hằng năm công ty còn tham gia các chương trình quyên góp từ thiện ủng hộ quỹ khuyến học, đền ơn đáp nghĩa, quốc phòng an ninh với số tiền lên đến 250 triệu đồng.
section.about-section.about-section14
	.container
		h3.about-title.text-center BẢO VỆ MÔI TRƯỜNG
		.content
			p 
				strong.text-uppercase Sản xuất sạch
			p Sản xuất kinh doanh luôn gắn liền với bảo vệ môi trường, chúng tôi luôn hướng tới mục tiêu 
				strong ”Sản phẩm sạch, Thế giới xanh”
				|.
			p Từng sản phẩm của chúng tôi sản xuất ra đều dựa trên phương châm “tạo ra sản phẩm chất lượng trên cơ sở tiêu hao nguyên vật liệu, năng lượng hợp lý nhất” theo chương trình sản xuất sạch hơn trong công nghiệp.
			.row
				.col-12.col-md-8
					p Hoạt động bảo vệ môi trường được thực hiện thông qua chương trình kiểm soát, phân loại chất thải ngay từ nguồn và có cơ sở hạ tầng hiện đại để xử lý chất thải cuối nguồn.
					p Chúng tôi đưa bảo vệ môi trường vào chiến lược kinh doanh của mình để truyền đạt ý thức đến từng người lao động đang gắn bó với chúng tôi rằng các hoạt động sản xuất luôn gắn với bảo vệ môi trường, hướng đến phát triển bền vững 
					p 
						strong.text-uppercase Bảo tồn và phát triển diện tích trồng dừa 
					p Công ty không chỉ khai thác chế biến dựa trên nguồn nguyên liệu sẵn có mà còn tiếp tục nuôi dưỡng để duy trì nguồn nguyên liệu dừa Việt Nam ngày càng dồi dào hơn.
				.col-12.col-md-4
					.img
						img(src="img/tnxh3.png", alt="alt")
section.about-section.about-section15
	.container
		h3.about-title.text-center Xây dựng cộng đồng
		.content
			p 
				strong.text-uppercase Chính sách cho người lao động:
			p Chúng tôi cam kết tạo một môi trường làm việc an toàn, đảm bảo các điều kiện tốt nhất  để người lao động tham gia cống hiến sức lao động của mình, phát huy sự sáng tạo của người lao động và tuân thủ quy định pháp luật địa phương.
			p Mỗi năm công ty đều có các hoạt động hỗ trợ cho nhân viên trong các dịp lễ tết nhưng tặng bánh trung thu, tặng giỏ quà tết, khen thưởng cho con em có thành tích tốt trong học tập…
			.row
				.col-12.col-md-4
					.img
						img(src="img/tnxh4.png", alt="alt")
				.col-12.col-md-8
					p 
						strong.text-uppercase An sinh xã hội:
					p Công ty hỗ trợ về giáo dục cho các địa phương trong vùng nguyên liệu của công ty, nhằm giúp các em học sinh nghèo gặp nhiều khó khăn có điều kiện vươn lên trong học tập. 
					p Giai đoạn 2015-2016, công ty đã hỗ trợ trên 200 triệu đồng tại hai vùng nguyên liệu Mỏ Cày Nam và Giồng Trôm, chính sách này vẫn được tiếp tục thực hiện vào những năm tiếp theo.
					p Bên cạnh đó, hằng năm công ty còn tham gia các chương trình quyên góp từ thiện ủng hộ quỹ khuyến học, đền ơn đáp nghĩa, quốc phòng an ninh với số tiền lên đến 250 triệu đồng.