section.breadcrumb-wrap.clearfix
	.breadcrumb-bg(style="background: url(img/br5.jpg) center center no-repeat;background-size:cover")
	h3.page-name Trách nhiệm xã hội
section.tnxh-section
	.container
		.row
			.col-12.col-md-8
				.home-title Trách nhiệm xã hội
				.content
					p Trong quá trình hoạt động sản xuất kinh doanh, Công Ty TNHH Chế Biến Dừa Lương Quới 
						|luôn gắn liền với hoạt động bảo vệ môi trường và trách nhiệm xã hội dựa trên chính sách chất lượng “An toàn,  Chất lượng, Trách nhiệm để phát triển bền vững”
						|.
			.col-12.col-md-4
				.img-block
					img(src="img/tnxh.jpg", alt="alt")
section.tnxh2-section
	.bg
		img(src="img/vnl3.jpg", alt="alt")
	.container
		.content
			p Chúng tôi đặt sự phát triển bền vững làm trọng tâm trong chiến lược kinh doanh bởi vì chúng tôi tin rằng chỉ có phát triển bền vững mới  đảm bảo cho những thành công lớn hơn và không làm tổn hại đến khả năng đáp ứng nhu cầu cho thế hệ tương lai.

section.tnxh3-section
	.container
		.text-center
			img(src="img/tnxhdes.jpg", alt="alt")
section.tnxh4-section
	.container
		.row
			.col-12.col-md-5
				.home-title Thay đổi để 
					br
					|ngày càng tốt hơn
			.col-12.col-md-7
				.content
					p Chúng tôi tin rằng những thách thức lớn trên thế giới không thể giải quyết bởi 1 công ty hay cá nhân ai. Tuy nhiên, mong muốn trở thành 1 phần tạo ra nhận thức để thay đổi luôn nằm trong tiêu chí hành động của cả tập thể công nhân viên. Chúng tôi sẽ thực hiện bằng những hành động cụ thể, kết hợp mọi người lại với nhau để thảo luận cùng tiến bộ, và bằng cách hợp tác mang lại tác động tích cực đến kinh Doanh, xã hội và môi trường. 
		.content
			.row
				.col-12.col-md-5
					.img
						img(src="img/tnxh2.png", alt="alt")
				.col-12.col-md-4
					.img
						img(src="img/tnxh4.png", alt="alt")
				.col-12.col-md-3
					.img
						img(src="img/n2.jpg", alt="alt")
			p Chúng tôi tin rằng những thách thức lớn trên thế giới không thể giải quyết bởi 1 công ty hay cá nhân ai. Tuy nhiên, mong muốn trở thành 1 phần tạo ra nhận thức để thay đổi luôn nằm trong tiêu chí hành động của cả tập thể công nhân viên. Chúng tôi sẽ thực hiện bằng những hành động cụ thể, kết hợp mọi người lại với nhau để thảo luận cùng tiến bộ, và bằng cách hợp tác mang lại tác động tích cực đến kinh Doanh, xã hội và môi trường.
			p Công ty Chế Biến Dừa Lương Quới trong những năm qua đã có những kết quả tuyệt vời từ các hoạt động xã hội. Trong suốt quá trình thực hiện, chúng tôi luôn học hỏi và nhận thức để làm cho mọi thứ trở nên đúng đắn. Bên cạnh việc khai thác, chúng tôi luôn hướng tới xây dựng và cải tạo cả về vật chất lẫn con người để không dừng lại ở thế hệ chúng tôi mà còn cho thế hệ sau này có được những điều tốt đẹp nhất.   

//- section.about-section.about-section14
	.container
		h3.about-title.text-center BẢO VỆ MÔI TRƯỜNG
		.content
			p 
				strong.text-uppercase Sản xuất sạch
			p Sản xuất kinh doanh luôn gắn liền với bảo vệ môi trường, chúng tôi luôn hướng tới mục tiêu 
				strong ”Sản phẩm sạch, Thế giới xanh”
				|.
			p Từng sản phẩm của chúng tôi sản xuất ra đều dựa trên phương châm “tạo ra sản phẩm chất lượng trên cơ sở tiêu hao nguyên vật liệu, năng lượng hợp lý nhất” theo chương trình sản xuất sạch hơn trong công nghiệp.
			.row
				.col-12.col-md-8
					p Hoạt động bảo vệ môi trường được thực hiện thông qua chương trình kiểm soát, phân loại chất thải ngay từ nguồn và có cơ sở hạ tầng hiện đại để xử lý chất thải cuối nguồn.
					p Chúng tôi đưa bảo vệ môi trường vào chiến lược kinh doanh của mình để truyền đạt ý thức đến từng người lao động đang gắn bó với chúng tôi rằng các hoạt động sản xuất luôn gắn với bảo vệ môi trường, hướng đến phát triển bền vững 
					p 
						strong.text-uppercase Bảo tồn và phát triển diện tích trồng dừa 
					p Công ty không chỉ khai thác chế biến dựa trên nguồn nguyên liệu sẵn có mà còn tiếp tục nuôi dưỡng để duy trì nguồn nguyên liệu dừa Việt Nam ngày càng dồi dào hơn.
				.col-12.col-md-4
					.img
						img(src="img/tnxh3.png", alt="alt")
//- section.about-section.about-section15
	.container
		h3.about-title.text-center Xây dựng cộng đồng
		.content
			p 
				strong.text-uppercase Chính sách cho người lao động:
			p Chúng tôi cam kết tạo một môi trường làm việc an toàn, đảm bảo các điều kiện tốt nhất  để người lao động tham gia cống hiến sức lao động của mình, phát huy sự sáng tạo của người lao động và tuân thủ quy định pháp luật địa phương.
			p Mỗi năm công ty đều có các hoạt động hỗ trợ cho nhân viên trong các dịp lễ tết nhưng tặng bánh trung thu, tặng giỏ quà tết, khen thưởng cho con em có thành tích tốt trong học tập…
			.row
				.col-12.col-md-4
					.img
						img(src="img/tnxh4.png", alt="alt")
				.col-12.col-md-8
					p 
						strong.text-uppercase An sinh xã hội:
					p Công ty hỗ trợ về giáo dục cho các địa phương trong vùng nguyên liệu của công ty, nhằm giúp các em học sinh nghèo gặp nhiều khó khăn có điều kiện vươn lên trong học tập. 
					p Giai đoạn 2015-2016, công ty đã hỗ trợ trên 200 triệu đồng tại hai vùng nguyên liệu Mỏ Cày Nam và Giồng Trôm, chính sách này vẫn được tiếp tục thực hiện vào những năm tiếp theo.
					p Bên cạnh đó, hằng năm công ty còn tham gia các chương trình quyên góp từ thiện ủng hộ quỹ khuyến học, đền ơn đáp nghĩa, quốc phòng an ninh với số tiền lên đến 250 triệu đồng.