section.breadcrumb-wrap.clearfix
	.breadcrumb-bg(style="background: url(img/br6.jpg) center center no-repeat;background-size:cover")
	.container
		ol.breadcrumb
			li
				a(href="#")
					span Trang chủ
			li
				a(href="#")
					span Giới thiệu
		h3.page-name
nav.horizon-nav
	.container
		ul
			li
				a(href="#!") Về công ty
			li
				a(href="#!") Lịch sử phát triển
			li
				a(href="#!") Hệ thống quản trị
			li
				a(href="#!") Đơn vị trực thuộc
			li.active
				a(href="#!") Thành tích nổi bật
section.ttnb-section
	.container
		.about-title2 Thành tích nổi bật
		.content
			p Hơn 20 năm hình thành và phát triển, với bản lĩnh mạnh dạn đổi mới, luôn đón đầu áp dụng công nghệ mới, công ty TNHH Chế Biến Dừa Lương Quới đã trở thành một trong những công ty sản xuất kinh doanh các sản phẩm dừa có quy mô hàng đầu Việt Nam và đóng góp to lớn vào sự phát triển của đại phương cũng như ngành chế biến dừa Việt Nam. Với những thành tích nổi bật đó, Công ty đã vinh dự nhận được các Danh hiệu cao quý:
		.achievement-list
			.row
				.col-12.col-md-4.col-lg-3
					.achievement
						.img
							img(src="img/cert1.png", alt="alt")
						.caption
							.name Hàng Việt Nam chất lượng cao chuẩn hội nhập năm 2017
				.col-12.col-md-4.col-lg-3
					.achievement
						.img
							img(src="img/cert1.png", alt="alt")
						.caption
							.name Hàng Việt Nam chất lượng cao chuẩn hội nhập năm 2017
				.col-12.col-md-4.col-lg-3
					.achievement
						.img
							img(src="img/cert1.png", alt="alt")
						.caption
							.name Hàng Việt Nam chất lượng cao chuẩn hội nhập năm 2017
				.col-12.col-md-4.col-lg-3
					.achievement
						.img
							img(src="img/cert1.png", alt="alt")
						.caption
							.name Hàng Việt Nam chất lượng cao chuẩn hội nhập năm 2017