section.breadcrumb-wrap
	.container
		ol.breadcrumb
			li
				a(href="#")
					span Trang chủ
			li
				a(href="#")
					span Thương hiệu
.container
	section.brand-page
		h1.page-title Thương hiệu
		.brand-nav
			ul
				li.active
					a(href="#!") Thiết bị đeo tay
				li
					a(href="#!") Home Theater
				li
					a(href="#!") Âm thanh
				li
					a(href="#!") Máy tính
				li
					a(href="#!") Gaming gear
				li
					a(href="#!") Camera
				li
					a(href="#!") Phụ kiện
				li
					a(href="#!") Hàng 2nd
		.brand-wrap
			.brand-list
				.row.row-m
					.col-6.col-sm-4.col-md-3.col-lg-3.col-xl-2
						a.brand-item(href="#!")
							img(src="img/brand/1.jpg", alt="")
					.col-6.col-sm-4.col-md-3.col-lg-3.col-xl-2
						a.brand-item(href="#!")
							img(src="img/brand/2.jpg", alt="")
					.col-6.col-sm-4.col-md-3.col-lg-3.col-xl-2
						a.brand-item(href="#!")
							img(src="img/brand/3.jpg", alt="")
					.col-6.col-sm-4.col-md-3.col-lg-3.col-xl-2
						a.brand-item(href="#!")
							img(src="img/brand/4.jpg", alt="")
					.col-6.col-sm-4.col-md-3.col-lg-3.col-xl-2
						a.brand-item(href="#!")
							img(src="img/brand/5.jpg", alt="")
					.col-6.col-sm-4.col-md-3.col-lg-3.col-xl-2
						a.brand-item(href="#!")
							img(src="img/brand/6.jpg", alt="")
					.col-6.col-sm-4.col-md-3.col-lg-3.col-xl-2
						a.brand-item(href="#!")
							img(src="img/brand/7.jpg", alt="")
					.col-6.col-sm-4.col-md-3.col-lg-3.col-xl-2
						a.brand-item(href="#!")
							img(src="img/brand/8.jpg", alt="")
					.col-6.col-sm-4.col-md-3.col-lg-3.col-xl-2
						a.brand-item(href="#!")
							img(src="img/brand/9.jpg", alt="")
					.col-6.col-sm-4.col-md-3.col-lg-3.col-xl-2
						a.brand-item(href="#!")
							img(src="img/brand/10.jpg", alt="")
					.col-6.col-sm-4.col-md-3.col-lg-3.col-xl-2
						a.brand-item(href="#!")
							img(src="img/brand/1.jpg", alt="")
					.col-6.col-sm-4.col-md-3.col-lg-3.col-xl-2
						a.brand-item(href="#!")
							img(src="img/brand/2.jpg", alt="")
					.col-6.col-sm-4.col-md-3.col-lg-3.col-xl-2
						a.brand-item(href="#!")
							img(src="img/brand/3.jpg", alt="")
					.col-6.col-sm-4.col-md-3.col-lg-3.col-xl-2
						a.brand-item(href="#!")
							img(src="img/brand/4.jpg", alt="")
					.col-6.col-sm-4.col-md-3.col-lg-3.col-xl-2
						a.brand-item(href="#!")
							img(src="img/brand/5.jpg", alt="")
					.col-6.col-sm-4.col-md-3.col-lg-3.col-xl-2
						a.brand-item(href="#!")
							img(src="img/brand/6.jpg", alt="")
					.col-6.col-sm-4.col-md-3.col-lg-3.col-xl-2
						a.brand-item(href="#!")
							img(src="img/brand/7.jpg", alt="")
					.col-6.col-sm-4.col-md-3.col-lg-3.col-xl-2
						a.brand-item(href="#!")
							img(src="img/brand/8.jpg", alt="")
					.col-6.col-sm-4.col-md-3.col-lg-3.col-xl-2
						a.brand-item(href="#!")
							img(src="img/brand/9.jpg", alt="")
					.col-6.col-sm-4.col-md-3.col-lg-3.col-xl-2
						a.brand-item(href="#!")
							img(src="img/brand/10.jpg", alt="")
					.col-6.col-sm-4.col-md-3.col-lg-3.col-xl-2
						a.brand-item(href="#!")
							img(src="img/brand/1.jpg", alt="")
					.col-6.col-sm-4.col-md-3.col-lg-3.col-xl-2
						a.brand-item(href="#!")
							img(src="img/brand/2.jpg", alt="")
					.col-6.col-sm-4.col-md-3.col-lg-3.col-xl-2
						a.brand-item(href="#!")
							img(src="img/brand/3.jpg", alt="")
					.col-6.col-sm-4.col-md-3.col-lg-3.col-xl-2
						a.brand-item(href="#!")
							img(src="img/brand/4.jpg", alt="")
					.col-6.col-sm-4.col-md-3.col-lg-3.col-xl-2
						a.brand-item(href="#!")
							img(src="img/brand/5.jpg", alt="")
					.col-6.col-sm-4.col-md-3.col-lg-3.col-xl-2
						a.brand-item(href="#!")
							img(src="img/brand/6.jpg", alt="")
					.col-6.col-sm-4.col-md-3.col-lg-3.col-xl-2
						a.brand-item(href="#!")
							img(src="img/brand/7.jpg", alt="")
					.col-6.col-sm-4.col-md-3.col-lg-3.col-xl-2
						a.brand-item(href="#!")
							img(src="img/brand/8.jpg", alt="")
					.col-6.col-sm-4.col-md-3.col-lg-3.col-xl-2
						a.brand-item(href="#!")
							img(src="img/brand/9.jpg", alt="")
					.col-6.col-sm-4.col-md-3.col-lg-3.col-xl-2
						a.brand-item(href="#!")
							img(src="img/brand/10.jpg", alt="")