section.breadcrumb-wrap.clearfix
	.breadcrumb-bg(style="background: url(img/vnl.jpg) center center no-repeat;background-size:cover")
	h3.page-name Tin tức
.container
	.hot-news2
		.row
			.col-12.col-lg-8
				.news-item.big
					figure
						.news-img
							img(src="img/n1.jpg", alt="alt")
						figcaption
							//- .news-cate Photo
							time 23/09/2019
							.news-name 
								a(href="#!") Công ty TNHH Chế Biến Lương Quới đạt danh hiệu "Doanh nghiệp xuất khẩu uy tín" năm 2018
							.news-des Ngày 26/08/2019, Bộ Công Thương ban hành Quyết định số 2629/QĐ-BCT phê duyệt danh sách “Doanh nghiệp xuất khẩu uy tín” năm 2018. Trên cơ sở đề xuất của 55 cơ quan, tổ chức xét chọn (bao gồm các Bộ, ngành, Hiệp hội ngành hàng, Sở Công Thương tỉnh, thành phố), Bộ Công Thương đã xét chọn được 225 doanh nghiệp (tương đương với 235 lượt doanh nghiệp theo 25 ngành hàng) đạt danh hiệu “Doanh nghiệp xuất khẩu uy tín” năm 2018
							a.btn-link(href="#!") Chi tiết
			.col-12.col-lg-4
				.news-item
					figure
						.news-img
							img(src="img/n2.jpg", alt="alt")
						figcaption
							//- span.news-cate Photo
							time 23/09/2019
							.news-name 
								a(href="#!") Công ty TNHH Chế Biến Dừa Lương Quới tham gia lễ hội Phật Đảng 2019
							//- .news-des Lorem ipsum dolor sit amet consectetur adipisicing elit. A molestiae cupiditate omnis doloribus laudantium perspiciatis quas exercitationem illum sunt repellendus!
							a.btn-link(href="#!") Chi tiết
				.news-item
					figure
						.news-img
							img(src="img/n4.jpg", alt="alt")
						figcaption
							//- span.news-cate Photo
							time 23/09/2019
							.news-name 
								a(href="#!") Công ty TNHH Chế Biến Dừa Lương Quới tham gia lễ hội Phật Đảng 2019
							//- .news-des Lorem ipsum dolor sit amet consectetur adipisicing elit. A molestiae cupiditate omnis doloribus laudantium perspiciatis quas exercitationem illum sunt repellendus!
							a.btn-link(href="#!") Chi tiết
			//- .col-12.col-lg-3
				.news-item
					figure
						.news-img
							img(src="img/n5.jpg", alt="alt")
						figcaption
							//- span.news-cate Photo
							time 23/09/2019
							.news-name Công ty TNHH Chế Biến Dừa Lương Quới tham gia diễn đàn thương hiệu Việt Nam lần thứ 12
	.row
		.col-12.col-lg-8
			.news-page2
				.news-group
					.news-cate-wrap
						.page-title2 Tin công ty
						a.btn-viewmore(href="#!") Xem thêm
					.news-list2
						.news-item.big
							figure.row
								.col-12.col-md-6.news-img
									img(src="img/n2.png", alt="alt")
								figcaption.col-12.col-md-6
									.news-name 
										a(href="#!") Công ty TNHH Chế Biến Dừa Lương Quới tham gia hội chợ hàng Việt Nam chất lượng cao 2019 tại Đồng Nai
									time 23/09/2019
									.news-des Nằm trong khuôn khổ chuỗi Chương trình Hội chợ HVNCLC năm 2019, Hội chợ HVNCLC tại Đồng Nai năm nay sẽ được tổ chức từ ngày 28/08 đến 02/09/2019 tại Trung tâm Hội nghị và Tổ chức sự kiện tỉnh Đồng Nai - số 1 Nguyễn Ái Quốc, Tân Tiến, Thành phố Biên Hòa, Đồng Nai.
						.row
							.col-12.col-md-6
								.news-item
									figure.row
										.col-4.col-md-5.news-img
											img(src="img/n3.jpg", alt="alt")
										figcaption.col-8.col-md-7
											.news-name 
												a(href="#!") Công ty TNHH Chế Biến Dừa Lương Quới tham gia hội chợ hàng Việt Nam chất lượng cao 2019 tại Đồng Nai
											time 23/09/2019
								.news-item
									figure.row
										.col-4.col-md-5.news-img
											img(src="img/n4.jpg", alt="alt")
										figcaption.col-8.col-md-7
											.news-name 
												a(href="#!") Công ty TNHH Chế Biến Dừa Lương Quới tham gia hội chợ hàng Việt Nam chất lượng cao 2019 tại Đồng Nai
											time 23/09/2019
							.col-12.col-md-6
								.news-item
									figure.row
										.col-4.col-md-5.news-img
											img(src="img/n5.jpg", alt="alt")
										figcaption.col-8.col-md-7
											.news-name 
												a(href="#!") Công ty TNHH Chế Biến Dừa Lương Quới tham gia hội chợ hàng Việt Nam chất lượng cao 2019 tại Đồng Nai
											time 23/09/2019
								.news-item
									figure.row
										.col-4.col-md-5.news-img
											img(src="img/n6.jpg", alt="alt")
										figcaption.col-8.col-md-7
											.news-name 
												a(href="#!") Công ty TNHH Chế Biến Dừa Lương Quới tham gia hội chợ hàng Việt Nam chất lượng cao 2019 tại Đồng Nai
											time 23/09/2019
				.news-group
					.news-cate-wrap
						.page-title2 Tin ngành dừa
						a.btn-viewmore(href="#!") Xem thêm
					.news-list2
						.news-item.big
							figure.row
								.col-12.col-md-6.news-img
									img(src="img/n2.png", alt="alt")
								figcaption.col-12.col-md-6
									.news-name 
										a(href="#!") Công ty TNHH Chế Biến Dừa Lương Quới tham gia hội chợ hàng Việt Nam chất lượng cao 2019 tại Đồng Nai
									time 23/09/2019
									.news-des Nằm trong khuôn khổ chuỗi Chương trình Hội chợ HVNCLC năm 2019, Hội chợ HVNCLC tại Đồng Nai năm nay sẽ được tổ chức từ ngày 28/08 đến 02/09/2019 tại Trung tâm Hội nghị và Tổ chức sự kiện tỉnh Đồng Nai - số 1 Nguyễn Ái Quốc, Tân Tiến, Thành phố Biên Hòa, Đồng Nai.
						.row
							.col-12.col-md-6
								.news-item
									figure.row
										.col-4.col-md-5.news-img
											img(src="img/n3.jpg", alt="alt")
										figcaption.col-8.col-md-7
											.news-name 
												a(href="#!") Công ty TNHH Chế Biến Dừa Lương Quới tham gia hội chợ hàng Việt Nam chất lượng cao 2019 tại Đồng Nai
											time 23/09/2019
								.news-item
									figure.row
										.col-4.col-md-5.news-img
											img(src="img/n4.jpg", alt="alt")
										figcaption.col-8.col-md-7
											.news-name 
												a(href="#!") Công ty TNHH Chế Biến Dừa Lương Quới tham gia hội chợ hàng Việt Nam chất lượng cao 2019 tại Đồng Nai
											time 23/09/2019
							.col-12.col-md-6
								.news-item
									figure.row
										.col-4.col-md-5.news-img
											img(src="img/n5.jpg", alt="alt")
										figcaption.col-8.col-md-7
											.news-name 
												a(href="#!") Công ty TNHH Chế Biến Dừa Lương Quới tham gia hội chợ hàng Việt Nam chất lượng cao 2019 tại Đồng Nai
											time 23/09/2019
								.news-item
									figure.row
										.col-4.col-md-5.news-img
											img(src="img/n6.jpg", alt="alt")
										figcaption.col-8.col-md-7
											.news-name 
												a(href="#!") Công ty TNHH Chế Biến Dừa Lương Quới tham gia hội chợ hàng Việt Nam chất lượng cao 2019 tại Đồng Nai
											time 23/09/2019
				//- .news-group
					.news-cate-wrap
						.page-title2 Trách nhiệm xã hội
						a.btn-viewmore(href="#!") Xem thêm
					.news-list2
						.news-item.big
							figure.row
								.col-12.col-md-6.news-img
									img(src="img/n2.png", alt="alt")
								figcaption.col-12.col-md-6
									.news-name 
										a(href="#!") Công ty TNHH Chế Biến Dừa Lương Quới tham gia hội chợ hàng Việt Nam chất lượng cao 2019 tại Đồng Nai
									time 23/09/2019
									.news-des Nằm trong khuôn khổ chuỗi Chương trình Hội chợ HVNCLC năm 2019, Hội chợ HVNCLC tại Đồng Nai năm nay sẽ được tổ chức từ ngày 28/08 đến 02/09/2019 tại Trung tâm Hội nghị và Tổ chức sự kiện tỉnh Đồng Nai - số 1 Nguyễn Ái Quốc, Tân Tiến, Thành phố Biên Hòa, Đồng Nai.
						.row
							.col-12.col-md-6
								.news-item
									figure.row
										.col-4.col-md-5.news-img
											img(src="img/n3.jpg", alt="alt")
										figcaption.col-8.col-md-7
											.news-name 
												a(href="#!") Công ty TNHH Chế Biến Dừa Lương Quới tham gia hội chợ hàng Việt Nam chất lượng cao 2019 tại Đồng Nai
											time 23/09/2019
								.news-item
									figure.row
										.col-4.col-md-5.news-img
											img(src="img/n4.jpg", alt="alt")
										figcaption.col-8.col-md-7
											.news-name 
												a(href="#!") Công ty TNHH Chế Biến Dừa Lương Quới tham gia hội chợ hàng Việt Nam chất lượng cao 2019 tại Đồng Nai
											time 23/09/2019
							.col-12.col-md-6
								.news-item
									figure.row
										.col-4.col-md-5.news-img
											img(src="img/n5.jpg", alt="alt")
										figcaption.col-8.col-md-7
											.news-name 
												a(href="#!") Công ty TNHH Chế Biến Dừa Lương Quới tham gia hội chợ hàng Việt Nam chất lượng cao 2019 tại Đồng Nai
											time 23/09/2019
								.news-item
									figure.row
										.col-4.col-md-5.news-img
											img(src="img/n6.jpg", alt="alt")
										figcaption.col-8.col-md-7
											.news-name 
												a(href="#!") Công ty TNHH Chế Biến Dừa Lương Quới tham gia hội chợ hàng Việt Nam chất lượng cao 2019 tại Đồng Nai
											time 23/09/2019
				//- .news-group
					.news-cate-wrap
						.page-title2 Tin ngành dừa
						a.btn-viewmore(href="#!") Xem thêm
					.news-list2
						.news-item.big
							figure.row
								.col-12.col-md-6.news-img
									img(src="img/n2.png", alt="alt")
								figcaption.col-12.col-md-6
									.news-name 
										a(href="#!") Công ty TNHH Chế Biến Dừa Lương Quới tham gia hội chợ hàng Việt Nam chất lượng cao 2019 tại Đồng Nai
									time 23/09/2019
									.news-des Nằm trong khuôn khổ chuỗi Chương trình Hội chợ HVNCLC năm 2019, Hội chợ HVNCLC tại Đồng Nai năm nay sẽ được tổ chức từ ngày 28/08 đến 02/09/2019 tại Trung tâm Hội nghị và Tổ chức sự kiện tỉnh Đồng Nai - số 1 Nguyễn Ái Quốc, Tân Tiến, Thành phố Biên Hòa, Đồng Nai.
						.row
							.col-12.col-md-6
								.news-item
									figure.row
										.col-4.col-md-5.news-img
											img(src="img/n3.jpg", alt="alt")
										figcaption.col-8.col-md-7
											.news-name 
												a(href="#!") Công ty TNHH Chế Biến Dừa Lương Quới tham gia hội chợ hàng Việt Nam chất lượng cao 2019 tại Đồng Nai
											time 23/09/2019
								.news-item
									figure.row
										.col-4.col-md-5.news-img
											img(src="img/n4.jpg", alt="alt")
										figcaption.col-8.col-md-7
											.news-name 
												a(href="#!") Công ty TNHH Chế Biến Dừa Lương Quới tham gia hội chợ hàng Việt Nam chất lượng cao 2019 tại Đồng Nai
											time 23/09/2019
							.col-12.col-md-6
								.news-item
									figure.row
										.col-4.col-md-5.news-img
											img(src="img/n5.jpg", alt="alt")
										figcaption.col-8.col-md-7
											.news-name 
												a(href="#!") Công ty TNHH Chế Biến Dừa Lương Quới tham gia hội chợ hàng Việt Nam chất lượng cao 2019 tại Đồng Nai
											time 23/09/2019
								.news-item
									figure.row
										.col-4.col-md-5.news-img
											img(src="img/n6.jpg", alt="alt")
										figcaption.col-8.col-md-7
											.news-name 
												a(href="#!") Công ty TNHH Chế Biến Dừa Lương Quới tham gia hội chợ hàng Việt Nam chất lượng cao 2019 tại Đồng Nai
											time 23/09/2019
				//- .news-group
					.news-cate-wrap
						.page-title2 Tin khuyến mãi
						a.btn-viewmore(href="#!") Xem thêm
					.news-list2
						.news-item.big
							figure.row
								.col-12.col-md-6.news-img
									img(src="img/n2.png", alt="alt")
								figcaption.col-12.col-md-6
									.news-name 
										a(href="#!") Công ty TNHH Chế Biến Dừa Lương Quới tham gia hội chợ hàng Việt Nam chất lượng cao 2019 tại Đồng Nai
									time 23/09/2019
									.news-des Nằm trong khuôn khổ chuỗi Chương trình Hội chợ HVNCLC năm 2019, Hội chợ HVNCLC tại Đồng Nai năm nay sẽ được tổ chức từ ngày 28/08 đến 02/09/2019 tại Trung tâm Hội nghị và Tổ chức sự kiện tỉnh Đồng Nai - số 1 Nguyễn Ái Quốc, Tân Tiến, Thành phố Biên Hòa, Đồng Nai.
						.row
							.col-12.col-md-6
								.news-item
									figure.row
										.col-4.col-md-5.news-img
											img(src="img/n3.jpg", alt="alt")
										figcaption.col-8.col-md-7
											.news-name 
												a(href="#!") Công ty TNHH Chế Biến Dừa Lương Quới tham gia hội chợ hàng Việt Nam chất lượng cao 2019 tại Đồng Nai
											time 23/09/2019
								.news-item
									figure.row
										.col-4.col-md-5.news-img
											img(src="img/n4.jpg", alt="alt")
										figcaption.col-8.col-md-7
											.news-name 
												a(href="#!") Công ty TNHH Chế Biến Dừa Lương Quới tham gia hội chợ hàng Việt Nam chất lượng cao 2019 tại Đồng Nai
											time 23/09/2019
							.col-12.col-md-6
								.news-item
									figure.row
										.col-4.col-md-5.news-img
											img(src="img/n5.jpg", alt="alt")
										figcaption.col-8.col-md-7
											.news-name 
												a(href="#!") Công ty TNHH Chế Biến Dừa Lương Quới tham gia hội chợ hàng Việt Nam chất lượng cao 2019 tại Đồng Nai
											time 23/09/2019
								.news-item
									figure.row
										.col-4.col-md-5.news-img
											img(src="img/n6.jpg", alt="alt")
										figcaption.col-8.col-md-7
											.news-name 
												a(href="#!") Công ty TNHH Chế Biến Dừa Lương Quới tham gia hội chợ hàng Việt Nam chất lượng cao 2019 tại Đồng Nai
											time 23/09/2019
		.col-12.col-lg-4
			.sidebar-categories.mt-0
				.sidebar-title Danh mục tin tức
				nav.categories-link
					ul
						li
							a(href="#!") Tin công ty
						li
							a(href="#!") Tin ngành dừa
						li
							a(href="#!") Trách nhiệm xã hội
						li
							a(href="#!") Tin tuyển dụng
						li
							a(href="#!") Tin khuyến mãi
			.sidebar-news
				.sidebar-title 
					a(href="#!") Hình ảnh
				nav.sidebar-album-list
					ul
						li
							a(href="#!") Trụ sở chính
						li
							a(href="#!") Đơn vị trực thuộc
						li
							a(href="#!") Sự kiện nổi bật
						li
							a(href="#!") Khách hàng - đối tác
						li
							a(href="#!") Hoạt động công ty
			.sidebar-news
				.sidebar-title 
					a(href="#!") Video
				nav.sidebar-video-list
					ul
						li
							a(href="#!") Nước dừa tắt xi muội hạt chia
						li
							a(href="#!") Lương um nước cốt dừa
						li
							a(href="#!") Ếch ủ rơm chiên giòn
						li
							a(href="#!") Chè chuối nước cốt dừa
						li
							a(href="#!") Cá điêu hồng chiên giòn sốt cà chua
		//- .col-12.col-lg-4
			.news-page2
				.news-group
					.news-cate-wrap
						.news-cate-name Trách nhiệm xã hội
						a.btn-viewmore(href="#!") Xem thêm
					.news-list4
						.news-item
							figure
								.news-img
									img(src="img/n4.jpg", alt="alt")
								figcaption
									//- span.news-cate Photo
									.news-name 
										a(href="#!") Công ty TNHH Chế Biến Dừa Lương Quới tham gia lễ hội Phật Đảng 2019
									time 23/09/2019
					nav.news-list3
						ul
							li
								a(href="#!") Công ty TNHH Chế Biến Lương Quới đạt danh hiệu "Doanh nghiệp xuất khẩu uy tín" năm 2018
							li
								a(href="#!") Công ty TNHH Chế Biến Dừa Lương Quới tham gia lễ hội Phật Đảng 2019
							li
								a(href="#!") Công ty TNHH Chế Biến Dừa Lương Quới tham gia diễn đàn thương hiệu Việt Nam lần thứ 12
		//- .col-12.col-lg-4
			.news-page2
				.new-group
					.news-cate-wrap
						.news-cate-name Tin tuyển dụng
						a.btn-viewmore(href="#!") Xem thêm
					.news-list4
						.news-item
							figure
								.news-img
									img(src="img/n5.jpg", alt="alt")
								figcaption
									//- span.news-cate Photo
									.news-name 
										a(href="#!") Công ty TNHH Chế Biến Dừa Lương Quới tham gia diễn đàn thương hiệu Việt Nam lần thứ 12
									time 23/09/2019
					nav.news-list3
						ul
							li
								a(href="#!") Công ty TNHH Chế Biến Dừa Lương Quới tham gia hội chợ hàng Việt Nam chất lượng cao 2019 tại Đồng Nai
							li
								a(href="#!") Ấm áp tình đồng nghiệp qua chương trình "Nhà tình thương đồng nghiệp 2019"
							li
								a(href="#!") Nhân viên Công ty TNHH Chế Biến Dừa Lương Quới tham gia ngày hội hiến máu tình nguyện 2019
		//- .col-12.col-lg-4
			.news-page2
				.new-group
					.news-cate-wrap
						.news-cate-name Tin ngành dừa
						a.btn-viewmore(href="#!") Xem thêm
					.news-list4
						.news-item
							figure
								.news-img
									img(src="img/n6.jpg", alt="alt")
								figcaption
									//- span.news-cate Photo
									.news-name 
										a(href="#!") Vietcoco - có quyết tâm, sẽ chiến thắng
									time 23/09/2019
					nav.news-list3
						ul
							li
								a(href="#!") Công ty TNHH Chế Biến Lương Quới đạt danh hiệu "Doanh nghiệp xuất khẩu uy tín" năm 2018
							li
								a(href="#!") Công ty TNHH Chế Biến Dừa Lương Quới tham gia lễ hội Phật Đảng 2019
							li
								a(href="#!") Công ty TNHH Chế Biến Dừa Lương Quới tham gia diễn đàn thương hiệu Việt Nam lần thứ 12
	//- .news-page2
		.news-group
			.news-cate-wrap
				.news-cate-name Tin khuyến mãi
				a.btn-viewmore(href="#!") Xem thêm
			.news-list2
				.row
					.col-12.col-lg-6
						.news-item
							figure
								.news-img
									img(src="img/n7.jpg", alt="alt")
								figcaption
									//- span.news-cate Photo
									//- time 23/09/2019
									.news-name 
										a(href="#!") Đột phá trong chế biến, sản phẩm dừa Vietcoco chinh phục thị trường thế giới
									.news-des Nỗ lực không ngừng trong nghiên cứu & phát triển, những sản phẩm từ dừa mang tính đột phá giới thiệu ra thị trường bằng thương hiệu Vietcoco như sữa dừa uống, nước dừa hộp giấy Tetra Pak, dầu dừa nguyên chất ly tâm, nước cốt dừa, dừa sấy giòn, … của Công ty TNHH Chế Biến Dừa Lương Quới được khách hàng quốc tế và trong nước ngày một ưa chuộng.
									.link-wrap
										a.btn-link(href="#!") Chi tiết
					.col-12.col-lg-6
						.news-item
							figure
								.news-img
									img(src="img/n8.jpg", alt="alt")
								figcaption
									//- span.news-cate Photo
									//- time 23/09/2019
									.news-name 
										a(href="#!") VIETNAM EXPO 2019 - Gắn kết, chia sẻ cùng thành công
									.news-des Hội chợ thương mại quốc tế Việt Nam – VIETNAM EXPO 2019, diễn ra từ ngày 10/04 – 13/04/2019 do Chính phủ giao Bộ Công Thương (Cục Xúc tiến thương mại) chủ trì, phối hợp với các Bộ, ngành và địa phương, các tổ chức xúc tiến thương mại và Công ty Vinexad tổ chức thường niên tại Hà Nội từ năm 1991. Trải qua 28 năm, VIETNAM EXPO đã trở thành một trong những hoạt động xúc tiến thương mại có quy mô lớn nhất và ý nghĩa quan trọng đối với ngành Công Thương Việt Nam, đã tạo dựng được “tiếng vang” tới bạn bè quốc tế và hầu hết các doanh nghiệp trong nước.
									.link-wrap
										a.btn-link(href="#!") Chi tiết
					.col-12.col-lg-6
						.news-item
							figure
								.news-img
									img(src="img/n2.png", alt="alt")
								figcaption
									//- span.news-cate Photo
									//- time 23/09/2019
									.news-name 
										a(href="#!") Công ty TNHH Chế Biến Dừa Lương Quới tham gia hội chợ hàng Việt Nam chất lượng cao 2019 tại Đồng Nai
									.news-des Nằm trong khuôn khổ chuỗi Chương trình Hội chợ HVNCLC năm 2019, Hội chợ HVNCLC tại Đồng Nai năm nay sẽ được tổ chức từ ngày 28/08 đến 02/09/2019 tại Trung tâm Hội nghị và Tổ chức sự kiện tỉnh Đồng Nai - số 1 Nguyễn Ái Quốc, Tân Tiến, Thành phố Biên Hòa, Đồng Nai.
									.link-wrap
										a.btn-link(href="#!") Chi tiết
					.col-12.col-lg-6
						.news-item
							figure
								.news-img
									img(src="img/n2.jpg", alt="alt")
								figcaption
									//- span.news-cate Photo
									//- time 23/09/2019
									.news-name 
										a(href="#!") Ấm áp tình đồng nghiệp qua chương trình "Nhà tình thương đồng nghiệp 2019"
									.news-des Với mong muốn phát huy và giữ gìn truyền thống “Tương thân tương ái”, “Lá lành đùm lá rách” tốt đẹp của dân tộc Việt Nam. Hằng năm, Công ty TNHH Chế Biến Dừa Lương Quới luôn có các hoạt động thiết thực nhầm thể hiện sự quan tâm đến người lao động, trong đó có chương trình trao tặng “Nhà tình thương đồng nghiệp” cho các anh chị em nhân viên của công ty có hoàn cảnh khó khăn về nhà ở.
									.link-wrap
										a.btn-link(href="#!") Chi tiết
					.col-12.col-lg-6
						.news-item
							figure
								.news-img
									img(src="img/n3.jpg", alt="alt")
								figcaption
									//- span.news-cate Photo
									//- time 23/09/2019
									.news-name 
										a(href="#!") Nhân viên Công ty TNHH Chế Biến Dừa Lương Quới tham gia ngày hội hiến máu tình nguyện 2019
									.news-des Mỗi giọt máu là biểu hiện của sự sống và tiếp sức cho sự sống. Khi dòng máu chảy trong cơ thể một người chỉ là để duy trì sự sống nhưng khi dòng máu ấy chảy trong cơ thể nhiều người thì nó trở thành một làn sóng của yêu thương, chia sẻ và lan tỏa. Hiến máu nhân đạo là một nghĩa cử cao đẹp thể hiện sự hiểu biết, lòng nhân ái và trách nhiệm của mỗi cá nhân đối với cộng đồng.
									.link-wrap
										a.btn-link(href="#!") Chi tiết
					.col-12.col-lg-6
						.news-item
							figure
								.news-img
									img(src="img/n3.png", alt="alt")
								figcaption
									//- span.news-cate Photo
									//- time 23/09/2019
									.news-name 
										a(href="#!") Giải phóng miền Nam 30/04 & Quốc tế lao động
									.news-des Kính gửi: Quý khách hàng, Trước hết, Công ty TNHH Chế Biến Dừa Lương Quới xin chân thành cảm ơn sự quan tâm và ủng hộ của Quý khách hàng trong thời gian vừa qua.
									.link-wrap
										a.btn-link(href="#!") Chi tiết