section.breadcrumb-wrap
	.container
		ol.breadcrumb
			li
				a(href="#")
					span Trang chủ
			li
				a(href="#")
					span Thông tin tài khoản
.container
	.row.no-gutters
		.col-12.col-lg-3.col-xl-3
			section.user-info
				.img
					img(src="img/user.png", alt="")
				.caption
					.title Tài khoản của 
					.name Mai Quốc Qui
			nav.user-sidebar
				ul
					li
						a(href="#!") 
							.icon 
								i.material-icons person
							span Thông tin tài khoản
					li
						a(href="#!")
							.icon 
								i.material-icons notifications
							span Thông báo của tôi
					li
						a(href="#!")
							.icon 
								i.material-icons assignment
							span Quản lý đơn hàng
					li
						a(href="#!")
							.icon 
								i.material-icons place
							span Sổ địa chỉ
					li.active
						a(href="#!")
							.icon 
								i.material-icons favorite
							span Sản phẩm yêu thích
		.col-12.col-lg-9.col-xl-9
			section.user-page
				.page-title Sản phẩm yêu thích
				.product-list
					.row.no-gutters
						article.col-6.col-sm-4.col-md-3
							.product-item
								a.product-col(href='#!')
									figure
										.product-img
											img(src='img/product/1.jpg', alt='')
										figcaption
											h2.product-name Acer Nitro 5 Carbon AN515
											.product-price
												.new 20.990.000 đ
											.product-rating
												select.bar-rating
													option(value='1') 1
													option(value='2') 2
													option(value='3') 3
													option(value='4' selected="selected") 4
													option(value='5') 5
												span 70 đánh giá
								a.btn-remove(href="#!") Bỏ yêu thích
						article.col-6.col-sm-4.col-md-3
							.product-item
								a.product-col(href='#!')
									figure
										.product-img
											img(src='img/product/1.jpg', alt='')
										figcaption
											h2.product-name Acer Nitro 5 Carbon AN515
											.product-price
												.new 20.990.000 đ
											.product-rating
												select.bar-rating
													option(value='1') 1
													option(value='2') 2
													option(value='3') 3
													option(value='4' selected="selected") 4
													option(value='5') 5
												span 70 đánh giá
								a.btn-remove(href="#!") Bỏ yêu thích
						article.col-6.col-sm-4.col-md-3
							.product-item
								a.product-col(href='#!')
									figure
										.product-img
											img(src='img/product/1.jpg', alt='')
										figcaption
											h2.product-name Acer Nitro 5 Carbon AN515
											.product-price
												.new 20.990.000 đ
											.product-rating
												select.bar-rating
													option(value='1') 1
													option(value='2') 2
													option(value='3') 3
													option(value='4' selected="selected") 4
													option(value='5') 5
												span 70 đánh giá
								a.btn-remove(href="#!") Bỏ yêu thích
						article.col-6.col-sm-4.col-md-3
							.product-item
								a.product-col(href='#!')
									figure
										.product-img
											img(src='img/product/1.jpg', alt='')
										figcaption
											h2.product-name Acer Nitro 5 Carbon AN515
											.product-price
												.new 20.990.000 đ
											.product-rating
												select.bar-rating
													option(value='1') 1
													option(value='2') 2
													option(value='3') 3
													option(value='4' selected="selected") 4
													option(value='5') 5
												span 70 đánh giá
								a.btn-remove(href="#!") Bỏ yêu thích
						article.col-6.col-sm-4.col-md-3
							.product-item
								a.product-col(href='#!')
									figure
										.product-img
											img(src='img/product/1.jpg', alt='')
										figcaption
											h2.product-name Acer Nitro 5 Carbon AN515
											.product-price
												.new 20.990.000 đ
											.product-rating
												select.bar-rating
													option(value='1') 1
													option(value='2') 2
													option(value='3') 3
													option(value='4' selected="selected") 4
													option(value='5') 5
												span 70 đánh giá
								a.btn-remove(href="#!") Bỏ yêu thích