section.breadcrumb-wrap
	.container
		ol.breadcrumb
			li
				a(href="#")
					span Trang chủ
			li
				a(href="#")
					span Thông tin tài khoản
.container
	.row.no-gutters
		.col-12.col-lg-3.col-xl-3
			section.user-info
				.img
					img(src="img/user.png", alt="")
				.caption
					.title Tài khoản của 
					.name Mai Quốc Qui
			nav.user-sidebar
				ul
					li
						a(href="#!") 
							.icon 
								i.material-icons person
							span Thông tin tài khoản
					li.active
						a(href="#!")
							.icon 
								i.material-icons notifications
							span Thông báo của tôi
					li
						a(href="#!")
							.icon 
								i.material-icons assignment
							span Quản lý đơn hàng
					li
						a(href="#!")
							.icon 
								i.material-icons place
							span Sổ địa chỉ
					li
						a(href="#!")
							.icon 
								i.material-icons favorite
							span Sản phẩm yêu thích
		.col-12.col-lg-9.col-xl-9
			section.user-page
				.page-title Thông báo của tôi
				.user-notification
					ul#myTab.nav.nav-tabs.user-nav(role='tablist')
						li.nav-item
							a#home-tab.nav-link.active(data-toggle='tab', href='#home', role='tab', aria-controls='home', aria-selected='true') Tất cả
						li.nav-item
							a#profile-tab.nav-link(data-toggle='tab', href='#profile', role='tab', aria-controls='profile', aria-selected='false') Khuyến mãi
						li.nav-item
							a#contact-tab.nav-link(data-toggle='tab', href='#contact', role='tab', aria-controls='contact', aria-selected='false') Đơn hàng
					#myTabContent.tab-content
						#home.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='home-tab')
							.notification-list
								.item
									.notification-item.unread
										.icon
											img(src="img/icon/sale.png", alt="")
										.caption
											.name Cơ hội rinh ngay Iphone X, Macbook Air, Samsung Galaxy A8, Ipad 2018 khi mua sách học ngoại Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum earum non est. Qui, necessitatibus! Est culpa odit alias cumque veritatis!
												a(href="#!") Chi tiết
											time 19/07/2018
								.item
									.notification-item.unread
										.icon
											img(src="img/icon/sale.png", alt="")
										.caption
											.name Cơ hội rinh ngay Iphone X, Macbook Air, Samsung Galaxy A8, Ipad 2018 khi mua sách học ngoại...
											time 19/07/2018
								.item
									.notification-item.unread
										.icon
											img(src="img/icon/sale.png", alt="")
										.caption
											.name Cơ hội rinh ngay Iphone X, Macbook Air, Samsung Galaxy A8, Ipad 2018 khi mua sách học ngoại...
											time 19/07/2018
								.item
									.notification-item.unread
										.icon
											img(src="img/icon/sale.png", alt="")
										.caption
											.name Cơ hội rinh ngay Iphone X, Macbook Air, Samsung Galaxy A8, Ipad 2018 khi mua sách học ngoại...
											time 19/07/2018
								.item
									.notification-item
										.icon
											img(src="img/icon/sale.png", alt="")
										.caption
											.name Cơ hội rinh ngay Iphone X, Macbook Air, Samsung Galaxy A8, Ipad 2018 khi mua sách học ngoại...
											time 19/07/2018
								.item
									.notification-item
										.icon
											img(src="img/icon/sale.png", alt="")
										.caption
											.name Cơ hội rinh ngay Iphone X, Macbook Air, Samsung Galaxy A8, Ipad 2018 khi mua sách học ngoại...
											time 19/07/2018
								.item
									.notification-item
										.icon
											img(src="img/icon/sale.png", alt="")
										.caption
											.name Cơ hội rinh ngay Iphone X, Macbook Air, Samsung Galaxy A8, Ipad 2018 khi mua sách học ngoại...
											time 19/07/2018
								.item
									.notification-item
										.icon
											img(src="img/icon/sale.png", alt="")
										.caption
											.name Cơ hội rinh ngay Iphone X, Macbook Air, Samsung Galaxy A8, Ipad 2018 khi mua sách học ngoại...
											time 19/07/2018
								.item
									.notification-item
										.icon
											img(src="img/icon/sale.png", alt="")
										.caption
											.name Cơ hội rinh ngay Iphone X, Macbook Air, Samsung Galaxy A8, Ipad 2018 khi mua sách học ngoại...
											time 19/07/2018
						#profile.tab-pane.fade(role='tabpanel', aria-labelledby='profile-tab') ...
						#contact.tab-pane.fade(role='tabpanel', aria-labelledby='contact-tab') ...