section.breadcrumb-wrap.clearfix
	.breadcrumb-bg(style="background: url(img/br5.jpg) center center no-repeat;background-size:cover")
	.container
		ol.breadcrumb
			li
				a(href="#")
					span Trang chủ
			li
				a(href="#")
					span Vùng nguyên liệu
		h3.page-name
section.about-section.about-section10
	.container
		h3.about-title.text-center Bến Tre - Thủ phủ dừa Việt Nam
		.vnl-intro
			.content
				.row
					.col-12.col-md-4
						p Bến Tre là tỉnh có diện tích dừa lớn nhất trong cả nước, chiếm 40% diện tích dừa của Việt Nam, khoản 71.129 ha, sản lượng khoản 576,9 triệu trái năm 2015. Ngoài ra, năng suất bình quân của các giống dừa cao bản địa được tuyển chọn đạt hơn 60 quả/cây/năm, hàm lượng dầu đạt hơn 65% (Hàm lượng dầu cao nhất so với dừa cả nước).
					.col-12.col-md-4
						p Bến Tre nằm ở hạ nguồn sông Mekong được hợp thành bởi 3 cù lao lớn là cù lao An Hóa, cù lao Bảo và cù lao Minh, là những cụm cù lao cuối cùng nhận đẫm phù sa của dòng Mekong trước khi chảy ra biển cả, hình thành vùng đất phù sa màu mỡ, giàu mùn, là nguồn dinh dưỡng hữu cơ tự nhiên, tạo điều kiện thuận lợi cho những vườn dừa được khoác lên mình vẻ xanh tươi và năng suất ra trái cao hơn các vùng khác.
					.col-12.col-md-4
						.img
							img(src="img/vnl.jpg", alt="alt")
		.row
			.col-12.col-md-8.col-lg-9
				.content
					.row
						.col-3.col-lg-2
							.img
								img(src="img/vnl.jpg", alt="alt")
						.col-9.col-lg-10
							h5.text-uppercase 
								strong BÌNH ĐỊNH
							p Dừa tam quan - Bình Định có diện tích dừa lớn thứ hai cả nước sau Bến Tre, khoảng 
								strong 13.000 ha 
								|với 
								strong trên 2 triệu cây
								|. Diện tích dừa tập trung nhiều nhất ở các huyện Hoài Nhơn, Phù Cát, Phù Mỹ.
					.row
						.col-3.col-lg-2
							.img
								img(src="img/vnl.jpg", alt="alt")
						.col-9.col-lg-10
							h5.text-uppercase 
								strong KHÁNH HÒA
							p Với khí hậu và thổ nhưỡng thích hợp, cây dừa ở phường Ninh Đa đã trở thành đặc sản nổi tiếng. Diện tích trồng dừa với khoảng 
								strong 3.000 cây 
								|đang cho thu hoạch, mỗi năm cung cấp cho thị trường trên dưới 
								strong 60.000 quả
								|.
					.row
						.col-3.col-lg-2
							.img
								img(src="img/vnl.jpg", alt="alt")
						.col-9.col-lg-10
							h5.text-uppercase 
								strong TÂY NINH
							p Thị xã Tây Ninh là trung tâm kinh tế - chính trị - văn hoá của tỉnh. Tây Ninh có các nhóm đất chính: đất xám có diện tích 338.833 ha chiếm khoảng 84,13% diện tích tự nhiên của toàn tỉnh. Diện tích trồng dừa khoảng 
								strong 100 ha
								|, cung cấp hằng năm cho thị trường trên dưới 
								strong 200.000 quả dừa/năm
								|.
					.row
						.col-3.col-lg-2
							.img
								img(src="img/vnl.jpg", alt="alt")
						.col-9.col-lg-10
							h5.text-uppercase
								strong CÀ MAU
							p Tỉnh Cà Mau vừa phê duyệt quy hoạch phát triển cây dừa đến năm 2020 và tầm nhìn đến năm 2030. Theo đó, phấn đấu đến năm 2020 phát triển mới 
								strong 2.000 ha 
								|dừa, nâng tổng diện tích dừa lên 
								strong 7.000 ha
								|.
					.row
						.col-3.col-lg-2
							.img
								img(src="img/vnl.jpg", alt="alt")
						.col-9.col-lg-10
							h5.text-uppercase
								strong BẾN TRE
							p Bến Tre - xứ sở dừa Việt Nam, nơi có diện tích trồng dừa lớn nhất cả nước khoảng 
								strong 71.129 ha
								|, sản lượng khoảng 
								strong 576.9 triệu quả 
								|năm 2015. Cây dừa đã góp phần to lớn vào sự phát triển kinh tế của tỉnh, có thể nói là cây xóa đói, giảm nghèo, giải quyết việc làm cho hàng ngàn lao động, cải thiện đời sống, đồng thời góp một phần đáng kể vào ngân sách địa phương.
			.col-12.col-md-4.col-lg-3
				img(src="img/map.png", alt="alt")
section.about-section.about-section11
	.container
		h3.about-title.text-center PHÁT TRIỂN VÙNG NGUYÊN LIỆU HỮU CƠ
		.content
			.row
				.col-12.col-md-4
					.img
						img(src="img/vnl.jpg", alt="alt")
				.col-12.col-md-8
						p Thực phẩm hữu cơ là một trong những xu hướng tiêu dùng được ưa chuộng nhất hiện nay và đang được các nhà sản xuất trên thế giới hướng tới. Việt Nam là một trong những quốc gia góp phần tiên phong trong việc thay đổi cơ cấu sản xuất, đầu tư vùng trồng hữu cơ nhằm đáp ứng nhu cầu của người tiêu dùng.   
						p Bắt kịp xu hướng này, Công ty TNHH Chế Biến Dừa Lương Quới đã mạnh dạn đầu tư phát triển nguồn nguyên liệu hữu cơ đưa vào sản xuất, đảm bảo sản phẩm đạt tiêu chuẩn hữu cơ USDA của Hoa Kỳ, EU và JAS của Nhật do tổ chức Contron Union -  Mạng lưới toàn cầu về tư vấn và kiểm định chất lượng cấp chứng nhận từ năm 2015 . Công ty TNHH Chế Biến Dừa Lương Quới đã từng bước định hướng xây dựng và phát triển vùng nguyên liệu dừa theo tiêu chuẩn hữu cơ, Công ty cam kết mang đến những sản phẩm sạch, chất lượng cao với nguồn dưỡng chất tốt nhất từ quả dừa đến tay người tiêu dùng trong và ngoài nước.
						p Từ năm 2015, vùng nguyên liệu dừa hữu cơ của Công ty luôn phát triển theo chiều hướng tích cực từ diện tích đến sản lượng, ban đầu từ 400 ha với sản lượng 6 triệu trái/năm đến nay đã phát triển trên 2.900 ha với sản lượng tương đương 41 triệu trái/năm. Địa bàn chủ lực để phát triển vùng nguyên liệu dừa hữu cơ phân bố ở 4 huyện có diện tích, sản lượng và chất lượng đứng đầu tỉnh Bến Tre đó là Mỏ Cày Nam, Giồng Trôm, Bình Đại, Thạnh Phú.
			p Vùng nguyên liệu hữu cơ của công ty Dừa Lương Quới luôn tuân thủ theo nguyên tắc canh tác:
			ul
				li Không sử dụng phân hóa học.
				li Không sử dụng thuốc bảo vệ thực vật có nguồn gốc hóa học.
				li Không chăn thả gia súc gia cầm trên vườn dừa.
				li Nguồn dinh dưỡng cho vườn dừa được sử dụng từ phân hữu cơ, hữu cơ vi sinh, sự phân hủy từ các chất hữu cơ có sẵn thông qua tàn dư thực vật, nguồn dinh dưỡng từ phù sa tự nhiên là bồi bùn….
			p Công ty thường xuyên phối hợp với sở ban ngành có liên quan, các cấp chính quyền địa phương để mở các lớp tập huấn và hỗ trợ kỹ thuật canh tác cho các nông hộ canh tác dừa hữu cơ. Bộ phận ICS-thanh tra nội bộ (được tập huấn và cấp chứng nhận bởi Control Union) của công ty có trách nhiệm hướng dẫn và kiểm tra giám sát trong quá trình canh tác của người nông hộ (ít nhất 01 lần/tháng) để đảm bảo sự tuân thủ đúng tiêu chuẩn hữu cơ cũng như kịp thời phát hiện và điều chỉnh những sai phạm. Các nông hộ được cấp Sổ tay canh tác, Nhật ký canh tác và tiến hành ghi chép các hoạt động trên vườn dừa. Bên cạnh đó công ty cũng đảm bảo thu mua mức giá dừa trái hữu cơ với các nông hộ canh tác theo đúng tiêu chuẩn cao hơn thị trường từ 5-20%.
			p Công ty TNHH Chế Biến Dừa Lương Quới đã khẳng định vị trí tiên phong trong ngành công nghiệp chế biến dừa tại Việt Nam cũng như phát triển diện tích canh tác hữu cơ mỗi năm nhằm đảm bảo nguồn cung ứng nguyên liệu dồi dào trong sản xuất, nhu cầu của người tiêu dùng. Chúng tôi sẽ không ngừng đầu tư mở rộng diện tích trồng dừa hữu cơ, góp phần phát triển kinh tế tỉnh Bến Tre ngày càng giàu mạnh hơn, bền vững hơn. 
section.about-section.about-section12
	.container
		h3.about-title.text-center VÙNG NGUYÊN LIỆU DỒI DÀO
		.content
			.row
				.col-12.col-md-8
					p 
						strong HÌNH THỨC HỢP TÁC
					p Công ty ký hợp đồng canh tác và thu mua dừa hữu cơ với các nông hộ trồng dừa. Công ty thường xuyên phối hợp với các cấp chính quyền địa phương để mở các lớp tập huấn về phương pháp và hỗ trợ kỹ thuật canh tác cũng như hỗ trợ cho các nông hộ nguồndinh dưỡng hữu cơ, nguồn vi sinh để u phân bón cho cây dừa.
					p Hỗ trợ thu mua dừa trái hữu cơ với mức giá cao hơn thị trường từ 3-10%.
					p 
						strong HÌNH THỨC KIỂM TRA GIÁM SÁT
					p Các hộ nông dân được cấp Sổ tay canh tác, Nhật ký canh tác và tiến hành ghi chép các hoạt động trên vườn dừa.
					p Bộ phận ICS - Thanh tra nội bộ (được Control Union tập huấn và cấp Chứng nhận) tiến hành kiểm tra
					p Nhật ký canh tác, vườn dừa của các hộ nông dân với tần suất tối thiểu 01 lần/tháng để đảm bảo chất lượng và năng suất vườn dừa.
				.col-12.col-md-4
					.img
						img(src="img/vnl2.png", alt="alt")



















