section.breadcrumb-wrap.clearfix
	.breadcrumb-bg(style="background: url(img/br4.jpg) center center no-repeat;background-size:cover")
	.container
		ol.breadcrumb
			li
				a(href="#")
					span Trang chủ
			li
				a(href="#")
					span Video
		h3.page-name Video

.container
	.row
		.col-12.col-lg-9
			section.video-page
				.video-list
					.row
						.col-12.col-lg-6
							a.video-item(href="https://www.youtube.com/watch?v=2fdlmoPe-eE" data-fancybox)
								.img.d-block()
									img(src="img/v1.png", alt="alt")
								.info
									.name Nước dừa tắc xí muội hạt chia
									time 19/05/2019
						.col-12.col-lg-6
							a.video-item(href="https://www.youtube.com/watch?v=2fdlmoPe-eE" data-fancybox)
								.img.d-block()
									img(src="img/v2.png", alt="alt")
								.info
									.name Lương um nước cốt dừa
									time 19/05/2019
						.col-12.col-lg-6
							a.video-item(href="https://www.youtube.com/watch?v=2fdlmoPe-eE" data-fancybox)
								.img.d-block()
									img(src="img/v3.png", alt="alt")
								.info
									.name Ếch ủ rơm chiên giòn
									time 19/05/2019
						.col-12.col-lg-6
							a.video-item(href="https://www.youtube.com/watch?v=2fdlmoPe-eE" data-fancybox)
								.img.d-block()
									img(src="img/v4.png", alt="alt")
								.info
									.name Chè chuối nước cốt dừa
									time 19/05/2019
						.col-12.col-lg-6
							a.video-item(href="https://www.youtube.com/watch?v=2fdlmoPe-eE" data-fancybox)
								.img.d-block()
									img(src="img/v5.png", alt="alt")
								.info
									.name Cá diêu hồng chiên giòn xốt cà chua
									time 19/05/2019
						.col-12.col-lg-6
							a.video-item(href="https://www.youtube.com/watch?v=2fdlmoPe-eE" data-fancybox)
								.img.d-block()
									img(src="img/v6.png", alt="alt")
								.info
									.name Nước cốt dừa Vietcoco
									time 19/05/2019
						.col-12.col-lg-6
							a.video-item(href="https://www.youtube.com/watch?v=2fdlmoPe-eE" data-fancybox)
								.img.d-block()
									img(src="img/v7.png", alt="alt")
								.info
									.name Nước dừa hộp giấy Vietcoco
									time 19/05/2019
						.col-12.col-lg-6
							a.video-item(href="https://www.youtube.com/watch?v=2fdlmoPe-eE" data-fancybox)
								.img.d-block()
									img(src="img/v8.png", alt="alt")
								.info
									.name Hội chợ 2019
									time 19/05/2019
							
				//- .video-block
					.video-frame
						iframe(width='100%' height='440px' src='https://www.youtube.com/embed/2fdlmoPe-eE' frameborder='0' allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture' allowfullscreen)
					.video-list
						a.video-item(href="https://www.youtube.com/watch?v=2fdlmoPe-eE" data-fancybox).active
							.img
								img(src="img/v1.png", alt="alt")
							.info
								.name Nước dừa tắc xí muội hạt chia
								time 19/05/2019
						a.video-item(href="https://www.youtube.com/watch?v=2fdlmoPe-eE" data-fancybox)
							.img
								img(src="img/v1.png", alt="alt")
							.info
								.name Nước dừa tắc xí muội hạt chia
								time 19/05/2019
						a.video-item(href="https://www.youtube.com/watch?v=2fdlmoPe-eE" data-fancybox)
							.img
								img(src="img/v1.png", alt="alt")
							.info
								.name Nước dừa tắc xí muội hạt chia
								time 19/05/2019
						a.video-item(href="https://www.youtube.com/watch?v=2fdlmoPe-eE" data-fancybox)
							.img
								img(src="img/v1.png", alt="alt")
							.info
								.name Nước dừa tắc xí muội hạt chia
								time 19/05/2019
						a.video-item(href="https://www.youtube.com/watch?v=2fdlmoPe-eE" data-fancybox)
							.img
								img(src="img/v1.png", alt="alt")
							.info
								.name Nước dừa tắc xí muội hạt chia
								time 19/05/2019
						a.video-item(href="https://www.youtube.com/watch?v=2fdlmoPe-eE" data-fancybox)
							.img
								img(src="img/v1.png", alt="alt")
							.info
								.name Nước dừa tắc xí muội hạt chia
								time 19/05/2019
						a.video-item(href="https://www.youtube.com/watch?v=2fdlmoPe-eE" data-fancybox)
							.img
								img(src="img/v1.png", alt="alt")
							.info
								.name Nước dừa tắc xí muội hạt chia
								time 19/05/2019
		.col-12.col-lg-3
			.sidebar-categories
				nav.categories
					ul
						li
							a(href="#!") Danh mục video 1
						li.active
							a(href="#!") Danh mục video 2
						li
							a(href="#!") Danh mục video 3
						li
							a(href="#!") Danh mục video 4