section.breadcrumb-wrap.clearfix
	.breadcrumb-bg(style="background: url(img/br5.jpg) center center no-repeat;background-size:cover")
	h3.page-name Vùng nguyên liệu
section.vnl-section
	.container
		.row
			.col-12.col-md-6
				.content-block
					.home-title Bến Tre
						br
						|Thủ phủ dừa Việt Nam
					.content
						p Bến Tre - xứ sở dừa Việt Nam, nơi có diện tích trồng dừa lớn nhất cả nước, chiếm 40% diện tích dừa của Việt Nam, khoảng 72.022 ha, sản lượng 612.500 trái, năng suất 9.500 trái/ha, hàm lượng dầu đạt hơn 65% so với các vùng trồng khác.
			.col-12.col-md-6
				.img
					img(src="img/chart.png", alt="alt" style="max-width:500px")
section.vnl2-section
	.bg
		img(src="img/vnl.jpg", alt="alt")
	.container
		.row
			.col-12.col-lg-5
				.home-title BẾN TRE – DỪA TẠO RA SỰ KHÁC BIỆT
			.col-12.col-lg-7
				.content
					p Bến Tre nằm ở hạ nguồn sông Mekong, được hợp thành bởi 3 cù lao lớn, là những cụm cù lao cuối cùng nhận đẫm phù sa của dòng Mekong trước khi chảy ra biển hình thành nguồn đất phù sa màu mỡ, giàu mùn, là nguồn dinh dưỡng hữu cơ tự nhiên tạo nên những quả dừa Bến Tre khác biệt. Dừa trái to, cơm dầy, giàu dưỡng chất, giàu dầu, nước dừa cực tươi, ngon ngọt. 
			.col-12.col-md-5
				.img
					img(src="img/vnl.jpg", alt="alt")
			.col-12.col-md-4
				.img
					img(src="img/tnbg.jpg", alt="alt")
			.col-12.col-md-3
				.img
					img(src="img/gtcl.jpg", alt="alt")
section.ptvnl-section
	.container
		.row.no-gutters
			.col-12.col-md-6
				.img-block
					img(src="img/gtcl.jpg", alt="alt")
			.col-12.col-md-6
				.content-block
					h3.home-title PHÁT TRIỂN VÙNG NGUYÊN LIỆU HỮU CƠ
					.content
						p 
							//- |Công ty TNHH Chế Biến Dừa Lương Quới chú trọng phát triển vùng nguyên liệu hữu cơ từ cuối năm 2014 đến nay, không ngừng mở rộng tăng thêm diện tích trồng dừa hữu cơ qua từng năm, xây dựng nguyên liệu hữu cơ phát triển bền vững. 
							|Giá trị sản phẩm từ nguyên liệu của vùng trồng đến tạo ra thành phẩm luôn đảm bảo tiêu chuẩn hữu cơ USDA của Hoa Kỳ, EU và JAS của Nhật do tổ chức Contron Union -  Mạng lưới toàn cầu về tư vấn và kiểm định chất lượng
						p Vùng nguyên liệu hữu cơ của công ty Dừa Lương Quới luôn tuân thủ theo nguyên tắc canh tác:
						ul
							li 
								strong Không sử dụng phân hóa học.
							li
								strong Không sử dụng thuốc bảo vệ thực vật có nguồn gốc hóa học.
							li
								strong Không chăn thả gia súc gia cầm trên vườn dừa.
				
			//- p Nguồn dinh dưỡng cho vườn dừa được sử dụng từ phân hữu cơ, hữu cơ vi sinh, sự phân hủy từ các chất hữu cơ có sẵn thông qua tàn dư thực vật, nguồn dinh dưỡng từ phù sa tự nhiên là bồi bùn….
			//- p Công ty thường xuyên phối hợp với sở ban ngành có liên quan, các cấp chính quyền địa phương để mở các lớp tập huấn và hỗ trợ kỹ thuật canh tác cho các nông hộ canh tác dừa hữu cơ. Bộ phận ICS-thanh tra nội bộ (được tập huấn và cấp chứng nhận bởi Control Union) của công ty có trách nhiệm hướng dẫn và kiểm tra giám sát trong quá trình canh tác của người nông hộ (ít nhất 01 lần/tháng) để đảm bảo sự tuân thủ đúng tiêu chuẩn hữu cơ cũng như kịp thời phát hiện và điều chỉnh những sai phạm. Các nông hộ được cấp Sổ tay canh tác, Nhật ký canh tác và tiến hành ghi chép các hoạt động trên vườn dừa. Bên cạnh đó công ty cũng đảm bảo thu mua mức giá dừa trái hữu cơ với các nông hộ canh tác theo đúng tiêu chuẩn cao hơn thị trường từ 5-20%.
			//- .row
			//- 	.col-12.col-md-6
			//- 		.nlhk
			//- 			img(src="img/vnl4.jpg", alt="alt")
			//- 	.col-12.col-md-6
			//- 		.nlhk
			//- 			img(src="img/vnl5.jpg", alt="alt")
//- section.about-section.about-section12
	.container
		h3.about-title.text-center VÙNG NGUYÊN LIỆU DỒI DÀO
		.content
			.row
				.col-12.col-md-8
					p 
						strong HÌNH THỨC HỢP TÁC
					p Công ty ký hợp đồng canh tác và thu mua dừa hữu cơ với các nông hộ trồng dừa. Công ty thường xuyên phối hợp với các cấp chính quyền địa phương để mở các lớp tập huấn về phương pháp và hỗ trợ kỹ thuật canh tác cũng như hỗ trợ cho các nông hộ nguồndinh dưỡng hữu cơ, nguồn vi sinh để u phân bón cho cây dừa.
					p Hỗ trợ thu mua dừa trái hữu cơ với mức giá cao hơn thị trường từ 3-10%.
					p 
						strong HÌNH THỨC KIỂM TRA GIÁM SÁT
					p Các hộ nông dân được cấp Sổ tay canh tác, Nhật ký canh tác và tiến hành ghi chép các hoạt động trên vườn dừa.
					p Bộ phận ICS - Thanh tra nội bộ (được Control Union tập huấn và cấp Chứng nhận) tiến hành kiểm tra
					p Nhật ký canh tác, vườn dừa của các hộ nông dân với tần suất tối thiểu 01 lần/tháng để đảm bảo chất lượng và năng suất vườn dừa.
				.col-12.col-md-4
					.img
						img(src="img/vnl2.png", alt="alt")