section.breadcrumb-wrap
	.breadcrumb-bg(style="background: url(img/banner.jpg) center center no-repeat;background-size:cover")
	.page-name Giới thiệu
nav.horizon-nav
	.container
		ul
			li.active
				a(href="#!") Về công ty
			li
				a(href="#!") Lịch sử phát triển
			li
				a(href="#!") Hệ thống quản trị
			li
				a(href="#!") Đơn vị trực thuộc
			li
				a(href="#!") Thành tích nổi bật
section.vct-section
	.container
		//- .title
			h4 KHẲNG ĐỊNH
			h3 VỊ TRÍ TIÊN PHONG
			h5 Ngành chế biến dừa Việt Nam
		.row
			.col-12.col-md-6
				.img-block
					.img1
						img(src="img/about1.jpg", alt="alt")
						.icon
							img(src="img/dua2.png", alt="alt")
					.img2
						img(src="img/about2.jpg", alt="alt")
			.col-12.col-md-6
				.content-block
					.home-stitle Giới thiệu
					.home-title Câu chuyện về Lương Quới
					.content
						p Công ty TNHH Chế Biến Dừa Lương Quới được thành lập năm 1997 và bắt đầu hành trình gia tăng giá trị cho trái dừa bằng những sản phẩm chất lượng cao. Trải qua hơn 20 năm không ngừng đổi mới và sáng tạo, công ty TNHH Chế Biến Dừa Lương Quới đang từng bước khẳng định vị thế dẫn đầu trong ngành chế biến dừa, mang cây dừa Việt vươn ra thế giới với những sản phẩm mang thương hiệu Vietcoco.
				.strong-block
					.strong-title.text-center Khẳng định vị trí tiên phong ngành
						br
						|chế biến dừa Việt Nam
section.tnsm-section
	.bg
		img(src="img/smbg.jpg", alt="alt")
	.container
		.row
			.col-12.col-md-5
				.img-block
					img(src="img/smbg.jpg", alt="alt")
			.col-12.col-md-7
				.row
					.col-12.col-md-6
						.tn-block
							//- .bg
								img(src="img/tnbg.jpg", alt="alt")
							.home-title Tầm nhìn
							.content
								p Công ty TNHH Chế Biến Dừa Lương Quới nỗ lực trở thành một trong những doanh nghiệp sản xuất, cung cấp các sản phẩm từ dừa với chất lượng cao hàng đầu khu vực Châu Á Thái Bình Dương
					.col-12.col-md-6
						.sm-block
							//- .bg
								img(src="img/smbg.jpg", alt="alt")
							.home-title Sứ mệnh
							.content
								p Chúng tôi cam kết mang đến cho cộng đồng những sản phẩm chất lượng cao bằng sự chân thành và trách nhiệm với xã hội.
section.gtcl-section
	.container
		.row.no-gutters
			.col-12.col-md-6
				.content-block
					.home-title Giá trị cốt lõi
					.content
						.gt-col
							.icon
								img(src="img/ic1.png", alt="alt")
							.caption
								.name Chính trực
								.des Trung thực trong tất cả giao dịch
						.gt-col
							.icon
								img(src="img/ic2.png", alt="alt")
							.caption
								.name An toàn
								.des Đảm bảo sức khỏe và an toàn của nhân viên
						.gt-col
							.icon
								img(src="img/ic3.png", alt="alt")
							.caption
								.name Trách nhiệm
								.des Trách nhiệm với từng hành động, sản phẩm, chính sách của Công ty, nhân viên
						.gt-col
							.icon
								img(src="img/ic4.png", alt="alt")
							.caption
								.name Chất lượng
								.des Hướng đến chất lượng sản phẩm
						.gt-col
							.icon
								img(src="img/ic5.png", alt="alt")
							.caption
								.name Cộng đồng
								.des Thể hiện trách nhiệm xã hội doanh nghiệp
			.col-12.col-md-6
				.img-block
					img(src="img/gtcl.jpg", alt="alt")